<prs-loading *ngIf="infoLoading"></prs-loading>
<div class="add-tour">
  <form [formGroup]="userForm">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>پروفایل</h2>
        </div>
      </div>
      <div class="info-tour-body">
<!--        <div class="top">-->
<!--          <div class="item-info">-->
<!--            <label>نام</label>-->
<!--            <input [formControl]="nameFC" type="text">-->
<!--            <div *ngIf="errorsService.hasError('name')">-->
<!--              <span class="text-danger">{{errorsService.getError('name')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item-info">-->
<!--            <label>نام خانوادگی</label>-->
<!--            <input [formControl]="familyFC" type="text">-->
<!--            <div *ngIf="errorsService.hasError('family')">-->
<!--              <span class="text-danger">{{errorsService.getError('family')}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="top">
<!--          <div class="item-info-2">-->
<!--            <div class="item-info w-100">-->
<!--              <label>نام کاربری</label>-->
<!--              <input [formControl]="usernameFC" type="text">-->
<!--              <div *ngIf="errorsService.hasError('username')">-->
<!--                <span class="text-danger">{{errorsService.getError('username')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام آژانس</label>
              <input [formControl]="agencyFC" type="text">
              <div *ngIf="errorsService.hasError('agency.name')">
                <span class="text-danger">{{errorsService.getError('agency.name')}}</span>
              </div>
            </div>

          </div>

        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>سایت</label>
              <input [formControl]="siteFC" type="text">
              <div *ngIf="errorsService.hasError('agency.site')">
                <span class="text-danger">{{errorsService.getError('agency.site')}}</span>
              </div>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تعداد کارمندان</label>
              <input [formControl]="crewCountFC" type="text">
              <div *ngIf="errorsService.hasError('agency.crewCount')">
                <span class="text-danger">{{errorsService.getError('agency.crewCount')}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل</label>
              <input [formControl]="emailFC" type="text">
              <div *ngIf="errorsService.hasError('agency.email')">
                <span class="text-danger">{{errorsService.getError('agency.email')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن اضطراری</label>
              <input [formControl]="necessaryPhoneFC" type="text">
              <div *ngIf="errorsService.hasError('agency.necessaryPhone')">
                <span class="text-danger">{{errorsService.getError('agency.necessaryPhone')}}</span>
              </div>
            </div>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن آژانس</label>
              <input [formControl]="tellFC" type="text">
              <div *ngIf="errorsService.hasError('agency.tell')">
                <span class="text-danger">{{errorsService.getError('agency.tell')}}</span>
              </div>
            </div>
          </div>
<!--          <div class="item-info-2">-->
<!--            <div class="item-info w-100">-->
<!--              <label>شماره همراه</label>-->
<!--              <input [formControl]="phoneFC" type="text">-->
<!--              <div *ngIf="errorsService.hasError('phone')">-->
<!--                <span class="text-danger">{{errorsService.getError('phone')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="address w-100">
          <div style="width: 100% !important;" class="item-info-2">
            <div class="item-info w-100">
              <label>آدرس</label>
              <textarea style="height: 70px;margin-top: 12px;width: 100%" [formControl]="addressFC" type="text"></textarea>
              <div *ngIf="errorsService.hasError('agency.address')">
                <span class="text-danger">{{errorsService.getError('agency.address')}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="item-info-2">
            <select name="" id="" [formControl]="commissionTypeFC" (change)="changeCommission()">
              <option [value]="1">درصدی</option>
              <option [value]="0">واحدی</option>
            </select>
            <div class="item-info w-100">
              <label>کمیسیون</label>
              <input [formControl]="commissionFC" type="number" *ngIf="commissionTypeFC.value === 0 || commissionTypeFC.value === '0'" >
              <input [formControl]="commissionFC" type="text" *ngIf="commissionTypeFC.value === 1  || commissionTypeFC.value === '1'">
              <div *ngIf="errorsService.hasError('commission')">
                <span class="text-danger">{{errorsService.getError('commission')}}</span>
              </div>
            </div>
          </div>
          <!--          <div class="item-info-upload">-->
          <!--            <div class="item-info w-100">-->
          <!--              <div class="top-one">-->
          <!--                <div class="item-info w-100">-->
          <!--&lt;!&ndash;                  <button class="btn-upload-img" (click)="getLogo()">لوگو خود را آپلود کنید</button>&ndash;&gt;-->
          <!--                  <span>لوگو</span>-->

          <!--                  <input class="file-input-upload" type="file"-->
          <!--                         id="file"-->
          <!--                         placeholder="لوگو را آپلود کنید"-->

          <!--                         (change)="getLogo($event)">-->
          <!--                </div>-->
          <!--                <div class="single-img-upload-parent" *ngIf="logo !== ''" >-->
          <!--                  <img [src]="publicService.setPrefix(logo)" width="100%" height="200" alt="">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div *ngIf="errorsService.hasError('agency.logo')">-->
          <!--                <span class="text-danger">{{errorsService.getError('agency.logo')}}</span>-->
          <!--              </div>-->
          <!--            </div>-->

          <!--          </div>-->
          <div class="item-info-upload">
            <!--            <div class="item-info w-100">-->
            <!--              <div class="top-one">-->
            <!--                <div class="item-info w-100">-->
            <!--<span>مجوز بند الف</span>-->
            <!--                  <input class="file-input-upload" type="file"-->
            <!--                         id="file"-->
            <!--                         placeholder="مجوز بند الف را آپلود کنید"-->

            <!--                         (change)="getLicenseA($event)">-->
            <!--                </div>-->
            <!--                <div class="single-img-upload-parent" *ngIf="LicenseFileA !== ''" >-->
            <!--                  <img [src]="publicService.setPrefix(LicenseFileA)" width="100%" height="200" alt="">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div *ngIf="errorsService.hasError('agency.LicenseFileA')">-->
            <!--                <span class="text-danger">{{errorsService.getError('agency.LicenseFileA')}}</span>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div style="margin-right: 15px" class="item-info w-100">-->
            <!--              <div class="top-one">-->
            <!--                <div class="item-info w-100">-->
            <!--                  <span>مجوز بند ب</span>-->

            <!--                  <input class="file-input-upload" type="file"-->
            <!--                         id="file"-->
            <!--                         placeholder="مجوز بند ب را آپلود کنید"-->
            <!--                         (change)="getLicenseB($event)">-->
            <!--                </div>-->
            <!--                <div class="single-img-upload-parent" *ngIf="LicenseFileB !== ''" >-->
            <!--                  <img [src]="publicService.setPrefix(LicenseFileB)" width="100%" height="200" alt="">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div *ngIf="errorsService.hasError('agency.LicenseFileB')">-->
            <!--                <span class="text-danger">{{errorsService.getError('agency.LicenseFileB')}}</span>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
        <prs-btn class="btn-submit-tour" [background]="'blue'" (click)="submit()" [isLoading]="isLoading"
                 [label]="'ثبت پروفایل'"></prs-btn>
      </div>
    </div>
  </form>



</div>

