<prs-loading *ngIf="infoLoading"></prs-loading>
<ng-template [ngIf]="!isAdmin">
  <div class="box-accept-2" *ngIf="!isAccepted || !isCompelete">
    <svg id="Information" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
      <path id="Path_991" data-name="Path 991" d="M1,12a27.833,27.833,0,0,0,.462,5.827A6.193,6.193,0,0,0,3,21a6.193,6.193,0,0,0,3.172,1.54A27.838,27.838,0,0,0,12,23a27.838,27.838,0,0,0,5.827-.462A6.193,6.193,0,0,0,21,21a6.193,6.193,0,0,0,1.54-3.172A27.838,27.838,0,0,0,23,12a27.838,27.838,0,0,0-.462-5.827A6.193,6.193,0,0,0,21,3a6.193,6.193,0,0,0-3.172-1.54A27.833,27.833,0,0,0,12,1a27.833,27.833,0,0,0-5.827.462A6.193,6.193,0,0,0,3,3a6.193,6.193,0,0,0-1.54,3.172A27.833,27.833,0,0,0,1,12Z" fill="none" stroke="#ff4241" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      <path id="Path_992" data-name="Path 992" d="M13,17a1,1,0,0,1-2,0V11a1,1,0,0,1,2,0ZM12,9a1,1,0,1,1,1-1A1,1,0,0,1,12,9Z" fill="#ff4241" fill-rule="evenodd"/>
    </svg>
    <span>اطلاعات شما ثبت شد در انتظار تایید از سمت ادمین</span>
  </div>
  
  <div class="box-accept-2" *ngIf="!isAccepted && !isCompelete">
    <svg id="Information" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
      <path id="Path_991" data-name="Path 991" d="M1,12a27.833,27.833,0,0,0,.462,5.827A6.193,6.193,0,0,0,3,21a6.193,6.193,0,0,0,3.172,1.54A27.838,27.838,0,0,0,12,23a27.838,27.838,0,0,0,5.827-.462A6.193,6.193,0,0,0,21,21a6.193,6.193,0,0,0,1.54-3.172A27.838,27.838,0,0,0,23,12a27.838,27.838,0,0,0-.462-5.827A6.193,6.193,0,0,0,21,3a6.193,6.193,0,0,0-3.172-1.54A27.833,27.833,0,0,0,12,1a27.833,27.833,0,0,0-5.827.462A6.193,6.193,0,0,0,3,3a6.193,6.193,0,0,0-1.54,3.172A27.833,27.833,0,0,0,1,12Z" fill="none" stroke="#ff4241" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      <path id="Path_992" data-name="Path 992" d="M13,17a1,1,0,0,1-2,0V11a1,1,0,0,1,2,0ZM12,9a1,1,0,1,1,1-1A1,1,0,0,1,12,9Z" fill="#ff4241" fill-rule="evenodd"/>
    </svg>
    <span>لطفا پروفایل خود را تکمیل کنید</span>
  </div>
  <div class="box-accept" *ngIf="isAccepted">
    <img src="../../../assets/img/success.png" width="45" alt="">
    <span>آژانس شما با موفقیت تایید شد</span>
  </div>
</ng-template>
<div *ngIf="(!isAdmin) && (!isAccepted)" class="add-tour">
  <form [formGroup]="userForm">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>پروفایل</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <h2 class="title">اطلاعات کاربر</h2>
        <div class="top">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام </label>
              <input [formControl]="nameFC" type="text">
              <div *ngIf="errorsService.hasError('name')">
                <span class="text-danger">{{errorsService.getError('name')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام خانوادگی</label>
              <input [formControl]="familyFC" type="text">
              <div *ngIf="errorsService.hasError('family')">
                <span class="text-danger">{{errorsService.getError('family')}}</span>
              </div>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>جنسیت</label>
              <select name="" id="" [formControl]="genderFC">
                <option value="0">مرد</option>
                <option value="1">زن</option>

              </select>
              <div *ngIf="errorsService.hasError('gender')">
                <span class="text-danger">{{errorsService.getError('gender')}}</span>
              </div>
            </div>

          </div>
          <div style="width: 32% !important;">
            <label style="position: relative;top: 14px">شهر</label>
            <prs-select-city *ngIf="show" [inCommingCity]="info.city ? info.city?.slugEn : null " [hasOriginTour]="false" [hasDestTour]="false"
                             (citySelected)="citySelected($event)" [type]="1" ></prs-select-city>
          </div>

          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل</label>
              <input [formControl]="emailFC" type="text">
              <div *ngIf="errorsService.hasError('email')">
                <span class="text-danger">{{errorsService.getError('email')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>کدملی</label>
              <input [formControl]="idCodeFC" type="text">
              <div *ngIf="errorsService.hasError('id_code')">
                <span class="text-danger">{{errorsService.getError('id_code')}}</span>
              </div>
            </div>

          </div>
        </div>
        <h2 style="margin: 2rem 0 0 0 !important;" class="title">اطلاعات آژانس</h2>
        <div class="top">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام آژانس</label>
              <input [formControl]="agencyNameFC" type="text">
              <div *ngIf="errorsService.hasError('agency.name')">
                <span class="text-danger">{{errorsService.getError('agency.name')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>سایت</label>
              <input [formControl]="siteFC" type="text">
              <div *ngIf="errorsService.hasError('agency.site')">
                <span class="text-danger">{{errorsService.getError('agency.site')}}</span>
              </div>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل شرکت</label>
              <input [formControl]="emailFC" type="text">
              <div *ngIf="errorsService.hasError('agency.email')">
                <span class="text-danger">{{errorsService.getError('agency.email')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن اضطراری</label>
              <input [formControl]="necessaryPhoneFC" type="text">
              <div *ngIf="errorsService.hasError('agency.necessaryPhone')">
                <span class="text-danger">{{errorsService.getError('agency.necessaryPhone')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن آژانس</label>
              <input [formControl]="tellFC" type="text">
              <div *ngIf="errorsService.hasError('agency.tell')">
                <span class="text-danger">{{errorsService.getError('agency.tell')}}</span>
              </div>
            </div>
          </div>
          <div class="address w-100">
            <div style="width: 100% !important;" class="item-info-2">
              <div class="item-info w-100">
                <label>آدرس آژانس</label>
                <textarea style="height: 70px;margin-top: 12px;width: 100%" [formControl]="addressFC"
                          type="text"></textarea>
                <div *ngIf="errorsService.hasError('agency.address')">
                  <span class="text-danger">{{errorsService.getError('agency.address')}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">

          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">

                  <span>لوگو</span>

                  <input class="file-input-upload" type="file" id="file" placeholder="لوگو را آپلود کنید"
                         (change)="getLogo($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="logo?.url !== ''">
                  <img [src]="logo ? logo.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.logo')">
                <span class="text-danger">{{errorsService.getError('agency.logo')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند الف</span>
                  <input class="file-input-upload" type="file" id="file" placeholder="مجوز بند الف را آپلود کنید"
                         (change)="getLicenseA($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="LicenseFileA?.url !== ''">
                  <img [src]="LicenseFileA ? LicenseFileA.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.LicenseFileA')">
                <span class="text-danger">{{errorsService.getError('agency.LicenseFileA')}}</span>
              </div>
            </div>
            <div style="margin-right: 15px" class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند ب</span>

                  <input class="file-input-upload" type="file" id="file" placeholder="مجوز بند ب را آپلود کنید"
                         (change)="getLicenseB($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="LicenseFileB?.url !==''">
                  <img [src]="LicenseFileB ? LicenseFileB.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.LicenseFileB')">
                <span class="text-danger">{{errorsService.getError('agency.LicenseFileB')}}</span>
              </div>
            </div>
          </div>
        </div>
        <prs-btn class="btn-submit-tour" [background]="'blue'" (click)="submit()" [isLoading]="isLoading"
                 [label]="'ثبت پروفایل'"></prs-btn>
      </div>
    </div>
  </form>


</div>
<!-- <prs-info ></prs-info> -->
<div class="add-tour" *ngIf="!isAdmin && (isAccepted && isCompelete)">
  <div class="box-info-tour">

    <div class="info-tour-body">
      <h2 class="title mt-3">اطلاعات کاربر</h2>
      <div class="top">
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>نام </label>
            <span>{{ info.name }}</span>
          </div>

        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>نام خانوادگی</label>
            <span>{{ info.family }}</span>

          </div>
        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>جنسیت</label>
            <span>{{ info.gender == '0' ? 'مرد' : 'زن' }}</span>

          </div>

        </div>
        <div class="item-info-2">
          <label>شهر</label>
          <span>{{ info.city?.name }}</span>
        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>ایمیل</label>
            <span>{{ info.email }}</span>

          </div>

        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>کدملی</label>
            <span>{{ info.id_code }}</span>
          </div>

        </div>
      </div>
      <h2 style="margin: 2rem 0 0 0 !important;" class="title">اطلاعات آژانس</h2>
      <div class="top">
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>نام آژانس</label>
            <span>{{ info.agency.name }}</span>

          </div>

        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>سایت</label>
            <span>{{ info.agency.site }}</span>
          </div>
        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>ایمیل شرکت</label>
            <span>{{ info.agency.email }}</span>
          </div>
        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>تلفن اضطراری</label>

            <span>{{ info.agency.necessaryPhone }}</span>

          </div>

        </div>
        <div class="item-info-2">
          <div class="item-info w-100">
            <label>تلفن آژانس</label>
            <span>{{ info.agency.tell }}</span>
          </div>
        </div>
        <div class="address w-100 mx-auto">
          <div style="width: 100% !important;" class="item-info-2">
            <div class="item-info w-100 px-3">
              <label>آدرس آژانس</label>
              <span>{{ info.agency.address }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="item-info-upload">
          <div class="item-info w-100">
            <div class="top-one">
              <div class="item-info w-100">

                <span>لوگو</span>
              </div>
              <div class="single-img-upload-parent" *ngIf="info.agency.logo?.url !== ''">
                <img [src]="info.agency.logo ? info.agency.logo.url : ''" width="100%" height="200" alt="">
              </div>
            </div>

          </div>

        </div>
        <div class="item-info-upload">
          <div class="item-info w-100">
            <div class="top-one">
              <div class="item-info w-100">
                <span>مجوز بند الف</span>
              </div>
              <div class="single-img-upload-parent" *ngIf="info.agency.LicenseFileA?.url !== ''">
                <img [src]="info.agency.LicenseFileA ? info.agency.LicenseFileA.url : ''" width="100%" height="200" alt="">
              </div>
            </div>

          </div>
          <div style="margin-right: 15px" class="item-info w-100">
            <div class="top-one">
              <div class="item-info w-100">
                <span>مجوز بند ب</span>


              </div>
              <div class="single-img-upload-parent" *ngIf="info.agency.LicenseFileB?.url !==''">
                <img [src]="info.agency.LicenseFileB ? info.agency.LicenseFileB.url : ''" width="100%" height="200" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>



</div>

<div *ngIf="isAdmin" class="add-tour">
  <form [formGroup]="userForm">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>پروفایل</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <h2 style="margin: 2rem 0 0 0 !important;" class="title">اطلاعات آژانس</h2>
        <div class="top">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام آژانس</label>
              <input [formControl]="agencyNameFC" type="text">
              <div *ngIf="errorsService.hasError('agency.name')">
                <span class="text-danger">{{errorsService.getError('agency.name')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>سایت</label>
              <input [formControl]="siteFC" type="text">
              <div *ngIf="errorsService.hasError('agency.site')">
                <span class="text-danger">{{errorsService.getError('agency.site')}}</span>
              </div>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل شرکت</label>
              <input [formControl]="emailFC" type="text">
              <div *ngIf="errorsService.hasError('agency.email')">
                <span class="text-danger">{{errorsService.getError('agency.email')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن اضطراری</label>
              <input [formControl]="necessaryPhoneFC" type="text">
              <div *ngIf="errorsService.hasError('agency.necessaryPhone')">
                <span class="text-danger">{{errorsService.getError('agency.necessaryPhone')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>کمیسیون</label>
              <input [formControl]="percentFC" type="text">
              <div *ngIf="errorsService.hasError('agency.percent')">
                <span class="text-danger">{{errorsService.getError('agency.percent')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن آژانس</label>
              <input [formControl]="tellFC" type="text">
              <div *ngIf="errorsService.hasError('agency.tell')">
                <span class="text-danger">{{errorsService.getError('agency.tell')}}</span>
              </div>
            </div>
          </div>
          <div class="address w-100">
            <div style="width: 100% !important;" class="item-info-2">
              <div class="item-info w-100">
                <label>آدرس آژانس</label>
                <textarea style="height: 70px;margin-top: 12px;width: 100%" [formControl]="addressFC"
                          type="text"></textarea>
                <div *ngIf="errorsService.hasError('agency.address')">
                  <span class="text-danger">{{errorsService.getError('agency.address')}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">

          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">

                  <span>لوگو</span>

                  <input class="file-input-upload" type="file" id="file" placeholder="لوگو را آپلود کنید"
                         (change)="getLogo($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="logo?.url !== ''">
                  <img [src]="logo ? logo.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.logo')">
                <span class="text-danger">{{errorsService.getError('agency.logo')}}</span>
              </div>
            </div>

          </div>
          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند الف</span>
                  <input class="file-input-upload" type="file" id="file" placeholder="مجوز بند الف را آپلود کنید"
                         (change)="getLicenseA($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="LicenseFileA?.url !== ''">
                  <img [src]="LicenseFileA ? LicenseFileA.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.LicenseFileA')">
                <span class="text-danger">{{errorsService.getError('agency.LicenseFileA')}}</span>
              </div>
            </div>
            <div style="margin-right: 15px" class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند ب</span>

                  <input class="file-input-upload" type="file" id="file" placeholder="مجوز بند ب را آپلود کنید"
                         (change)="getLicenseB($event)">
                </div>
                <div class="single-img-upload-parent" *ngIf="LicenseFileB?.url !==''">
                  <img [src]="LicenseFileB ? LicenseFileB.url : ''" width="100%" height="200" alt="">
                </div>
              </div>
              <div *ngIf="errorsService.hasError('agency.LicenseFileB')">
                <span class="text-danger">{{errorsService.getError('agency.LicenseFileB')}}</span>
              </div>
            </div>
          </div>
        </div>
        <prs-btn class="btn-submit-tour" [background]="'blue'" (click)="adminSubmit()" [isLoading]="isLoading"
                 [label]="'ثبت اطلاعات'"></prs-btn>
      </div>
    </div>
  </form>


</div>