<div class="box-info-package">
  <div class="info-tour-header">
    <div class="right">
      <h2 class="text-dark">اطلاعات پکیج</h2>
    </div>
    <div class="left">

    </div>
  </div>
  <div class="info-tour-body p-0">
    <div class="w-100 d-flex flex-column mobile-package">
      <!-- local tour -->
      <div class="header-box">
        <div class="package-item">#</div>
        <div class="package-item">نام هتل</div>
        <div class="package-item">خدمات</div>
        <div class="package-item">سن کودک تا</div>
        <div class="package-item"></div>
        <div class="package-item"></div>
        <div class="package-item">آفر ویژه</div>
        <div class="package-item"></div>

      </div>


      <div class="example-list"
        *ngIf="(setService.obj.stDate !== '' && setService.obj.enDate !== '') && setService.obj.endCity_id !== ''">
        <div class="body-box example-box" *ngFor="let tour of setService.obj.packages; let i = index">
          <div class="package-item id-package">
            <span>{{ i + 1 }}</span>
          </div>
          <div class="package-item">
            <prs-select-hotel [hotels]="setService.hotels" [inCommingHotel]="getHotelObj(tour.hotel_id)"
              [callHotel]="false" [type]="setService.obj.type" [isAdmin]="true"
              (hotelSelected)="setService.hotelChange($event,i)">
            </prs-select-hotel>
            <div class="parent-icon under-package d-flex align-items-center">
              <i class="icon-star text-warning" *ngFor="let star of setService.getStars(i)"></i>
            </div>
          </div>
          <div class="package-item">
            <div class="d-flex align-items-center w-100 parent-box-rate">

              <div class="package-item service-width">
                <select (change)="setService.setPackageServices($event, i)">
                  <option *ngFor="let service of setService.services"
                    [selected]="setService.getData(i).services === service.id" [value]="service.id">{{service.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- local tour -->

          <div class="package-item">
            <input type="text" [value]="setService.getData(i).prices.age"
              (change)="setService.setpackageAge($event, i)">
          </div>

          <div class="package-item">
            <button class="btn-base-dark h-50 w-75" (click)="openRoomPopup(i)">اتاق ها</button>
          </div>
          <div class="package-item">
            <button class="btn-base-2 h-50 w-75" (click)="openPricingCalendar(i)">قیمت گذاری</button>
          </div>
          <div class="package-item d-flex flex-row">
            <input (change)="setService.setpackageOffered($event, i)" [checked]="setService.getData(i).prices.offered"
              class="offer-checkbox" type="checkbox">
          </div>
          <div style="flex-direction: row !important;" class="package-item">
            <!-- <img src="assets/img/FAQ.svg" width="18" class="ms-2" (click)="openRoomPopup(i)"> -->
            <!-- <i class="icon-calendar text-danger font-25" (click)="openPricingCalendar(i)"></i> -->
            <i class="icon-trash text-danger font-25" (click)="setService.removePackage(i)"></i>
          </div>

        </div>
      </div>
      <div class="empty-packages" *ngIf="setService.obj.endCity_id === ''">
        <div class="d-flex justify-content-center align-items-center w-100">
          <span>لطفا شهر مقصد را انتخاب کنید</span>
        </div>
      </div>
      <div class="empty-packages" *ngIf="(setService.obj.stDate == '' || setService.obj.enDate == '')">
        <div class="d-flex justify-content-center align-items-center w-100">
          <span>لطفا تاریخ ورود و خروج هتل را انتخاب کنید</span>
        </div>
      </div>
    </div>
    <div class="package-item" *ngIf="setService.obj.stDate !== '' && setService.obj.enDate !== ''">
      <a (click)="setService.addRow(0)" class="btn-add-tour-fix">
        <i class="icon-plus-squared-alt"></i>
        <span>اضافه</span>
      </a>
    </div>
  </div>
</div>