<div class="box-info-package" *ngIf="setService.obj.defineTour == true ">
  <div class="info-tour-header">
    <div class="right">
      <h2 class="text-dark">اطلاعات پکیج</h2>
    </div>
    <div class="left">
      <!-- <div class="selectdiv me-2"> -->
      <!-- <label>
            <select (change)="sortPackages($event)">
              <option value="null">مرتب سازی بر اساس:</option>
              <option [value]="1">ارزان ترین قیمت</option>
              <option [value]="2">ستاره</option>
            </select>
          </label> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="info-tour-body p-0">
    <div class="w-100 d-flex flex-column mobile-package">
      <!-- local tour -->
      <div class="header-box" *ngIf="setService.obj.type">
        <div class="package-item">#</div>
        <div class="package-item">نام هتل</div>
        <div class="package-item">خدمات</div>
        <div class="package-item">
          دو تخته(هرنفر)
          <br>
          ظرفیت
        </div>
        <div class="package-item">
          سه تخته(هرنفر)
          <br>
          ظرفیت
        </div>
        <div class="package-item">
          چهار تخته(هرنفر)
          <br>
          ظرفیت
        </div>
        <div class="package-item">سن کودک تا</div>
        <div class="package-item">آفر ویژه</div>
        <div></div>
      </div>
      <!-- foreign tour -->
      <div class="header-box-two" *ngIf="!setService.obj.type">
        <div class="package-item">#</div>
        <div class="package-item">نام هتل</div>
        <div class="package-item">{{ 'نرخ / خدمات'}}</div>
        <div class="package-item">
          دو تخته(هرنفر)
          <br>
          ظرفیت
        </div>
        <div class="package-item">
          یک تخته(هرنفر)
          <br>
          ظرفیت
        </div>
        <div class="package-item">
          کودک با تخت(هرنفر)
          <br>
          ظرفیت
        </div>
        <!-- <div class="package-item">کودک بدون تخت</div> -->
        <div class="package-item">سن کودک تا</div>
        <div class="package-item">آفر ویژه</div>
        <div></div>
      </div>
      <div class="empty-packages" *ngIf="setService.obj.endCity_id === ''">
        <div class="d-flex justify-content-center align-items-center w-100">
          <span>لطفا شهر مقصد را انتخاب کنید</span>
        </div>
      </div>
      <div class="empty-packages" *ngIf="(setService.obj.stDate == '' || setService.obj.enDate == '')">
        <div class="d-flex justify-content-center align-items-center w-100">
          <span>لطفا تاریخ ورود و خروج هتل را انتخاب کنید</span>
        </div>
      </div>
      <div class="example-list" *ngIf="(setService.obj.stDate !== '' && setService.obj.enDate !== '') && setService.obj.endCity_id !== ''">
        <div class="body-box example-box" *ngFor="let tour of setService.obj.packages; let i = index">
          <div class="package-item id-package">
            <div class="icon-from-to">
              <i class="icon-up-open"></i>
              <i class="icon-down-open"></i>
            </div>
          </div>
          <div class="package-item">
            <prs-select-hotel [hotels]="setService.hotels" [inCommingHotel]="tour.hotel" [callHotel]="false"
              [type]="setService.obj.type" [isAdmin]="true" (hotelSelected)="setService.hotelChange($event,i)">
            </prs-select-hotel>
            <div class="parent-icon under-package d-flex align-items-center">
              <i class="icon-star text-warning" *ngFor="let star of setService.getStars(i)"></i>
            </div>
          </div>
          <div class="package-item">
            <div class="d-flex align-items-center w-100 parent-box-rate">
              <div class="package-item rate-width" *ngIf="!setService.obj.type">
                <select (change)="setService.setPackageRate($event, i)">
                  <option *ngIf="setService.obj.dollarRate" [value]="3">دلار</option>
                  <option *ngIf="setService.obj.euroRate" [value]="2">یورو</option>
                  <option *ngIf="setService.obj.AEDRate" [value]="4">درهم</option>
                  <option [value]="1">تومان</option>
                </select>
              </div>
              <div class="package-item service-width">
                <select (change)="setService.setPackageServices($event, i)">
                  <option *ngFor="let service of setService.services"
                    [selected]="setService.getData(i).services === service.id" [value]="service.id">{{service.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- local tour -->
          <ng-template class="body-local" [ngIf]="setService.obj.type">
            <div class="package-item">
              <div class="under-package-text d-flex align-items-center">
                <p>{{ setService.getData(i).prices.twinRate | sperator }}</p>
              </div>
              <input type="text" [value]="setService.getData(i).prices.twinCapacity"
                (change)="setService.setpackageCapacity($event, i, 'twinCapacity')" placeholder="موجودی">
            </div>
            <div class="package-item">
              <div class="under-package-text">
                <p>{{ setService.getData(i).prices.tripleRate | sperator }}</p>
              </div>
              <input type="text" placeholder="موجودی" [value]="setService.getData(i).prices.tripleCapacity"
                (change)="setService.setpackageCapacity($event, i, 'tripleCapacity')">
            </div>
            <div class="package-item">
              <div class="under-package-text">
                <p>{{ setService.getData(i).prices.quadRate | sperator }}</p>
              </div>
              <input type="text" placeholder="موجودی" [value]="setService.getData(i).prices.quadCapacity"
                (change)="setService.setpackageCapacity($event, i, 'quadCapacity')">
            </div>
            <div class="package-item">
              <input type="text" [value]="setService.getData(i).prices.age"
                (change)="setService.setpackageAge($event, i)">
            </div>
            <div class="package-item d-flex flex-row">
              <input (change)="setService.setpackageOffered($event, i)" [checked]="setService.getData(i).prices.offered"
                class="offer-checkbox" type="checkbox">
            </div>
            <div style="flex-direction: row !important;" class="package-item">
              <i class="icon-trash text-danger" (click)="setService.removePackage(i)"></i>
              <img src="assets/img/FAQ.svg" width="18" class="ms-2" (click)="openRoomPopup(i)">
            </div>
          </ng-template>
          <!-- foreign tour -->
          <ng-template class="body-foreign" [ngIf]="!setService.obj.type">
            <div class="package-item">
              <div class="under-package-text">
                <p>{{ setService.getData(i).prices.twinRate | sperator }}</p>
              </div>
              <input type="text" placeholder="موجودی" [value]="setService.getData(i).prices.twinCapacity"
                (change)="setService.setpackageCapacity($event, i, 'twinCapacity')">
            </div>
            <div class="package-item">
              <div class="under-package-text">
                <p>{{ setService.getData(i).prices.singleRate | sperator }}</p>
              </div>
              <input type="text" placeholder="موجودی" [value]="setService.getData(i).prices.singleCapacity"
                (change)="setService.setpackageCapacity($event, i, 'singleCapacity')">

            </div>
            <div class="package-item">
              <div class="under-package-text">
                <p>{{ setService.getData(i).prices.cwbRate | sperator }}</p>
              </div>
              <input type="text" placeholder="موجودی" [value]="setService.getData(i).prices.cwbCapacity"
                (change)="setService.setpackageCapacity($event, i, 'cwbCapacity')">
            </div>
            <div class="package-item">
              <input placeholder="سن کودک تا ..." [value]="setService.getData(i).prices.age" type="number"
                (change)="setService.setpackageAge($event, i)">

            </div>
            <div class="package-item d-flex flex-row">
              <input (change)="setService.setpackageOffered($event, i)" [checked]="setService.getData(i).prices.offered"
                class="offer-checkbox" type="checkbox">
            </div>
            <div style="flex-direction: row !important;" class="package-item">
              <i class="icon-trash text-danger" (click)="setService.removePackage(i)"></i>
              <img src="assets/img/FAQ.svg" width="18" (click)="openRoomPopup(i)">
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="package-item" *ngIf="setService.obj.stDate !== '' && setService.obj.enDate !== ''">
      <a (click)="setService.addRow(0)" class="btn-add-tour-fix">
        <i class="icon-plus-squared-alt"></i>
        <span>اضافه</span>
      </a>
    </div>
  </div>
</div>