<prs-loading *ngIf="isLoading"></prs-loading>
<prs-address-bar [path]="'بلاگ'" [path2]="info.title?info.title : ''"></prs-address-bar>
<section class="blog-info">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-info-parent">
          <div class="col-md-8">
            <div class="top">
              <div class="details">
                <div class="title">
                  <div class="title-blog">
                    <img src="assets/img/Document-align-2.svg" width="30" alt="">
                    <div class="text">
                      <h2>{{info.title}}</h2>
                      <span *ngIf="info.categories.length > 0">دسته بندی مقاله : {{info.categories[0].name}}</span>
                    </div>
                  </div>
                  <p>
                    {{info.description}}
                  </p>
                </div>
                <div class="box-details">
                  <div class="box-details-top">
                    <div class="view-number">
                      <img src="assets/img/Scanning%205.svg" width="22" alt="">
                      <span> تعداد دیدیگاه : {{info.viewCount}} </span>
                    </div>
                    <div class="date">
                      <span>{{calenderServices.convertDate(info.createdAt, 'fa')}}</span>
                    </div>
                  </div>
                  <div class="box-details-bottom">
                    <div class="share">
                      <img src="assets/img/Navigation2.svg" width="20" alt="">
                    </div>
                    <div class="social-media">
                      <div class="wrapper">
                        <div class="icon instagram">
                          <div class="tooltip">Instagram</div>
                          <div class="span-margin"><i class=" icon-instagram"></i></div>
                        </div>
                        <div class="icon facebook">
                          <div class="tooltip">li</div>
                          <div class="span-margin"><i class=" icon-telegram"></i></div>
                        </div>
                        <div class="icon twitter">
                          <div class="tooltip">Twitter</div>
                          <div class="span-margin"><i class="icon-mail-alt"></i></div>
                        </div>
                        <div class="icon github">
                          <div class="tooltip">whatsapp
                          </div>
                          <div class="span-margin"><i class="icon-whatsapp"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="img"><img [src]="info.thumbnail" alt=""></div>
            </div>
            <div class="bottom">
              <p [innerHTML]="info.body | safeHtml"></p>
            </div>
          </div>
          <div class="col-md-4 sidebar-blog">
            <div class="box-category">
              <div class="title-category">
                <img src="assets/img/category.png" width="20" alt="">
                <h2>دسته‌بندی</h2>
              </div>
              <ul class="under-category">
                <li>
                  <a target="_blank" href="">
                    <i class="icon-circle"></i>
                    لورم ایپسوم متن ساختگی
                  </a>

                </li>
                <li>
                  <a href="">
                    <i class="icon-circle"></i>
                    تولید سادگی نامفهوم
                  </a>

                </li>
              </ul>
            </div>
            <div class="box-category">
              <div class="title-category">
                <img class="img-search" src="assets/img/search.png" width="20" alt="">
                <h2>جستجو</h2>
              </div>
              <p>کلمه‌ی کلیدی مورد نظر خود را بنویسید و بر روی دکمه جستجو کلیک کنید.</p>
              <div class="inp-form">
                <input type="text">
              </div>
              <button class="btn-search">جتسجو کن</button>
            </div>
            <div class="box-category">
              <div class="title-category">
                <img src="assets/img/archive.png" width="20" alt="">
                <h2>آرشیو</h2>
              </div>
              <ul class="under-category">
                <li>
                  <a target="_blank" href="">
                    <i class="icon-circle"></i>
                    فروردین 1400
                  </a>

                </li>
                <li>
                  <a href="">
                    <i class="icon-circle"></i>
                    اردیبهشت 1400
                  </a>

                </li>
                <li>
                  <a href="">
                    <i class="icon-circle"></i>
                    خرداد 1400
                  </a>

                </li>
              </ul>
            </div>
            <div class="box-category">
              <div class="title-category">
                <img src="assets/img/tag.png" width="20" alt="">
                <h2>برچسب ها</h2>
              </div>
              <div class="label-item">
                <a target="_blank" href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a><a href="">انتالیا،</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

