<prs-address-bar></prs-address-bar>
<section class="blog-info">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-info-parent">
          <div class="top">
            <div class="details">
              <div class="title">
                <div class="title-blog">
                  <img src="assets/img/Document-align-2.svg" width="30" alt="">
                  <div class="text">
                    <h2>راهنمای سفر با تور آنتالیا</h2>
                    <span>دسته بندی مقاله : گردشگری</span>
                  </div>
                </div>
                <p>شهر استانبول جزو شهرهای بسیار قدیمی دنیاست که قدمت آن به قرن‌ها قبل از میلاد مسیح برمی‌گردد. به همین
                  دلیل آثار قدیمی و تاریخی زیادی در این کلان شهر دیده می‌شود. ترکیه در سال‌های اخیر تلاش زیادی کرده است
                  که هرچه سریع‌تر پیشرفت کند و از سایر کشورهای اروپایی عقب نیفتد. همین موضوع باعث شده است که پروژه‌های
                  بزرگ و مهمی در نقاط مختلف ترکیه و شهر استانبول احداث شوند. یکی از معروف‌ترین اماکن ساخته شده در
                  سال‌های اخیر، برج چاملیجا استانبول است که به نماد جدید این شهر تبدیل شده است.
                </p>
              </div>
              <div class="box-details">
                <div class="box-details-top">
                  <div class="view-number">
                    <img src="assets/img/Scanning%205.svg" width="22" alt="">
                    <span> تعداد دیدیگاه : 0 </span>
                  </div>
                  <div class="date">
                    <span>1400/06/22</span>
                  </div>
                </div>
                <div class="box-details-bottom">
                  <div class="share">
                    <img src="assets/img/Navigation2.svg" width="20" alt="">
                    <span>اشتراک گذاری !</span>
                  </div>
                  <div class="social-media">
                    <div class="wrapper">
                      <div class="icon instagram">
                        <div class="tooltip">Instagram</div>
                        <div class="span-margin"><i class=" icon-instagram"></i></div>
                      </div>
                      <div class="icon facebook">
                        <div class="tooltip">li</div>
                        <div class="span-margin"><i class=" icon-telegram"></i></div>
                      </div>
                      <div class="icon twitter">
                        <div class="tooltip">Twitter</div>
                        <div class="span-margin"><i class="icon-mail-alt"></i></div>
                      </div>
                      <div class="icon github">
                        <div class="tooltip">whatsapp
                        </div>
                        <div class="span-margin"><i class="icon-whatsapp"></i></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="img"><img src="assets/img/12123131.png" alt=""></div>
          </div>
          <div class="bottom">
            <h2>تاریخچه احداث برج چاملیجا</h2>
            <p>در سال 2011 شهرداری استانبول تصمیم گرفت که برجی بلند را در این شهر بسازند و فرستنده‌های رادیویی و
              تلویزیونی را آن جا نصب کنند. بعد از طی شدن مراحل مختلف و انتخاب پیمانکار، سال 2016 رسما کار ساخت و ساز
              بلندترین ساختمان استانبول شروع شد. ساخت این برج بلند و مدرن تنها 4 سال طول کشید و در سپتامبر 2020 این
              پروژه تکمیل شد.</p>
            <img class="img-bottom-blog" src="assets/img/1634191054BLOG1.png" alt="">
            <p>در نهایت خرداد ماه سال 1400، برج چاملیجا استانبول توسط رجب طیب اردوغان افتتاح شد و گردشگران می‌توانند از
              این ساختمان دیدن کنند. ارتفاع برج چاملیجا 369 متر است. این برج 45 طبقه روی سطح زمین و 4 طبقه هم زیر سطح
              زمین دارد. برج چاملیجا حتی از برج ایفل هم بلندتر است و توانسته لقب بلندترین آسمان خراش اروپا را از آن خودش
              کند.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

