.blog-info {
  margin: 1rem 0;
}

.blog-info-parent {
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

.top .details {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top .img {
  width: 52%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.top .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-blog {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-blog .text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-start;
}

.title-blog .text h2 {
  font-size: 20px;
  color: var(--gray-color-dark);
}

.title-blog .text span {
  font-size: 13px !important;
  color: var(--base-color);
}

.title p {
  color: var(--gray-color-light);
  margin-top: 12px;
  line-height: 25px;
  text-align: justify;
}

.box-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-details-top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color-two);
  border-radius: 8px;
  padding: 0 10px;
}

.box-details-top .view-number {
  display: flex;
  align-items: center;
}

.box-details-top .view-number span {
  margin-right: 10px;
  color: var(--gray-color-dark);
}

.box-details-top .date span {
  color: var(--gray-color-dark);
}

.box-details-bottom {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-color);
  border-radius: 8px;
  padding: 0 10px;
  margin-top: 12px;
}

.share {
  display: flex;
  align-items: center;
}

.share span {
  color: var(--white);
  margin-right: 10px;
}

.wrapper {
  display: inline-flex;
  margin-right: 7rem;
}

.wrapper i {
  color: var(--white);
}

.wrapper .icon {
  position: relative;
  background-color: unset;
  border-radius: 50%;
  padding: 15px 15px 10px 15px;
  margin: 10px 0;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.angle-up-icon {
  padding-top: 8px !important;
}

.angle-up-icon:after {
  color: var(--white);
  font-size: 30px !important;
  margin-top: 10px !important;
  font-weight: 600;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: var(--base-color-second);
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: var(--base-color-second);
  color: #000;
}

.wrapper .icon-span {
  font-weight: 500 !important;
  margin-left: 7px;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: var(--base-color-second);
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: var(--base-color-second);
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: var(--base-color-second);
  color: #ffffff;
}

.bottom {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bottom h2 {
  font-size: 20px;
  color: var(--gray-color-dark);
}

.bottom .img-bottom-blog {
  height: 100%;
  object-fit: cover;
}

.bottom p {
  color: var(--gray-color-light);
  margin-top: 12px;
  line-height: 25px;
  text-align: justify;
}
:host::ng-deep .bottom p img{
  height: 100% !important;
  width: 100% !important;
}


//-------------------------


//mobile
@media only screen and (max-width: 499px) {
  .top {
    flex-direction: column-reverse;
  }
  .top .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .top .details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .title-blog .text h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .wrapper {
    margin-right: 0;
  }
  .wrapper .icon {
    padding: 0;
    width: 30px;
    height: 30px;
  }
  p {
    font-size: 13px !important;
  }
  h2 {
    font-size: 18px !important;
  }
}


//tablet
@media only screen and (min-width: 500px) and (max-width: 868px) {
  .top {
    flex-direction: column-reverse;
  }
  .top .img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .top .details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .title-blog .text h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .wrapper {
    margin-right: 0;
  }
  .wrapper .icon {
    padding: 0;
  }
}

:host::ng-deep p img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
