<div class="tour-item" *ngFor="let tour of tours">
  <div class="tour-city">
    <img src="assets/img/location2.svg" width="40" alt="">
    <div class="info-tour-city">
      <h6>{{tour.title}}</h6>
      <div class="text-price">
        <small class="title-price">شروع قیمت از :</small>
        <strong class="price-tour">
          قیمتی ثبت نشده
        </strong>
      </div>
    </div>
  </div>
  <div class="tour-days">
    <div class="night">
      <img src="assets/img/Moon%201.svg" width="15" alt="">
      <span>{{tour.nightNum}} شب</span>
    </div>
    <div class="day">
      <img src="assets/img/Sun.svg" width="17" alt="">
      <span> {{tour.dayNum}} روز</span>
    </div>
  </div>
  <div class="date-tour">
    <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
    <div class="info-date">
      <span class="from">{{calenderServices.convertDate(tour.createdAt, 'fa')}}</span>
      <span class="to">{{calenderServices.convertDate(tour.expireDate, 'fa')}}</span>
    </div>
  </div>
  <div class="type">
    <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
    <span>ایران ایر</span>
  </div>
  <a class="ino-tour-btn" routerLink="/tour/{{ tour.slug }}">
    <span class="text-mobi-btn">جزییات</span>
    <img src="assets/img/Right%20Arrow%202.svg" width="30" alt="">
  </a>
</div>
