<prs-loading *ngIf="loading"></prs-loading>

<div class="list-tour">
  <div class="title">
    <h2>تورها</h2>
    <mat-button-toggle-group name="fontStyle" [(ngModel)]="status"
                             aria-label="Font Style">
      <mat-button-toggle value="All">همه</mat-button-toggle>
      <mat-button-toggle value="Show">نمایش</mat-button-toggle>
      <mat-button-toggle value="Draft">پیش نویس</mat-button-toggle>
      <mat-button-toggle value="Suspended">معلق/منقضی شده</mat-button-toggle>
      <mat-button-toggle value="Pending">در انتظار</mat-button-toggle>
    </mat-button-toggle-group>
    <a class="btn-add-tour" routerLink="/panel/tour/add">اضافه</a>


  </div>
  <div class="table-list-tour table-list-tour-desktop">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="username">نام کاربر</span>
      <span class="title-tour">عنوان تور</span>
      <span class="from-to">مبدا-مقصد</span>
      <span class="day">شب و روز</span>
      <span class="date-create">تاریخ ایجاد تور</span>
      <span class="date-create">تاریخ انقضا تور</span>
      <span class="view">بازدید</span>
      <span class="status">وضعیت</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="tours.length > 0">
      <div class="item" *ngFor="let tour of tours |tourStatusFilter : status | paginate: paginateConfig;let i = index">
        <span class="id">{{ i + 1 }}</span>
        <span class="username">{{ tour.user.name + ' ' + tour.user.family }}</span>
        <span class="title-tour">{{ tour.title }}</span>
        <span class="from-to">{{ tour.stCity + '-' + tour.endCity }}</span>
        <span class="day">{{ tour.nightNum + '-' + tour.dayNum }}</span>
        <span class="date-create">{{this.calService.convertDate1(tour.createdAt, 'fa') }}</span>
        <span class="date-create">{{ this.calService.convertDate(tour.expireDate, 'fa') }}</span>
        <span class="view">{{ tour.viewCount }}</span>
        <span class="status">{{ getStatus(tour.status) }}</span>
        <div class="button-setting">
          <a routerLink="/panel/tour/edit/{{tour.slug}}" class="edit-btn">ویرایش</a>
          <a routerLink="/tour/{{ tour.slug }}" class="view-btn">نمایش</a>
          <a routerLink="/panel/tour/copy/{{ tour.slug }}" class="copy-btn">کپی</a>
          <button (click)="openLogs(tour.id)" class="log-btn">لاگ ها</button>
          <button (click)="deleteClicked(tour.slug)" class="delete-btn">حذف</button>
        </div>
      </div>
    </div>
    <div>
      <pagination-controls
        *ngIf="!loading && paginate.lastPage > 1"
        class="pagination-control"
        (pageChange)="onPageChanged($event)"
        previousLabel="قبلی"
        nextLabel="بعدی"
        screenReaderPaginationLabel="صفحه بندی"
        screenReaderPageLabel="صفحه"
        screenReaderCurrentLabel="شما در صفحه ی">
      </pagination-controls>
    </div>
  </div>

  <div class="table-list-tour-mobile" *ngIf="tours.length > 0">
    <div class="list-tour-box"
         *ngFor="let tour of tours | tourStatusFilter : status | paginate: paginateConfig; let i = index">
      <label class="user-id" for="">شماره شناسه : {{ i + 1 }}</label>
      <div class="item-list-tour mt-3">
        <div class="item-tour">
          <span class="title">نام کاربری :</span>
          <span class="text">{{ tour.user.name + ' ' + tour.user.family }}</span>
        </div>
        <div class="item-tour">
          <span class="title">عنوان تور :</span>
          <span class="text">{{ tour.title }}</span>
        </div>
        <div class="item-tour">
          <span class="title">مبدا-مقصد :</span>
          <span class="text">{{ tour.stCity + '-' + tour.endCity }}</span>
        </div>
        <div class="item-tour">
          <span class="title">تاریخ ایجاد :</span>
          <span class="text">{{this.calService.convertDate1(tour.createdAt, 'fa') }}</span>
        </div>
      </div>
      <a data-toggle="collapse" class="btn-details-more" href="#{{ i + 1 }}">جزییات بیشتر
        <i class="icon-down-open"></i>
      </a>
      <div id="{{ i + 1 }}" class="box-details-more collapse">
        <div class="item-list-tour">
          <div class="item-tour">
            <span class="title">شب و روز :</span>
            <span class="text">{{ tour.nightNum + '-' + tour.dayNum }}</span>
          </div>
          <div class="item-tour">
            <span class="title">تاریخ انقضا :</span>
            <span class="text">{{ this.calService.convertDate(tour.expireDate, 'fa') }}</span>
          </div>
          <div class="item-tour">
            <span class="title">بازدید :</span>
            <span class="text">{{ tour.viewCount }}</span>
          </div>
          <div class="item-tour">
            <span class="title">وضعیت :</span>
            <span class="text text-danger">{{ getStatus(tour.status) }}</span>
          </div>
        </div>
        <div class="operation">
          <a routerLink="/panel/tour/edit/{{tour.slug}}" class="edit-btn">ویرایش</a>
          <a routerLink="/tour/{{ tour.slug }}" class="view-btn">نمایش</a>
          <a routerLink="/panel/tour/copy/{{ tour.slug }}" class="copy-btn">کپی</a>
          <button (click)="openLogs(tour.id)" class="log-btn">لاگ ها</button>
          <button (click)="deleteClicked(tour.slug)" class="delete-btn">حذف</button>
        </div>

      </div>
    </div>
    <div>
      <pagination-controls
        *ngIf="!loading && paginate.lastPage > 1"
        class="pagination-control"
        (pageChange)="onPageChanged($event)"
        previousLabel="قبلی"
        nextLabel="بعدی"
        screenReaderPaginationLabel="صفحه بندی"
        screenReaderPageLabel="صفحه"
        screenReaderCurrentLabel="شما در صفحه ی">
      </pagination-controls>
    </div>
  </div>

</div>

