<div class="list-tour">
  <div class="title">
    <h2>تورها</h2>
    <button>اضافه</button>
  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="username">نام کاربر</span>
      <span class="title-tour">عنوان تور</span>
      <span class="from-to">مبدا-مقصد</span>
      <span class="day">شب و روز</span>
      <span class="date-create">تاریخ ایجاد تور</span>
      <span class="date-create">تاریخ انقضا تور</span>
      <span class="view">بازدید</span>
      <span class="status">وضعیت</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour">
      <div class="item">
        <span class="id">2</span>
        <span class="username">همنواز</span>
        <span class="title-tour">تست تست</span>
        <span class="from-to">تهران-کیش</span>
        <span class="day">3-4</span>
        <span class="date-create">1400/02/14</span>
        <span class="date-create">1400/02/14</span>
        <span class="view">12</span>
        <span class="status">تایید شده</span>
        <div class="button-setting">
          <button class="edit-btn">ویرایش</button>
          <button class="view-btn">نمایش</button>
          <button class="copy-btn">کپی</button>
          <button class="delete-btn">حذف</button>
        </div>
      </div>
      <div class="item">
        <span class="id">2</span>
        <span class="username">همنواز</span>
        <span class="title-tour">تست تست</span>
        <span class="from-to">تهران-کیش</span>
        <span class="day">3-4</span>
        <span class="date-create">1400/02/14</span>
        <span class="date-create">1400/02/14</span>
        <span class="view">12</span>
        <span class="status">تایید شده</span>
        <div class="button-setting">
          <button class="edit-btn">ویرایش</button>
          <button class="view-btn">نمایش</button>
          <button class="copy-btn">کپی</button>
          <button class="delete-btn">حذف</button>
        </div>
      </div>
      <div class="item">
        <span class="id">2</span>
        <span class="username">همنواز</span>
        <span class="title-tour">تست تست</span>
        <span class="from-to">تهران-کیش</span>
        <span class="day">3-4</span>
        <span class="date-create">1400/02/14</span>
        <span class="date-create">1400/02/14</span>
        <span class="view">12</span>
        <span class="status">تایید شده</span>
        <div class="button-setting">
          <button class="edit-btn">ویرایش</button>
          <button class="view-btn">نمایش</button>
          <button class="copy-btn">کپی</button>
          <button class="delete-btn">حذف</button>
        </div>
      </div>
      <div class="item">
        <span class="id">2</span>
        <span class="username">همنواز</span>
        <span class="title-tour">تست تست</span>
        <span class="from-to">تهران-کیش</span>
        <span class="day">3-4</span>
        <span class="date-create">1400/02/14</span>
        <span class="date-create">1400/02/14</span>
        <span class="view">12</span>
        <span class="status">تایید شده</span>
        <div class="button-setting">
          <button class="edit-btn">ویرایش</button>
          <button class="view-btn">نمایش</button>
          <button class="copy-btn">کپی</button>
          <button class="delete-btn">حذف</button>
        </div>
      </div>

    </div>
  </div>
</div>
