<prs-address-bar [path]="'هتل'" [path2]="hotelInfo.name ? hotelInfo.name : ''"></prs-address-bar>
<section class="info-hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-info-hotel">
          <div class="title-info-hotel">
            <div class="right">
              <img src="assets/img/Tag.svg" width="35" alt="">
              <div class="text">
                <h2 class="title-fa">{{ hotelInfo.name }}</h2>
                <h2 class="title-en">{{ hotelInfo.nameEn }}</h2>
              </div>
            </div>
            <div class="left">
              <a class="share">
                <img src="assets/img/Navigation.svg" width="18" alt="">
                <span>اشراک گذاری !</span>
              </a>
              <a class="favorite">
                <img src="assets/img/Heart.svg" width="18" alt="">
                <span>افزودن به علاقه مندی !</span>
              </a>
            </div>
          </div>
          <div class="box-info-hotel">
            <div class="title-hotel">
              <div class="name-city-country">
                <img src="assets/img/Location.svg" width="20" alt="">
                <span class="title-small-fa">شهر و منطقه:</span>
                <span class="title-en">{{ hotelInfo.city.name }}, </span>
                <span class="title-en">{{ hotelInfo.location }}</span>
              </div>
              <div class="rate-star">
                <span class="title-small-fa">درجه هتل :</span>
                <i class="icon-star" *ngFor="let star of getStars(hotelInfo.stars)"></i>
              </div>
            </div>


            <div class="parent-gallery">
              <div class="right-gallery">
                <img class="top-right" [lightbox]="0" [gallery]="galleryId" [src]="hotelInfo.images[0]" alt="">
                <img class="left-right" [lightbox]="1" [gallery]="galleryId" [src]="hotelInfo.images[1]" alt="">
                <img class="bottom-right" [lightbox]="2" [gallery]="galleryId" [src]="hotelInfo.images[2]" alt="">
                <img class="bottom-left" [lightbox]="3" [gallery]="galleryId" [src]="hotelInfo.images[3]" alt="">
              </div>
              <div class="left-gallery" [style.background-image]="'url(' + hotelInfo.thumbnail + ')'">
                <div class="parent-view-all-photo">
                  <a class="btn-photos" [lightbox]="0" [gallery]="galleryId">
                    <img src="assets/img/Menu-hotel.svg" width="20" alt="">
                    <span>مشاهده همه عکس ها</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="about-hotel">
              <div class="map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2889932769044!2d51.43323711512511!3d35.719110535501315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03d96fbc3287%3A0xf6b4bf5ce7af7319!2z2YfZhdmG2YjYp9iyINii2LPZhdin2YYg2KLYqNuM!5e0!3m2!1sen!2s!4v1634458141490!5m2!1sen!2s"
                  width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <a class="btn-map" href="">مسیریابی از مبدا شما !</a>
                <div class="address">
                  <img src="assets/img/008-maps.svg" width="20" alt="">
                  <p class="text-en">{{ hotelInfo.address }}</p>
                </div>
                <div class="telephone">
                  <img src="assets/img/003-telephone.svg" width="20" alt="">
                  <p>{{ hotelInfo.phone ? hotelInfo.phone : '-' }}</p>
                </div>
              </div>
              <div class="info-about-hotel">
                <div class="scrollbar" id="style-1"></div>
                <h2>درباره هتل استودیو صنعتی دنج ترکیه بیشتر بدانید :</h2>
                <p [innerHTML]="hotelInfo.body"></p>
              </div>
            </div>
            <div class="notes-hotel">
              <h2>نکات برجسته هتل {{hotelInfo.name}}</h2>
              <div class="details">
                <div class="right-box">
                  <img src="assets/img/Credit%20Card.svg" alt="">
                  <p>---
                    </p>
                </div>
                <div class="left-box">
                  <img src="assets/img/Verified.svg" alt="">
                  <p>---</p>
                </div>
              </div>
              <div class="option">
                <h2>امکانات هتل ، اتاق ها و خدمات دیگر در یک نگاه</h2>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length > 0">
                  <div class="item" *ngFor="let service of hotelServices">
<!--                    <img src="assets/img/Modem.svg" width="20" alt="">-->
                    <span>{{service.name}}</span>
                  </div>
                </div>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length === 0">
                  امکاناتی برای این هتل وجود ندارد.
                </div>
<!--                <div class="parent-view-option">-->
<!--                  <a class="btn-option" href="">مشاهده تمامی امکانات</a>-->
<!--                </div>-->
              </div>
            </div>
            <div class="Similar-tour" *ngIf="hotelInfo.tours.length > 0">
              <div class="title-s2">
                <div class="text">
                  <img src="assets/img/Notification%202.svg" width="35" alt="">
                  <h2>تور های هتل</h2>
                </div>
              </div>
              <prs-thumbnails-tour *ngIf="hotelInfo.tours.length > 0" [tours]="hotelInfo.tours"></prs-thumbnails-tour>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
