@import '~@angular/cdk/overlay-prebuilt.css';

.box-info-hotel {
  width: 100%;
}

.title-en {
  font-size: 14px;
}

.ml-2 {
  margin-left: 8px;
}

//for lightbox image gallery
::ng-deep .g-items-container {
  direction: ltr !important;
}

//for lightbox image gallery

.title-info-hotel {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-color-one);
  padding-bottom: 12px;
}

.title-info-hotel .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-info-hotel .right .text {
  margin-right: 8px;
}

.title-info-hotel .right .text .title-fa {
  color: var(--gray-color-dark);
  font-size: 20px;
  margin-bottom: 8px;
}

.title-info-hotel .left {
  display: flex;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.favorite {
  display: flex;
  align-items: center;
}

.share span, .favorite span {
  margin-right: 8px;
  color: var(--base-color);
}

.no-map {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color-one);
}

//---------------
.title-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0;
}

.name-city-country {
  display: flex;
  align-items: center;
}

.title-small-fa {
  margin-right: 8px;
}

.name-city-country .title-en {
  margin-right: 6px;
}

.rate-star {
  display: flex;
  align-items: center;
}

.rate-star bar-rating {
  margin-right: 10px;
}

//--------------

//gallery-img
.parent-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.right-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  justify-content: space-between;
}

.right-gallery img {
  margin-top: 18px;
  width: 48.5%;
  height: 205px;
  object-fit: cover;
}

.right-gallery img:nth-child(1) {
  border-radius: 0 25px 0 0;
}

.right-gallery img:nth-child(3) {
  border-radius: 0 0 25px;
}

.left-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  height: 429px;
  background: no-repeat center center;
  background-size: cover;
  margin-top: 18px;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  position: relative;
}

.parent-view-all-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px;
}

.btn-photos {
  width: auto;
  padding: 0 12px;
  height: 42px;
  background-color: var(--white);
  color: var(--base-color) !important;
  border-radius: var(--radius-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

.btn-photos span {
  margin-right: 8px;
  font-weight: 600;
}

.about-hotel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1.5rem 0;
}

.about-hotel .map {
  width: 29%;
  display: flex;
  flex-direction: column;
  height: 440px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 12px;
}

.about-hotel .map prs-show-location {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
}

.about-hotel .info-about-hotel {
  width: 69%;
  display: flex;
  flex-direction: column;
  height: 440px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 12px 20px 12px 12px;
  overflow-y: auto;
}

.btn-map {
  width: 60%;
  margin: 0 auto;
  height: 42px;
  background-color: var(--base-color);
  color: var(--white);
  border-radius: var(--radius-btn);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
}

.address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.address img {
  margin-top: 4px;
}

.address p {
  width: 85%;
  margin-bottom: 0;
}

.telephone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.telephone p {
  color: var(--gray-color-light);
  margin-bottom: 0;
}

.about-hotel .info-about-hotel h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--base-color);
}

.about-hotel .info-about-hotel p {
  line-height: 28px;
  color: var(--gray-color-light);
  text-align: justify;
}

.info-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.info-two h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--base-color);
}

.info-two p {
  line-height: 28px;
  color: var(--gray-color-light);
  text-align: justify;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  float: right;
  width: 5px;
}

.notes-hotel {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid #eee;
}

.notes-hotel h2 {
  font-size: 18px;
  color: var(--base-color);
  margin-bottom: 12px;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .right-box, .details .left-box {
  width: 48.5%;
  display: flex;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #13B684;
  padding: 0 12px;
}

.details .right-box img {
  //filter: brightness(130%);
  width: 17% !important;
}

.details .left-box img {
  width: 17% !important;
}

.details .right-box p, .details .left-box p {
  margin-bottom: 0;
  text-align: justify;
  color: var(--gray-color-light);
  margin-right: 10px;
}

.option {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option h2 {
  color: var(--base-color);
  font-size: 18px;
}

.parent-item-option {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 95%;
}

.parent-item-option .item {
  margin: 10px auto;
}

.parent-item-option span {
  margin-right: 8px;
  color: var(--gray-color-light);
  font-weight: 500;
}

.parent-view-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-view-option .btn-option {
  width: 170px;
  height: 40px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--gray-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
}

.Similar-tour {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-agency {
  display: flex;
  flex-direction: column;

}

.details-agency .top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.required-documents, .services-agency {
  width: 48.8%;
  border-radius: 10px;
  border: 2px solid var(--base-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.required-documents h2, .services-agency h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.required-documents p, .services-agency p {
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 26px;
}

.img-fix-s3 {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.complete-details {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--base-color-three);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  margin-top: 1.5rem;
}

.complete-details h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.complete-details p {
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 26px;
}

.title-s2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.title-s2 .text {
  display: flex;
  align-items: center;
}

.title-s2 .text h2 {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 0;
}

prs-show-location {
  height: 220px;
  width: 100%;
  z-index: -1;
}


//-------------------end-desktop


//mobile
@media only screen and (max-width: 499px) {
  .title-info-hotel .right .text .title-fa {
    font-size: 15px;
    margin-bottom: 0;
  }
  .title-info-hotel .right img {
    width: 20px;
  }
  .title-info-hotel {
    flex-direction: column;
  }
  .title-hotel {
    display: flex;
    flex-direction: column;
  }
  .rate-star {
    margin-top: 12px;
  }
  .parent-gallery {
    flex-direction: column-reverse;
  }
  .left-gallery {
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 250px;
  }
  .right-gallery {
    width: 100%;
  }
  .right-gallery img {
    height: 125px;
  }
  .right-gallery img:nth-child(1) {
    border-radius: unset;
  }
  .right-gallery img:nth-child(3) {
    border-radius: 0 0 25px 0;
  }
  .right-gallery img:nth-child(4) {
    border-radius: 0 0 0 25px;
  }
  .about-hotel {
    flex-direction: column-reverse;
  }
  .about-hotel .info-about-hotel {
    width: 100%;
  }
  .about-hotel .map {
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .right-box, .details .left-box {
    width: 100%;
    margin-top: 12px;
  }
  p {
    font-size: 13px !important;
  }
  h2 {
    font-size: 15px !important;
  }
  .parent-item-option {
    grid-template-columns: 1fr 1fr;
  }
}


//tablet
@media only screen and (min-width: 500px) and (max-width: 868px) {
  .title-info-hotel .right .text .title-fa {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .title-info-hotel .right img {
    width: 20px;
  }
  .title-info-hotel {
    flex-direction: column;
  }
  .parent-gallery {
    flex-direction: column-reverse;
  }
  .left-gallery {
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 280px;
  }
  .right-gallery {
    width: 100%;
  }
  .right-gallery img {
    height: 140px;
  }
  .right-gallery img:nth-child(1) {
    border-radius: unset;
  }
  .right-gallery img:nth-child(3) {
    border-radius: 0 0 25px 0;
  }
  .right-gallery img:nth-child(4) {
    border-radius: 0 0 0 25px;
  }
  .about-hotel {
    flex-direction: column-reverse;
  }
  .about-hotel .info-about-hotel {
    width: 100%;
  }
  .about-hotel .map {
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .right-box, .details .left-box {
    width: 100%;
    margin-top: 12px;
  }
  .parent-item-option {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

//thumbnail-hotel

.title-tour-special-swiper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-tour-special-swiper .top .new-tour {
  display: flex;
}

.title-tour-special-swiper .top .new-tour .text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.title-tour-special-swiper .top .new-tour .text h3 {
  float: right;
  font-size: 18px;
  font-weight: 600;
  color: var(--base-color);
  margin-bottom: 4px;
}

.title-tour-special-swiper .top .new-tour .text span {
  font-size: 12px !important;
}

.title-tour-special-swiper .bottom {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.title-tour-special-swiper .bottom .border-right {
  width: 30%;
  height: 2px;
  background-color: var(--base-color);
}

.title-tour-special-swiper .bottom .border-left {
  width: 70%;
  height: 2px;
  background-color: var(--light-color-two);
}

.thumbnail-hotel {
  width: 100%;
  height: 170px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img-hotel {
    width: 25%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .detail-hotel {
    width: 75%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .r {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 75%;

      .star {
        display: flex;
        align-items: center;

        i {
          width: 20px;
          font-size: 15px;
          color: var(--base-color);
        }
      }

      .name-hotel {
        margin-top: 1.2rem;

        a {
          font-weight: 600;
          color: #0A246A;
          font-size: 16px !important;
        }
      }

      .address {
        span {
          margin-right: 8px;
          color: #0A246A;
        }
      }
    }

    .l {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .p-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span {
          color: var(--light-color-one);
        }

        .price {
          strong {
            font-size: 19px;
            color: var(--base-color);
          }

          small {
            color: var(--base-color);
            margin-right: 4px;
            font-size: 15px;
          }
        }
      }

    }
  }
}

@media only screen and (max-width: 868px) {
  .thumbnail-hotel {
    height: auto;
    flex-direction: column;
    position: relative;

    .img-hotel {
      width: 100%;
      height: 200px;
    }

    .detail-hotel {
      flex-direction: column;
      width: 100%;

      .r {
        width: 100%;

        .name-hotel {
          width: 100%;
          text-align: center;
          margin: 4px 0 !important;
        }
      }

      .l {
        width: 100%;
        margin-top: 14px;
      }
    }

    .star {
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }
}

//end


//thumbnail-flight
.thumbnail-flight {
  height: auto;
  padding: 0 12px;
  border: 1px solid #f2f2f2;
  box-shadow: var(--box-shadow);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .start {
      width: 40%;
      display: flex;
      flex-direction: column;
      border-left: 1px dotted #C6C6C6;
      padding: 9px;

      .title {
        strong {
          margin-right: 3px;
        }
      }

      .p-date {
        width: 100%;
        display: flex;
        flex-direction: column;

        .date {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 6px;

          span {
            font-size: 14px;
            color: var(--base-color);
          }

          p {
            color: #646464;
            font-size: 14px;
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .center {
      width: 40%;
      display: flex;
      flex-direction: column;
      padding: 9px;

      .title {
        strong {
          margin-right: 3px;
        }
      }

      .p-date {
        width: 100%;
        display: flex;
        flex-direction: column;

        .date {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 6px;

          span {
            font-size: 14px;
            color: var(--base-color);
          }

          p {
            color: #646464;
            font-size: 14px;
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .end {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 1.5rem 10px 0;

      span {
        font-size: 14px;
        font-weight: 500;
      }

      .btn-view-more {
        font-size: 13px;
        display: flex;
        align-items: center;
        color: #666666;
        margin-top: 12px;

        i {
          margin-right: 4px;
        }
      }
    }
  }
  .bottom{
    width: 100%;
    border-top: 1px solid #f2f2f2;
    padding: 10px;
    .header-fly{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 15px;
      span{
        width: 100%;
        background: #eeebeb;
        color: var(--text-color);
        font-size: 14px;
        display: grid;
        place-items: center;
        border-radius: 5px;
        height: 45px;
        font-weight: 500;
      }
    }
    .body-fly{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 15px;
      height: 80px;
      .price{
        display: flex;
        align-items: center;
        height: 90%;
        justify-content: center;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          left: -7px;
          top: 5%;
          height: 100%;
          border-left: 1px solid #eeebeb;
        }
        strong{
          color: var(--text-color);
          font-size: 17px;
        }
        small{
          font-size: 14px;
          color: var(--base-color);
          margin-right: 7px;
        }
      }
      span{
        color: var(--text-color);
        font-size: 15px;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
      }
    }
  }
}

@media only screen and (max-width: 868px){
  .thumbnail-flight{
    .top{
      flex-direction: column;
      .start{
        width: 100%;
        border-left: none;
        padding: 8px !important;
      }
      .center{
        width: 100%;
        padding: 8px !important;
      }
      .end{
        width: 100%;
        padding: 8px !important;
      }
    }
    .bottom{
      width: 100%;
      overflow-x: scroll;
      .header-fly{
        width: 1000px;
      }
      .body-fly{
        width: 1000px;
      }
    }
  }
}
//end
