<prs-loading *ngIf="isLoading"></prs-loading>

<prs-address-bar [path]="'هتل'" [path2]="hotelInfo.name ? hotelInfo.name : ''"></prs-address-bar>


<!--select-fly-->

<section>
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="thumbnail-hotel">
            <div class="img-hotel">
              <img src="{{ hotelInfo.thumbnail }}" alt="">
            </div>
            <div class="detail-hotel">
              <div class="r">
                <div class="star">
                  <i class="icon-star" *ngFor="let star of getStars(hotelInfo.stars)"></i>
                </div>
                <h2 class="name-hotel"><a href="">{{ hotelInfo.name }} | {{ hotelInfo.nameEn }}</a></h2>
                <div class="address d-flex justify-content-start align-items-center">
                  <img src="assets/img/location2.svg" width="15" alt="">
                  <span>{{ hotelInfo.location ?? 'ثبت نشده' }}</span>
                </div>
              </div>
              <div class="l">
                <div class="p-price" *ngIf="hotelInfo.packages.length > 0">
                  <span class="title">شروع قیمت :</span>
                  <div class="price d-flex align-items-center">
                    <strong>{{ getStarterPrice() | round| sperator }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="title-tour-special-swiper mt-3">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3> انتخاب پرواز</h3>
                  <span>پرواز خود را از لیست زیر انتخاب کنید</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>

        <ng-template ngFor let-i="index" let-package [ngForOf]="hotelInfo.packages">
          <div class="thumbnail-flight" *ngFor="let item of hotelInfo.packages[i]?.tour?.newTransfers; let j = index">
            <div class="top">
              <div class="start">
                <img [src]="item.origin_transfer.logo" width="40" height="35" />
                <div class="d-flex flex-column align-items-start w-100">
                  <div class="title">
                    <span>پرواز رفت از :</span>
                    <strong>{{ item.origin.name }} به {{ item.destination.name }}</strong>
                    <strong>{{ '-' + ' ' + item.origin_transfer.name }}</strong>
                  </div>
                  <div class="p-date">
                    <div class="date">
                      <span>تاریخ و ساعت پرواز رفت :</span>
                      <p>{{calenderService.convertDateAndTime(item.departure_date + ' ' + item.departure_time, 'fa')}}</p>
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="isTablet" class="info-time">
                <span class="title">مدت اقامت :</span>
                <span style="margin-right: 4px" class="text">{{ hotelInfo.packages[0].tour.nightNum }} شب و {{ hotelInfo.packages[0].tour.dayNum }} روز</span>
              </div>
              <div class="center">
                <img [src]="item.destination_transfer.logo" width="40" height="35"/>
                <div class="w-100 d-flex flex-column align-items-start">
                  <div class="title">
                    <span>پرواز برگشت از :</span>
                    <strong>{{ item.destination.name }} به {{ item.origin.name }}</strong>
                    <strong>{{ '-' + ' ' + item.destination_transfer.name }}</strong>
                  </div>
                  <div class="p-date">
                    <div class="date">
                      <span>تاریخ و ساعت پرواز برگشت :</span>
                      <p>{{calenderService.convertDateAndTime(item.return_date + ' ' + item.return_time, 'fa')}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="end">
                <span *ngIf="isDesktop">تامین کننده : {{ package.tour.agency }}</span>
                <a *ngIf="isDesktop" (click)="checkReserve(package.id, item.id)" class="btn-base w-100 d-flex align-items-center justify-content-center h-45 mt-2">
                  انتخاب تور
                </a>
                <!-- <a data-toggle="collapse" class="btn-view-more" href="#collapseExample{{i}}" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                  مشاهده اطلاعات اتاق ها
                  <i class="icon-down-open"></i>
                </a> -->
              </div>
            </div>
            <!-- id="collapseExample{{i}}" -->
            <!-- collapse -->
            <div *ngIf="isDesktop" class="w-100 bottom" >
              <div class="header-fly">
                <span>دو تخته(هر نفر)</span>
                <span *ngIf="!package.tour.endCity.type">سینگل</span>
                <span *ngIf="package.tour.endCity.type">سه تخته(هر نفر)</span>
                <span *ngIf="package.tour.endCity.type">چهارتخته(هر نفر)</span>
                <span *ngIf="!package.tour.endCity.type">کودک با تخت</span>
                <span *ngIf="!package.tour.endCity.type">کودک بدون تخت</span>
                <span>سن کودک بدون تخت</span>
              </div>
              <div class="body-fly">
                <div class="price" >
                  <strong>{{ getFullPrice(package.prices.twin, item.adl_price) |round | sperator }}</strong>
                  <small>تومان</small>
                </div>
                <div class="price" *ngIf="!package.tour.endCity.type">
                  <strong>{{ getFullPrice(package.prices.single, item.adl_price) | round| sperator }}</strong>
                  <small>تومان</small>
                </div>
                <div class="price" *ngIf="package.tour.endCity.type">
                  <strong>{{ getFullPrice(package.prices.triple, item.adl_price)  | round| sperator }}</strong>
                  <small>تومان</small>
                </div>
                <div class="price" *ngIf="package.tour.endCity.type">
                  <strong>{{ getFullPrice(package.prices.quad, item.adl_price) | round| sperator }}</strong>
                  <small>تومان</small>
                </div>
                <div class="price" *ngIf="!package.tour.endCity.type">
                  <strong>{{ getFullPrice(package.prices.cwb, item.chd_price) | round| sperator }}</strong>
                  <small>تومان</small>
                </div>
                <div class="price" *ngIf="!package.tour.endCity.type">
                  <strong>{{ 0 }}</strong>
                  <small>تومان</small>
                </div>
                <span>{{ package.prices.age }}</span>
              </div>
            </div>
            <div class="p-bed-mobi" *ngIf="isTablet">
                <div class="item-full">
                  <span>دو تخته (هر نفر)</span>
                  <div class="price" >
                    <strong>{{ (package.prices.twin |round | sperator) }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <div *ngIf="!package.tour.endCity.type" class="item">
                  <span>سینگل</span>
                  <div class="price">
                    <strong>{{ (package.prices.single| round| sperator) }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <div *ngIf="package.tour.endCity.type" class="item">
                  <span >سه تخته (هر نفر)</span>
                  <div class="price">
                    <strong>{{ (package.prices.triple  | round| sperator) }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <div *ngIf="package.tour.endCity.type" class="item">
                  <span>چهارتخته (هر نفر)</span>
                  <div class="price">
                    <strong>{{ (package.prices.quad| round| sperator) }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <div *ngIf="!package.tour.endCity.type" class="item-full">
                  <span >کودک با تخت</span>
                  <div class="price">
                    <strong>{{ (package.prices.cwb| round| sperator) }}</strong>
                    <small>تومان</small>
                  </div>

                </div>
                <div *ngIf="!package.tour.endCity.type" class="item-full">
                  <span >کودک بدون تخت</span>
                  <div class="price">
                    <strong>{{ 0 }}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <div class="item-full">
                  <span>سن کودک بدون تخت</span>
                  <p>{{ package.prices.age }}</p>
                </div>
            </div>
            <div *ngIf="isTablet" class="w-100 d-flex my-3 flex-column align-items-center">
              <span >تامین کننده : {{ package.tour.agency }}</span>
              <a  (click)="checkReserve(package.id, item.id)" class="btn-base w-100 d-flex align-items-center justify-content-center h-45 mt-2">
                انتخاب تور
              </a>
            </div>
          </div>
        </ng-template>

          <div class="empty-box" *ngIf="hotelInfo.packages.length === 0">
            <span >پروازی برای این هتل یافت نشد</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end-->

<!-- 
<section class="info-hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-info-hotel">
          <div class="title-info-hotel">
            <div class="right">
              <img src="assets/img/Tag.svg" width="35" alt="">
              <div class="text">
                <h2 class="title-fa">{{ hotelInfo.name }}</h2>
                <h2 class="title-en">{{ hotelInfo.nameEn }}</h2>
              </div>
            </div>
          </div>
          <div class="box-info-hotel">
            <div class="title-hotel">
              <div class="name-city-country">
                <img src="assets/img/Location.svg" width="20" alt="">
                <span class="title-small-fa"> منطقه :</span>
                <span class="title-fa mr-2">{{ hotelInfo.city.name }}, </span>
                <span class="title-fa mr-2">{{ hotelInfo.location }}</span>
              </div>
              <div class="rate-star">
                <span class="title-small-fa">درجه هتل :</span>
                <i class="icon-star text-warning" *ngFor="let star of getStars(hotelInfo.stars)"></i>
              </div>
            </div>

            <div class="parent-gallery" *ngIf="hotelInfo.images && hotelInfo.images.length > 0">
              <div class="right-gallery">
                <img class="top-right" [lightbox]="0" [gallery]="galleryId" [src]="hotelInfo.images[0]" alt="">
                <img class="left-right" [lightbox]="1" [gallery]="galleryId" [src]="hotelInfo.images[1]" alt="">
                <img class="bottom-right" [lightbox]="2" [gallery]="galleryId" [src]="hotelInfo.images[2]" alt="">
                <img class="bottom-left" [lightbox]="3" [gallery]="galleryId" [src]="hotelInfo.images[3]" alt="">
              </div>
              <div class="left-gallery" [style.background-image]="'url(' + hotelInfo.thumbnail.split(' ').join('%20') + ')'">
                <div class="parent-view-all-photo">
                  <a class="btn-photos ml-2" *ngIf="hotelInfo.mediaLink && (hotelInfo.mediaLink[0].link && hotelInfo.mediaLink[1].link)" (click)="openMedia(hotelInfo.mediaLink)">
                    <img src="assets/img/video-camera.png" width="25" alt="">
                    <span>مشاهده ویدیو</span>
                  </a>
                  <a class="btn-photos" [lightbox]="0" [gallery]="galleryId">
                    <img src="assets/img/Menu-hotel.svg" width="20" alt="">
                    <span>مشاهده همه عکس ها</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="about-hotel">
              <div class="map">
                <div class="no-map" *ngIf="hotelInfo?.coordinate?.lat === 0 && hotelInfo?.coordinate?.lng === 0" >
                  <span>نقشه موجود نیست</span>
                </div>
                <prs-show-location *ngIf="hotelInfo.coordinate.lat !== 0 && hotelInfo.coordinate.lng !== 0"  [inCommingLatLng]="hotelInfo.coordinate"></prs-show-location>

                <a class="btn-map" *ngIf="hotelInfo.coordinate.lat !== 0">مسیریابی از مبدا شما !</a>
                <div class="address">
                  <img src="assets/img/008-maps.svg" width="20" alt="">
                  <p class="text-en">{{ hotelInfo.address }}</p>
                </div>
                <div class="telephone">
                  <img src="assets/img/003-telephone.svg" width="20" alt="">
                  <p>{{ '-' }}</p>
                </div>
              </div>
              <div class="info-about-hotel">
                <div class="scrollbar" id="style-1"></div>
                <h2>درباره  {{hotelInfo.name}} بیشتر بدانید :</h2>
                <p *ngIf="hotelInfo.body" [innerHTML]="hotelInfo.body | safeHtml"></p>
                <p *ngIf="!hotelInfo.body">توضیحاتی ثبت نشده است</p>
              </div>
            </div>

            <div class="notes-hotel">
              <div class="option">
                <h2>امکانات هتل ، اتاق ها و خدمات دیگر در یک نگاه</h2>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length > 0">
                  <div class="item" *ngFor="let service of hotelInfo.services[0].services">
                    <span>{{service.name}}</span>
                  </div>
                </div>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length === 0">
                  امکاناتی برای این هتل وجود ندارد.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section> -->



