<prs-loading *ngIf="isLoading"></prs-loading>

<prs-address-bar [path]="'هتل'" [path2]="hotelInfo.name ? hotelInfo.name : ''"></prs-address-bar>


<!--select-fly-->

<section class="mt-5">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="title-tour-special-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3> انتخاب پرواز</h3>
                  <span>پرواز خود را از لیست زیر انتخاب کنید</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="thumbnail-hotel">
            <div class="img-hotel">
              <img src="{{ hotelInfo.thumbnail }}" alt="">
            </div>
            <div class="detail-hotel">
              <div class="r">
                <div class="star">
                  <i class="icon-star" *ngFor="let star of getStars(hotelInfo.stars)"></i>
                </div>
                <h2 class="name-hotel"><a href="">{{ hotelInfo.name }} | {{ hotelInfo.nameEn }}</a></h2>
                <div class="address d-flex align-items-center">
                  <img src="assets/img/location2.svg" width="15" alt="">
                  <span>{{ hotelInfo.location ?? 'ثبت نشده' }}</span>
                </div>
              </div>
              <div class="l">
                <div class="p-price">
                  <span class="title">شروع قیمت :</span>
                  <div class="price d-flex align-items-center">
                    <strong>1.400.000</strong>
                    <small>تومان</small>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="thumbnail-flight" *ngFor="let tour of hotelInfo.tours; let i = index">
            <div class="top">
              <div class="start">
                <div class="title">
                  <span>پرواز رفت :</span>
                  <strong>{{ tour.stCity.name }}</strong>
                </div>
                <div class="p-date">
                  <div class="date">
                    <span>تاریخ و ساعت پرواز رفت :</span>
                    <p *ngIf="tour.transfers.length > 0">{{calenderService.convertDate(tour.transfers[0].dateTime, 'fa')}}</p>
                  </div>
                </div>
              </div>
              <div class="center">
                <div class="title">
                  <span>پرواز برگشت :</span>
                  <strong>{{ tour.endCity.name }}</strong>
                </div>
                <div class="p-date">
                  <div class="date">
                    <span>تاریخ و ساعت پرواز برگشت :</span>
                    <p>{{calenderService.convertDate(tour.transfers[1].dateTime, 'fa')}}</p>
                  </div>
                </div>
              </div>
              <div class="end">
                <span>تامین کننده : {{ tour.user.agency }}</span>
                <a href="" class="btn-base w-100 d-flex align-items-center justify-content-center h-45 mt-2">
                  انتخاب تور
                </a>
                <a data-toggle="collapse" class="btn-view-more" href="#collapseExample{{i}}" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                  مشاهده اطلاعات اتاق ها
                  <i class="icon-down-open"></i>
                </a>
              </div>
            </div>
            <div class="collapse w-100 bottom" id="collapseExample{{i}}">
              <div class="header-fly">
                <span>دو تخته(هر نفر)</span>
                <span>سینگل</span>
                <span>کودک با تخت</span>
                <span>کودک بدون تخت</span>
                <span>سن کودک بدون تخت</span>
              </div>
              <div class="body-fly">
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <span>6</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end-->


<section class="info-hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-info-hotel">
          <div class="title-info-hotel">
            <div class="right">
              <img src="assets/img/Tag.svg" width="35" alt="">
              <div class="text">
                <h2 class="title-fa">{{ hotelInfo.name }}</h2>
                <h2 class="title-en">{{ hotelInfo.nameEn }}</h2>
              </div>
            </div>
<!--            <div class="left">-->
<!--              <a class="share">-->
<!--                <img src="assets/img/Navigation.svg" width="18" alt="">-->
<!--                <span>اشتراک گذاری !</span>-->
<!--              </a>-->
<!--              <a class="favorite">-->
<!--                <img src="assets/img/Heart.svg" width="18" alt="">-->
<!--                <span>افزودن به علاقه مندی !</span>-->
<!--              </a>-->
<!--            </div>-->
          </div>
          <div class="box-info-hotel">
            <div class="title-hotel">
              <div class="name-city-country">
                <img src="assets/img/Location.svg" width="20" alt="">
                <span class="title-small-fa">شهر و منطقه :</span>
                <span class="title-fa mr-2">{{ hotelInfo.city.name }}, </span>
                <span class="title-fa mr-2">{{ hotelInfo.location }}</span>
              </div>
              <div class="rate-star">
                <span class="title-small-fa">درجه هتل :</span>
                <i class="icon-star text-warning" *ngFor="let star of getStars(hotelInfo.stars)"></i>
              </div>
            </div>

            <!-- <div class="Similar-tour" *ngIf="hotelInfo.tours.length > 0">
              <div class="title-s2">
                <div class="text">
                  <img src="assets/img/Notification%202.svg" width="35" alt="">
                  <h2> تور های {{hotelInfo.name}}</h2>
                </div>
              </div>
              <prs-thumbnails-tour *ngIf="hotelInfo.tours.length > 0" [tours]="hotelInfo.tours"></prs-thumbnails-tour>
            </div> -->

            

            <div class="parent-gallery" *ngIf="hotelInfo.images && hotelInfo.images.length > 0">
              <div class="right-gallery">
                <img class="top-right" [lightbox]="0" [gallery]="galleryId" [src]="hotelInfo.images[0]" alt="">
                <img class="left-right" [lightbox]="1" [gallery]="galleryId" [src]="hotelInfo.images[1]" alt="">
                <img class="bottom-right" [lightbox]="2" [gallery]="galleryId" [src]="hotelInfo.images[2]" alt="">
                <img class="bottom-left" [lightbox]="3" [gallery]="galleryId" [src]="hotelInfo.images[3]" alt="">
              </div>
              <div class="left-gallery" [style.background-image]="'url(' + hotelInfo.thumbnail.split(' ').join('%20') + ')'">
                <div class="parent-view-all-photo">
                  <a class="btn-photos ml-2" *ngIf="hotelInfo.mediaLink && (hotelInfo.mediaLink[0].link && hotelInfo.mediaLink[1].link)" (click)="openMedia(hotelInfo.mediaLink)">
                    <img src="assets/img/video-camera.png" width="25" alt="">
                    <span>مشاهده ویدیو</span>
                  </a>
                  <a class="btn-photos" [lightbox]="0" [gallery]="galleryId">
                    <img src="assets/img/Menu-hotel.svg" width="20" alt="">
                    <span>مشاهده همه عکس ها</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="about-hotel">
              <div class="map">
                <div class="no-map" *ngIf="hotelInfo?.coordinate?.lat === 0 && hotelInfo?.coordinate?.lng === 0" >
                  <span>نقشه موجود نیست</span>
                </div>
               <!-- <iframe-->
<!--                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2889932769044!2d51.43323711512511!3d35.719110535501315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03d96fbc3287%3A0xf6b4bf5ce7af7319!2z2YfZhdmG2YjYp9iyINii2LPZhdin2YYg2KLYqNuM!5e0!3m2!1sen!2s!4v1634458141490!5m2!1sen!2s" -->
<!--                  width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
                <prs-show-location *ngIf="hotelInfo.coordinate.lat !== 0 && hotelInfo.coordinate.lng !== 0"  [inCommingLatLng]="hotelInfo.coordinate"></prs-show-location>

                <a class="btn-map" *ngIf="hotelInfo.coordinate.lat !== 0">مسیریابی از مبدا شما !</a>
                <div class="address">
                  <img src="assets/img/008-maps.svg" width="20" alt="">
                  <p class="text-en">{{ hotelInfo.address }}</p>
                </div>
                <div class="telephone">
                  <img src="assets/img/003-telephone.svg" width="20" alt="">
                  <p>{{ hotelInfo.phone ? hotelInfo.phone : '-' }}</p>
                </div>
              </div>
              <div class="info-about-hotel">
                <div class="scrollbar" id="style-1"></div>
                <h2>درباره  {{hotelInfo.name}} بیشتر بدانید :</h2>
                <p *ngIf="hotelInfo.body" [innerHTML]="hotelInfo.body | safeHtml"></p>
                <p *ngIf="!hotelInfo.body">توضیحاتی ثبت نشده است</p>
              </div>
            </div>

            <div class="notes-hotel">
<!--              <h2>نکات برجسته هتل {{hotelInfo.name}}</h2>-->
<!--              <div class="details">-->
<!--                <div class="right-box">-->
<!--                  <img src="assets/img/Credit-Card.svg" alt="">-->
<!--                  <p>-&#45;&#45;-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="left-box">-->
<!--                  <img src="assets/img/Verified.svg" alt="">-->
<!--                  <p>-&#45;&#45;</p>-->
<!--                </div>-->
<!--              </div>-->
              <div class="option">
                <h2>امکانات هتل ، اتاق ها و خدمات دیگر در یک نگاه</h2>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length > 0">
                  <div class="item" *ngFor="let service of hotelInfo.services[0].services">
<!--                    <img src="assets/img/Modem.svg" width="20" alt="">-->
                    <span>{{service.name}}</span>
                  </div>
                </div>
                <div class="parent-item-option" *ngIf="hotelInfo.services.length === 0">
                  امکاناتی برای این هتل وجود ندارد.
                </div>
<!--                <div class="parent-view-option">-->
<!--                  <a class="btn-option" href="">مشاهده تمامی امکانات</a>-->
<!--                </div>-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>



