.box-info-hotel {
  width: 100%;
}

.title-en {
  font-size: 14px;
}

.title-info-hotel {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-color-one);
  padding-bottom: 12px;
}

.title-info-hotel .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-info-hotel .right .text {
  margin-right: 8px;
}

.title-info-hotel .right .text .title-fa {
  color: var(--gray-color-dark);
  font-size: 20px;
  margin-bottom: 8px;
}

.title-info-hotel .left {
  display: flex;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.favorite {
  display: flex;
  align-items: center;
}

.share span, .favorite span {
  margin-right: 8px;
  color: var(--base-color);
}


//---------------
.title-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0;
}

.name-city-country {
  display: flex;
  align-items: center;
}

.title-small-fa {
  margin-right: 8px;
}

.name-city-country .title-en {
  margin-right: 6px;
}

.rate-star {
  display: flex;
  align-items: center;
}

.rate-star bar-rating {
  margin-right: 10px;
}

//--------------

//gallery-img
.parent-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.right-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  justify-content: space-between;
}

.right-gallery img {
  margin-top: 18px;
  width: 48.5%;
  height: 205px;
  object-fit: cover;
}

.right-gallery img:nth-child(1) {
  border-radius: 0 25px 0 0;
}

.right-gallery img:nth-child(3) {
  border-radius: 0 0 25px;
}

.left-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  height: 429px;
  background: url("../../../assets/img/Mask Group 2.png") no-repeat center center;
  background-size: cover;
  margin-top: 18px;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  position: relative;
}

.parent-view-all-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px;
}

.btn-photos {
  width: auto;
  padding: 0 12px;
  height: 42px;
  background-color: var(--white);
  color: var(--base-color) !important;
  border-radius: var(--radius-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

.btn-photos span {
  margin-right: 8px;
  font-weight: 600;
}

.about-hotel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1.5rem 0;
}

.about-hotel .map {
  width: 29%;
  display: flex;
  flex-direction: column;
  height: 440px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 12px;
}

.about-hotel .map iframe {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
}

.about-hotel .info-about-hotel {
  width: 69%;
  display: flex;
  flex-direction: column;
  height: 440px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 12px 20px 12px 12px;
  overflow-y: auto;
}

.btn-map {
  width: 60%;
  margin: 0 auto;
  height: 42px;
  background-color: var(--base-color);
  color: var(--white);
  border-radius: var(--radius-btn);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
}

.address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.address img {
  margin-top: 4px;
}

.address p {
  width: 85%;
  margin-bottom: 0;
}

.telephone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.telephone p {
  color: var(--gray-color-light);
  margin-bottom: 0;
}

.about-hotel .info-about-hotel h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--base-color);
}

.about-hotel .info-about-hotel p {
  line-height: 28px;
  color: var(--gray-color-light);
  text-align: justify;
}

.info-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.info-two h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--base-color);
}

.info-two p {
  line-height: 28px;
  color: var(--gray-color-light);
  text-align: justify;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  float: right;
  width: 5px;
}

.notes-hotel {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid #eee;
}

.notes-hotel h2 {
  font-size: 18px;
  color: var(--base-color);
  margin-bottom: 12px;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .right-box, .details .left-box {
  width: 48.5%;
  display: flex;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #13B684;
  padding: 0 12px;
}

.details .right-box img {
  filter: brightness(130%);
  width: 35% !important;
}

.details .left-box img {
  width: 17% !important;
}

.details .right-box p, .details .left-box p {
  margin-bottom: 0;
  text-align: justify;
  color: var(--gray-color-light);
  margin-right: 10px;
}

.option {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option h2 {
  color: var(--base-color);
  font-size: 18px;
}

.parent-item-option {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 95%;
}

.parent-item-option .item {
  margin: 10px auto;
}

.parent-item-option span {
  margin-right: 8px;
  color: var(--gray-color-light);
  font-weight: 500;
}

.parent-view-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-view-option .btn-option {
  width: 170px;
  height: 40px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--gray-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
}

.Similar-tour {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-agency {
  display: flex;
  flex-direction: column;

}

.details-agency .top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.required-documents, .services-agency {
  width: 48.8%;
  border-radius: 10px;
  border: 2px solid var(--base-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.required-documents h2, .services-agency h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.required-documents p, .services-agency p {
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 26px;
}

.img-fix-s3 {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.complete-details {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--base-color-three);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  margin-top: 1.5rem;
}

.complete-details h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.complete-details p {
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 26px;
}

.title-s2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.title-s2 .text {
  display: flex;
  align-items: center;
}

.title-s2 .text h2 {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 0;
}


//-------------------end-desktop


//mobile
@media only screen and (max-width: 499px) {
  .title-info-hotel .right .text .title-fa {
    font-size: 15px;
    margin-bottom: 0;
  }
  .title-info-hotel .right img {
    width: 20px;
  }
  .title-info-hotel {
    flex-direction: column;
  }
  .title-hotel{
    display: flex;
    flex-direction: column;
  }
  .rate-star {
    margin-top: 12px;
  }
  .parent-gallery {
    flex-direction: column-reverse;
  }
  .left-gallery{
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 250px;
  }
  .right-gallery{
    width: 100%;
  }
  .right-gallery img {
    height: 125px;
  }
  .right-gallery img:nth-child(1){
    border-radius: unset;
  }
  .right-gallery img:nth-child(3){
    border-radius: 0 0 25px 0;
  }
  .right-gallery img:nth-child(4){
    border-radius: 0 0  0 25px;
  }
  .about-hotel {
    flex-direction: column-reverse;
  }
  .about-hotel .info-about-hotel {
    width: 100%;
  }
  .about-hotel .map {
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .right-box, .details .left-box {
    width: 100%;
    margin-top: 12px;
  }
  p{
    font-size: 13px !important;
  }
  h2{
    font-size: 15px !important;
  }
  .parent-item-option{
    grid-template-columns: 1fr 1fr;
  }
}


//tablet
@media only screen and (min-width: 500px) and (max-width: 868px) {
  .title-info-hotel .right .text .title-fa {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .title-info-hotel .right img {
    width: 20px;
  }
  .title-info-hotel {
    flex-direction: column;
  }
  .parent-gallery {
    flex-direction: column-reverse;
  }
  .left-gallery{
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 280px;
  }
  .right-gallery{
    width: 100%;
  }
  .right-gallery img {
    height: 140px;
  }
  .right-gallery img:nth-child(1){
    border-radius: unset;
  }
  .right-gallery img:nth-child(3){
    border-radius: 0 0 25px 0;
  }
  .right-gallery img:nth-child(4){
    border-radius: 0 0  0 25px;
  }
  .about-hotel {
    flex-direction: column-reverse;
  }
  .about-hotel .info-about-hotel {
    width: 100%;
  }
  .about-hotel .map {
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .right-box, .details .left-box {
    width: 100%;
    margin-top: 12px;
  }
  .parent-item-option{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
