@import '~@angular/cdk/overlay-prebuilt.css';
.box-info-hotel {
  width: 100%;
}
.title-en {
  font-size: 14px;
}
//for lightbox image gallery
::ng-deep .g-items-container {
  direction: ltr!important;
}
//for lightbox image gallery
.parent-info-city{
  display: flex;
  flex-direction: column;
}
.box-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.box-search .inp-form {
  width: 300px !important;
}
.box-search .inp-form input{
  font-family: IRANSans !important;

}

.box-search .inp-form select {
  color: var(--gray-color-light);
  font-size: 13px;
  font-weight: 500;
}

.Continue-trip {
  margin-top: 1rem;
}

.btn-search {
  height: 40px;
  width: 120px;
  padding: 0 10px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-right: 18px;
}
.btn-search:hover{
  background-color: var(--white);
  color: var(--base-color);
  transition: var(--btn-animtion);
}
.search{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search .share{
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.search .share .Navigation{
  margin-left: 1rem
;
}
#tab-info-city{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.tab-ul-list{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 40px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.tab-ul-list li{
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tab-ul-list li:not(:last-child){
  border-left: 2px solid #E0E0E0;
}
.tab-ul-list li a{
  color: #9F9F9F;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.active-li-city a{
  border-bottom: 2px solid var(--gray-color-light) !important;
}
.active-li-city a{
  color: var(--gray-color-light) !important;
  font-weight: 500;
}
#about{
  margin-top: 1.5rem;
  width: 100%;
}
.about-city{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-about-city{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-about-city .text{
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-about-city .text h1{
  font-size: 18px;
  color: var(--gray-color-dark);
  margin-bottom: 0 !important;
  font-weight: 500;
}
.title-about-city .text span{
  font-size: 12px !important;
  color: var(--base-color);
}
.details-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-text p{
  color: var(--gray-color-dark);
  text-align: justify;
  margin-top: 12px !important;
  line-height: 28px;
}
.box-faq{
  margin-top: 12px;
}
.question{
  border: 2px solid #E0E0E0;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
.question .right{
  display: flex;
  align-items: center;
}
.question .right span{
  margin-right: 8px;
  color: var(--gray-color-light);
  font-weight: 500;
}
.question i{
  color: var(--gray-color-light);
}
.answer{
  margin-top: 12px;
  padding: 0 2rem;
}
.answer span{
  color: var(--base-color);
}
.faq{
  overflow-y: auto;
  height: auto;
  margin-top: 2rem;
}
.title-faq{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-faq .text{
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-faq .text h1{
  font-size: 18px;
  color: var(--gray-color-dark);
  margin-bottom: 0 !important;
  font-weight: 500;
}
.title-faq .text span{
  font-size: 12px !important;
  color: var(--base-color);
}
:host::ng-deep .view-all-tour{
  display: none !important;
}
.blog{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.blog .title{
  display: flex;
  align-items: center;
}
.blog .title h1{
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-color-dark);
  margin-right: 8px;
  margin-bottom: 0;
}
gallery{
  margin-top: 1.5rem;
}
.tab-ul-list-fix{
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: 110;
}

.li-active-fix{
  border-bottom: 2px solid var(--base-color) !important;
  color: var(--base-color) !important;
  font-weight: 500;
}
//s2
.title-s2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.title-s2 .text {
  display: flex;
  align-items: center;
}

.title-s2 .text h2 {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 0;
}

//gallery-img
.parent-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.right-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  justify-content: space-between;
}

.right-gallery img {
  margin-top: 18px;
  width: 48.5%;
  height: 205px;
  object-fit: cover;
}

.right-gallery img:nth-child(1) {
  border-radius: 0 25px 0 0;
}

.right-gallery img:nth-child(3) {
  border-radius: 0 0 25px;
}

.left-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 49.2%;
  height: 429px;
  background: no-repeat center center;
  background-size: cover;
  margin-top: 18px;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  position: relative;
}

.parent-view-all-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px;
}

.btn-photos {
  width: auto;
  padding: 0 12px;
  height: 42px;
  background-color: var(--white);
  color: var(--base-color) !important;
  border-radius: var(--radius-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

.btn-photos span {
  margin-right: 8px;
  font-weight: 600;
}

.about-hotel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1.5rem 0;
}

@media only screen and (max-width: 868px){
  .search{
    flex-direction: column;
  }
  .box-search{
    width: 100%;
    flex-wrap: wrap;
  }
  .box-search .inp-form{
    width: 48% !important;
  }
  .btn-search {
    margin: 1rem auto;
  }
  .parent-gallery {
    flex-direction: column-reverse;
  }
  .left-gallery{
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 250px;
  }
  .right-gallery{
    width: 100%;
  }
  .right-gallery img {
    height: 125px;
  }
  .right-gallery img:nth-child(1){
    border-radius: unset;
  }
  .right-gallery img:nth-child(3){
    border-radius: 0 0 25px 0;
  }
  .right-gallery img:nth-child(4){
    border-radius: 0 0  0 25px;
  }
  .about-hotel {
    flex-direction: column-reverse;
  }
  .about-hotel .info-about-hotel {
    width: 100%;
  }
  .about-hotel .map {
    width: 100%;
    margin-top: 1rem;
    height: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .right-box, .details .left-box {
    width: 100%;
    margin-top: 12px;
  }
  p{
    font-size: 13px !important;
  }
  h2{
    font-size: 15px !important;
  }
  .parent-item-option{
    grid-template-columns: 1fr 1fr;
  }
  .tab-ul-list {
    display: none !important;
  }
  .tab-ul-list-fix{
    display: none !important;
  }
}

.empty-box {
  height: auto;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  padding: 1rem !important;
  border: 1px solid #c6c6c6;
  margin-top: 1rem;
  display: grid;
  place-items: center;
  h3 {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin: 0 !important;

  }
}
