@import '~@angular/cdk/overlay-prebuilt.css';
.box-info-hotel {
  width: 100%;
}
.title-en {
  font-size: 14px;
}
//for lightbox image gallery
::ng-deep .g-items-container {
  direction: ltr!important;
}
//for lightbox image gallery
.parent-info-city{
  display: flex;
  flex-direction: column;
}
.box-search {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 2rem;
}

.box-search .inp-form {
  width: 39% !important;
}
.box-search .inp-form input{
  font-family: IRANSans !important;

}

.box-search .inp-form select {
  color: var(--gray-color-light);
  font-size: 13px;
  font-weight: 500;
}

.Continue-trip {
  margin-top: 1rem;
}

.btn-search {
  height: 40px;
  width: 120px;
  padding: 0 10px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search .share{
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.search .share .Navigation{
  margin-left: 1rem
;
}
#tab-info-city{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.tab-ul-list{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 40px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.tab-ul-list li{
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tab-ul-list li:not(:last-child){
  border-left: 2px solid #E0E0E0;
}
.tab-ul-list li a{
  color: #9F9F9F;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.active-li-city a{
  border-bottom: 2px solid var(--gray-color-light) !important;
}
.active-li-city a{
  color: var(--gray-color-light) !important;
  font-weight: 500;
}
#about{
  margin-top: 1.5rem;
  width: 100%;
}
.about-city{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-about-city{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-about-city .text{
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-about-city .text h1{
  font-size: 18px;
  color: var(--gray-color-dark);
  margin-bottom: 0 !important;
  font-weight: 500;
}
.title-about-city .text span{
  font-size: 12px !important;
  color: var(--base-color);
}
.details-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-text p{
  color: var(--gray-color-dark);
  text-align: justify;
  margin-top: 12px !important;
  line-height: 28px;
}
.box-faq{
  margin-top: 12px;
}
.question{
  border: 2px solid #E0E0E0;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
.question .right{
  display: flex;
  align-items: center;
}
.question .right span{
  margin-right: 8px;
  color: var(--gray-color-light);
  font-weight: 500;
}
.question i{
  color: var(--gray-color-light);
}
.answer{
  margin-top: 12px;
  padding: 0 2rem;
}
.answer span{
  color: var(--base-color);
}

.title-faq{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-faq .text{
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-faq .text h1{
  font-size: 18px;
  color: var(--gray-color-dark);
  margin-bottom: 0 !important;
  font-weight: 500;
}
.title-faq .text span{
  font-size: 12px !important;
  color: var(--base-color);
}
:host::ng-deep .view-all-tour{
  display: none !important;
}
.blog{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.blog .title{
  display: flex;
  align-items: center;
}
.blog .title h1{
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-color-dark);
  margin-right: 8px;
  margin-bottom: 0;
}
