<section class="form-auth">
    <div class="prs-responsive">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11 m-auto parent-form">
            <form class="box-form" (ngSubmit)="getCodeValues()">
              <a routerLink="/">
                <img class="logo-website" src="assets/img/logo-header.png" width="200" alt="">
              </a>

              <div class="box-form">
                <h2>اعتبارسنجی کد ارسالی</h2>
                <div class="form">
                  <div class="item">
                    <label for="">کد ارسالی را وارد کنید:</label>
                    <input [formControl]="codeFC" type="text">
                  </div>
                  <div class="dnager-in-auth-majuls-left-big" *ngIf="checkError.hasError('password')">
                    <span>{{checkError.getError('password')}}</span>
                  </div>
                  <div class="w-100" *ngIf="codeFC.touched && codeFC.invalid">
                    این فیلد اجباری می باشد
                  </div>
                  <button type="submit" class="btn-form-auth">ثبت نام
                    <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
                  </button>
                  <button class="btn-form-auth" routerLink="/auth/validate">ویرایش شماره تلفن
                  </button>
                  <prs-resend-code [phone]="phone"></prs-resend-code>
                  <!--              <div class="text">-->
                  <!--                <span>قبلا ثبت نام کرده اید؟</span>-->
                  <!--                <a routerLink="/validate">ورود به حساب کاربری</a>-->
                  <!--              </div>-->
                  <p class="footer-text-form">با ورود و یا ثبت نام در اسنپ تریپ شما شرایط و قوانین استفاده از سرویس های سایت
                    اسنپ تریپ و قوانین حریم خصوصی آن را می‌پذیرید.</p>
                </div>
              </div>
            </form>

            <div style="background: white;padding: 14px;height: auto;width: 100%;display: grid;place-items:center;border:1px solid #c6c6c6;border-radius: 8px;">
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, aspernatur!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  
