.parent-list-cities{
  width: 99%;
}
.list-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0;
}
.list-group-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.parent-btn{
  display: flex;
  align-items: center;
}
.edit{
  margin-left: 10px;
}
:host::ng-deep .btn-blue{
  height: 33px !important;
  border-radius: 4px !important;
}
:host::ng-deep .btn-dark{
  height: 33px !important;
  border-radius: 4px !important;
}



.list-city-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  background-color: #d5d5d5bd;
  margin-top: 1.5rem;
}
.list-city-header h2{
  color: var(--base-color);
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 16px;
}
:host::ng-deep .mat-button-toggle {
  height: 35px !important;
}
:host::ng-deep .mat-button-toggle-label-content{
  height: 35px !important;
  display: flex;
  align-items: center;
  font-family: IRANSans !important;
}
.parent-view-city{
  display: flex;
  align-items: center;
}
.parent-view-city label{
  margin-right: 8px;
}

@media only screen and (max-width: 868px){
  .list-city-header {
    height: auto;
    padding: 8px;
    flex-wrap: wrap;
  }
  .parent-view-city {
    margin-top: 10px;
  }
  :host::ng-deep button{
    font-size: 12px !important;
  }
}
