<div class="parent-list-cities">
  <div class="list-city-header">
    <h2>لیست شهر ها</h2>
    <div class="item-info-mat">
      <mat-button-toggle-group name="fontStyle" (change)="getCities()" [formControl]="typeFC" aria-label="Font Style">
        <mat-button-toggle [value]="false">خارجی</mat-button-toggle>
        <mat-button-toggle [value]="true">داخلی</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="parent-view-city">
      <input type="checkbox" [(ngModel)]="hasHotel" (ngModelChange)="getCities()">
      <label class="label"> نمایش شهرهای حاوی هتل</label>
    </div>
    <div class="parent-view-city">
      <input type="checkbox" [(ngModel)]="hasTour" (ngModelChange)="getCities()">
      <label for="">نمایش شهر های حاوی تور</label>
    </div>

  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities">{{city.name}}
      <div class="parent-btn">
        <prs-btn class="edit" [label]="'ویرایش'" [background]="'blue'" (click)="edit(city.slug)"></prs-btn>
        <prs-btn class="delete" [label]="'حذف'" [background]="'dark'" (click)="remove(city.slug)"></prs-btn>
      </div>

    </li>
  </ul>
</div>
