//special-tour
.special-tour {
    margin-top: 2rem;
  }
  
  .slider-special-tour {
    position: relative;
  }
  
  .slider-special-tour .title-tour-special-swiper {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
  
  .swiper-tour-special {
    padding: 6rem 0 1rem 0;
  }
  
  .box-special-tour {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .box-special-tour:hover .title-tour-special {
    color: var(--base-color);
  }
  
  .img-special-tour {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .img-special-tour img {
    object-fit: cover;
    border-radius: 15px;
    height: 100%;
  }
  
  .img-special-tour .hover-info-img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #3e3e3e78;
    display: none;
    transition: var(--btn-animtion);
  }
  
  .img-special-tour:hover .hover-info-img {
    display: flex;
    transition: var(--btn-animtion);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .img-hover-child {
    width: 25px !important;
    height: auto !important;
  }
  
  .img-special-tour:hover .hover-info-img .view-details-more {
    font-weight: 500;
    margin-top: 10px;
    color: var(--white);
  }
  
  .top-info-tour-special {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .top-info-tour-special .day span {
    color: var(--gray-color-light);
    font-weight: 500;
    margin-right: 10px;
    font-size: 13px !important;
  }
  
  .top-info-tour-special .location span {
    color: var(--gray-color-light);
    font-weight: 500;
    margin-right: 10px;
    font-size: 13px !important;
  }
  
  .mid-info-tour-special {
    background-color: var(--light-color-two);
    border-radius: 8px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    margin-top: 10px;
  }
  
  .title-tour-special {
    font-weight: 500;
    font-size: 15px;
    color: #000;
  }
  
  .date-special {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
  }
  
  .date-special img {
    transform: rotate(90deg);
  }
  
  .bottom-info-tour-special {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .bottom-info-tour-special .title-price {
    display: flex;
    align-items: center;
  }
  
  .bottom-info-tour-special .title-price span {
    margin-right: 8px;
    font-size: 13px;
  }
  
  .bottom-info-tour-special .price-tour-special {
    font-size: 14px;
    color: var(--base-color);
  }
  
  .title-tour-special-swiper .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title-tour-special-swiper .top .new-tour {
    display: flex;
  }
  
  .title-tour-special-swiper .top .new-tour .text {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .title-tour-special-swiper .top .new-tour .text h3 {
    float: right;
    font-size: 18px;
    font-weight: 600;
    color: var(--base-color);
    margin-bottom: 4px;
  }
  
  .title-tour-special-swiper .top .new-tour .text span {
    font-size: 12px !important;
  }
  
  .title-tour-special-swiper .bottom {
    display: flex;
    align-items: center;
    margin-top: 14px;
  }
  
  .title-tour-special-swiper .bottom .border-right {
    width: 30%;
    height: 2px;
    background-color: var(--base-color);
  }
  
  .title-tour-special-swiper .bottom .border-left {
    width: 70%;
    height: 2px;
    background-color: var(--light-color-two);
  }
  
  :host::ng-deep .swiper-tour-special .swiper-button-next {
    left: 0 !important;
    right: auto !important;
    position: absolute !important;
    top: 55px !important;
    width: 28px;
    height: 28px;
    border: 3px solid var(--base-color);
    border-radius: 8px;
  }
  
  :host::ng-deep .swiper-tour-special .swiper-button-next:after {
    content: "prev";
    font-size: 15px !important;
    font-weight: 600 !important;
    color: var(--base-color) !important;
  }
  
  :host::ng-deep .swiper-tour-special .swiper-button-prev {
    left: 4% !important;
    right: auto !important;
    position: absolute !important;
    top: 55px !important;
    width: 28px;
    height: 28px;
    border: 3px solid var(--base-color);
    border-radius: 8px;
  }
  
  :host::ng-deep .swiper-tour-special .swiper-button-prev:after {
    content: "next";
    font-size: 15px !important;
    font-weight: 600 !important;
    color: var(--base-color) !important;
  }

  :host::ng-deep .tour-special-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5rem;
    padding-bottom: 2rem;
  
    ::-webkit-scrollbar-track {
      display: none !important;
    }
  
    ::-webkit-scrollbar-thumb {
      display: none !important;
    }
  
    ::-webkit-scrollbar {
      display: none !important;
    }
  
    .box-special-tour {
      margin: 0 14px;
  
      .img-special-tour {
        width: 280px;
      }
    }
  }
  
  //end