<div *ngIf="isDesktop" class="p-list-trip">
  <div class="header-trip">
    <span>عنوان تور</span>
    <span>تاریخ رفت</span>
    <span>تاریخ برگشت</span>
    <span>وضعیت</span>
    <span>کد پیگیری</span>
    <span>مبلغ قابل پرداخت</span>
    <!-- <span>مبلغ قابل پرداخت</span> -->
    <span>عملیات</span>
  </div>
  <div class="body-trip" *ngFor="let item of reserves">
    <span>{{ item.package?.tour?.title }}</span>
    <span dir="ltr">{{ item.package?.tour?.stDate ? calService.convertDateAndTime(item.package?.tour?.stDate, 'fa') : '' }}</span>
    <span dir="ltr">{{ item.package?.tour?.stDate ? calService.convertDateAndTime(item.package?.tour?.enDate, 'fa') : '' }}</span>
    <span>{{ publicService.getStatus(item.status) }}</span>
    <span>{{ item.ref_code }}</span>
    <!-- <span *ngIf="isDesktop"></span> -->
    <div class="d-flex price align-items-center">
      <strong>{{ item.bill?.totalPayAble | sperator }}</strong>
      <small>تومان</small>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <a style="height: auto !important;padding: 8px 16px" *ngIf="item.status !== 'PenddingPay' && item.status !== 'Paid'" routerLink="/dashboard/tour/info/{{ item.ref_code }}" class="btn-base">جزییات</a>
      <button style="height: auto !important;padding: 8px 16px" *ngIf="item.status === 'PenddingPay'" (click)="callPay(item.transactions[0])" class="btn-base">پرداخت</button>
      <a style="height: auto !important;padding: 8px 16px" *ngIf="item.status === 'Paid'" (click)="voucher(item.ref_code)" class="btn-base">نمایش واچر</a>
    </div>
  </div>
  <div *ngIf="reserves.length==0" class="empty-box">
    <h3>سفری یافت نشد</h3>
  </div>
</div>
<div class="p-list-trip-mobi" *ngIf="isTablet">
  <div *ngFor="let item of reserves" class="item-mobi-trip">
    <h2 class="title"><a href="">{{ item.package?.tour?.title }}</a></h2>
    <div class="item w-100 d-flex align-items-center justify-content-between">
      <span class="r">تاریخ رفت</span>
      <span class="l">{{ calService.convertDateAndTime(item.package?.tour?.stDate, 'fa') }}</span>
    </div>
    <div class="item w-100 d-flex align-items-center justify-content-between">
      <span class="r">تاریخ برگشت</span>
      <span class="l">{{ calService.convertDateAndTime(item.package?.tour?.enDate, 'fa') }}</span>
    </div>
    <div class="item w-100 d-flex align-items-center justify-content-between">
      <span class="r">وضعیت</span>
      <span class="l">{{ publicService.getStatus(item.status) }}</span>
    </div>
    <div class="item w-100 d-flex align-items-center justify-content-between">
      <span class="r">کد پیگیری</span>
      <span class="l">{{ item.ref_code }}</span>
    </div>
    <a *ngIf="item.status === 'Completion'" routerLink="/dashboard/tour/info/{{ item.ref_code }}" class="btn-base">جزییات</a>
    <button *ngIf="item.status === 'PenddingPay'" (click)="callPay(item.transactions[0])" class="btn-base">پرداخت</button>
    <a *ngIf="item.status === 'Paid'" routerLink="/voucher/{{item.ref_code}}" class="btn-base">نمایش واچر</a>
  </div>
  <div *ngIf="reserves.length==0" class="empty-box">
    <h3>سفری یافت نشد</h3>
  </div>
</div>
