.add-tour {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.box-info-tour {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
}

.info-tour-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 99%;
  background-color: #d5d5d5bd;
}

.info-tour-header .right {
  display: flex;
  align-items: center;
}

.info-tour-header .right label {
  width: auto;
  padding: 0 8px;
  height: 25px;
  border-radius: 512px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  font-size: 13px !important;
}

.info-tour-header .right h2 {
  font-size: 18px;
  color: var(--base-color);
  margin-right: 10px;
  margin-bottom: 0;
}

.info-tour-header .left select {
  width: 200px;
  background-color: var(--white);
}

.info-tour-body {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-color-two);
  padding: 1rem 2rem;
  width: 99%;
}

.info-tour-body .top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 8px 0;
}

.info-tour-body .bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 8px 0;
}

.box-info-fly {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.box-info-package {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.change-price-box {
  display: grid;
  grid-template-columns: 1fr 6fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 40px;
  width: 100%;
}

.change-price-box span {
  border-left: 1px solid var(--light-color-two);
  margin: auto 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.change-price-box input {
  height: 30px;
  outline: none;
  border: 1px solid var(--light-color-two);
  margin: auto 10px;
  padding: 0 10px;
}

.header-box {
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr 0.5fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 40px;
  width: 100%;
}
.header-box-two{
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr 0.5fr;
}
.header-box-two .package-item{
  margin: auto;
  font-weight: 500;
  font-size: 12px !important;
}
.body-box .package-item {
  margin: auto;
}
.body-foreign{
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr 1fr;
  width: 100%;
}
.header-box .package-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  padding-right: 6px;
  width: 99%;
}

.body-box {
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr 0.5fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 60px;
  width: 100%;
}

.body-box .package-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  padding-right: 6px;
  width: 99%;
}

.body-box .package-item select {
  height: 30px;
  width: 90%;
  outline: none;
  border: 1px solid var(--light-color-two);
}

.body-box .package-item .icon-cancel-1 {
  color: var(--red-color);
  margin-right: 5px;
}

.package-item .icon-plus-circled {
  color: var(--base-color);
  font-size: 20px;
}

.id-package {
  color: var(--red-color);
}

.body-box .package-item input {
  height: 30px;
  width: 90%;
  outline: none;
  border: 1px solid var(--light-color-two);
}

.box-details-tour {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.details-body-tour {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-color-two);
  padding: 1rem 2rem;
  width: 99%;
}
.details-body-tour .textarea{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-body-tour textarea {
  height: 200px;
  width: 32%;
  border: 1px solid var(--light-color-two);
  border-radius: 4px;
  padding: 8px 8px 0 0;
  color: var(--gray-color-light);
  outline: none;
  font-size: 13px !important;
}

.details-body-tour textarea::placeholder {
  color: var(--gray-color-light);
}
.submit-tour{
  border: none;
  outline: none;
  margin-top: 12px;
  border-radius: var(--radius-btn);
  height: 38px;
  color: var(--white);
  background-color: var(--green-color);
  width: 100px;
}

.item-info {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-info-services{
  display: flex;
  align-items: flex-end;
  width: 24.5%;
}
.item-info-services:not(:last-child){
  padding-left: 18px;
}
.item-info-services .box-services{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.item-info-services .box-services input{
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 8px;
  outline: none;
}
.item-info-services .box-services label{
  font-size: 13px !important;
  font-weight: 500;
}
.item-info-services .selectdiv{
  width: 30%;
  padding-right: 4px;
}
.item-info label {
  font-size: 13px !important;
  font-weight: 500;
}

.item-info input {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 8px;
  outline: none;
}
.item-info prs-select-categories {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 8px;
  outline: none;
}

.item-info-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32%;
}

.item-info-2 .select-info {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-info-2 .select-info label {
  font-size: 13px !important;
  font-weight: 500;
}

.item-info-2 .select-info select {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
}
:host::ng-deep .mat-form-field {
  width: 100%;
}
:host::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: unset !important;
  padding: 0 !important;
}
:host::ng-deep .mat-form-field-underline {
  display: none;
}
:host::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
  border: none !important;
}
.item-info-timer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
:host::ng-deep .mat-button-toggle{
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
}
:host::ng-deep .mat-button-toggle button{
  height: 100% !important;
  padding-bottom: 0 !important;
  outline: none;
}
:host::ng-deep.mat-button-toggle-label-content {
  line-height: 30px !important;
  font-family: IRANSans !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}
:host::ng-deep .mat-button-toggle-group-appearance-standard {
  margin-top: 8px !important;
}

.btn-submit-tour{
  margin-top: 1rem;
}
:host::ng-deep .btn-submit-tour .btn-blue{
  padding: 0 35px !important;
}
.btn-upload-img{
  width: 40%;
  height: 200px;
  border-radius: 10px;
  border: 2px dashed var(--base-color);
  background: unset;
  margin: 12px auto;
}
.single-img-upload-parent img{
  object-fit: contain;
}

@media only screen and (max-width: 868px){
  .btn-upload-img{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    border: 2px dashed var(--base-color);
    background: unset;
    margin: 12px auto;
  }
  .top{
    flex-direction: column;
  }
  .item-info{
    width: 100%;
  }
  .info-tour-header {
    padding: 0 6px;
    width: 100%;
  }
  .info-tour-header .left select {
    width: 150px !important;
  }
  .info-tour-header h2{
    font-size: 15px !important;
  }
}
