<prs-address-bar></prs-address-bar>
<section class="about-us">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-about-us">
          <h1>تمامی حقوق این سایت برای شرکت همنواز آسمان آبی محفوظ است .</h1>
          <p>شرکت خدمات مسافرت هوایی و جهانگردی همنواز آسمان آبی با ۱۴ سال سابقه وبادارا بودن مجوز های بند الف و ب از
            سازمان میراث فرهنگی و گردشگری و سازمان هواپیمایی کشوری همواره بر آن بوده است که بهترین خدمات فروش بلیط
            هواپیما و تور مسافرتی را به مسافرین محترم و همکاران عزیز عرضه نماید .</p>
          <h1>شرایط و ضوابط عمومی</h1>
          <p>وب‌سایت همنوازطبق قوانین جمهوری اسلامی ایران، قوانین جرایم اینترنتی و مجموعه‌ی قوانین و مقررات تجارت الکترونیکی فعالیت می‌کند.
            خدمات و محتوای عرضه شده توسط وب‌سایت همنوازجهت استفاده‌ در این وب‌سایت تولید می‌شوند. هر گونه سوءاستفاده از اطلاعات، متن‌ها، عکس‌ها، نقشه‌ها، طرح‌ها، لوگو و... از این وب‌سایت پیگرد قانونی دارد و هیچ فرد حقیقی یا حقوقی اجازه‌ی سوء استفاده از مطالب این وب‌سایت را ندارد. ذکر مطالب این وب‌سایت در اینترنت، تنها با ذکر نام و نشانی اینترنتی وب‌سایت همنوازو لینک به مطلب ذکر شده مجاز است و در رسانه‌های کاغذی، با کسب اجازه‌ی کتبی از مسئولان وب‌سایت امکان پذیر است .
            اطلاعات شخصی کاربران درهمنواز کاملاً محرمانه است.همنوازتمام تلاش خود را برای محافظت از اطلاعات شخصی کاربران می‌کند. لذا جهت حفظ حریم اطلاعات شخصی کاربران، کاربر باید تعهد بدهد تا عامل تلاش جهت هک کردن هر گونه اطلاعات موجود در سایت نبوده و هیچ‌گونه معاونت و یا مشارکتی با اشخاص حقیقی و یا حقوقی در این امر نداشته باشد. ضمناً کاربر تعهد می‌دهد که هر گونه اطلاع از توسل به هک کردن اطلاعات توسط شخص و یا موسسه‌ی دیگر را در اسرع وقت به مدیریت سایت همنوازاطلاع دهد.
            کاربران متعهد می‌شوند که اطلاعات خود را هنگام ثبت ‌نام و رزرو به صورت صحیح در وب‌سایت وارد کنند. در صورت ورود اطلاعات ناقص يا نادرست، مسئولیت عواقب بعدی این عمل بر عهده‌ی کاربران خواهد بود.
            کاربر متعهد می‌شود هرگونه تغییر در مشخصات فردی خود را در اسرع وقت در وب‌سایتهمنوازاصلاح نماید. در غیر این‌صورت این وب‌سایت هیچ مسئولیتی در قبال تبعات ناشی از عدم صحت اطلاعات موجود نخواهد داشت.
            وب‌سایت همنوازبه فروش اینترنتی بلیط هواپیما می‌پردازد و در قبال شرایط، کنسلی، تاخیر یا تعجیل پرواز مسئولیتی را بر عهده نخواهد داشت.
            هرگونه سوء استفاده از نامهمنواز، سایت اینترنتی همنواز، مکاتبه از طرف همنواز و یا استفاده از نام های مشابه که شبهه مشابهت و تطابق را ایجاد نماید ممنوع بوده از طریق شکایت به مراجع قانونی ذی‌صلاح، دادگاه‌های رسیدگی به جرائم اینترنتی در داخل و یا خارج از کشور و نیز اطلاع‌رسانی به سرویس دهندگان و سرویس گیرندگان اینترنتی قابل پیگرد خواهد بود.
            وب‌سایت همنوازاطلاعات شخصی کاربران را با هیچ مجموعه‌ی دیگری به اشتراک نخواهد گذاشت و مراجع ذی‌صلاح فقط در صورت موارد مصرح در قانون، امکان استفاده از این اطلاعات را خواهند داشت.
          </p>
          <h1>شرایط و ضوابط رزرو و خرید چارتر</h1>
          <p>پروازهای چارتر در مقایسه با پروازهای سیستمی با تغییرات بیش‌تری مواجه هستند و در 1 درصد مواقع ممکن است قابل استفاده نباشند، در چنین مواقعی و درصورت خرید بلیط کل هزینه‌ی بلیط از طرف چارترکننده به شما برگردانده خواهد شد. همنوازتمام تلاش خود را می‌کند تا این ریسک را به صفر برساند.
            در صورت کنسل شدن پرواز چارتر و عدم دریافت بلیط جایگزین از طرف آژانس، مبلغ بلیط به‌طور کامل استرداد خواهد شد.
            قیمت بلیط چارتر برای نوزاد تا 2 سال، معادل با 10 درصد کل هزینه‌ی قیمت بلیط بزرگسال است که باید در فرودگاه تهیه بشود.
            قیمت بلیط چارتر برای کودکان بین 2 تا 12 سال، برابر با قیمت بلیط بزرگسال است.</p>
          <h1>شرایط و ضوابط رزرو و خرید بلیط هواپیما</h1>
       <p>عملیات خرید بلیط در وب‌ سایت همنوازمشمول مجموعه‌ی قوانین و مقررات تجارت الکترونیکی بوده و هرگونه تخلف تحت پیگرد قانونی قرار خواهد گرفت. خریدار ضمن خرید اینترنتی بلیط، متعهد می‌شود که از کلیه‌ی قوانین و مقررات خرید بلیط آگاهی کامل دارد.
         طبق مقررات سازمان هواپیمایی کشوری، مسئولیت کنسلی، تاخیر یا تعجیل در زمان انجام پرواز، بر عهده‌ی شرکت هواپیمایی برگزار کننده‌ی پرواز است.
         هنگام ثبت‌نام و رزرو بلیط، نام مسافر باید به صورت صحیح با حروف انگلیسی وارد شود. امکان اصلاح نام مسافر پس از خرید نهایی بلیط وجود ندارد همنواز، هیچ‌گونه مسئولیتی در قبال اطلاعاتی که به اشتباه وارد شده‌اند بر عهده ندارد و برای اصلاح اطلاعات، مسافر می‌بایست بلیط را کنسل و مجدداً خریداری کند.
         بلیط خریداری شده، متعلق به مسافری است که مشخصاتش در سیستم وارد شده است و غیر قابل انتقال به غیر می‌باشد. در صورت عدم تطابق نام مسافر در بلیط و کارت شناسایی، مسافر پذیرش نخواهد شد.
         در قوانین هواپیمایی کشوری، مسافران نوزاد کم‌تر از دو سال، مسافران کودک بین دو تا دوازده سال تمام و مسافران بزرگسال، بیش از دوازده سال سن دارند. در صورت عدم دقت خریدار و اشتباه وارد نمودن رده‌ی سنی، از سوار شدن مسافر به هواپیما ممانعت به عمل خواهد آمد. و بلیط کودک را به هیچ وجه نمی‌توان به تنهایی و جدا از بلیط بزرگسال خرید کرد.
         لازم به ذکر است که در بلیط‌های نرخ مصوب، قیمت بلیط برای مسافران نوزاد، کودک و بزرگسال متفاوت است، اما در بلیط‌های چارتری و غیر قابل استرداد، قیمت بلیط کودک با بزرگسال برابر است.
         پس از انجام پرداخت و تایید آن، رزرو و خرید قطعی شده و اطلاعات بلیط به کاربر اس‌ام‌اس و ای‌میل می‌شود. هنگام مراجعه به فرودگاه، در پروازهای چارتر ارائه‌ی یک نسخه‌ی چاپ شده از بلیط و در پروازهای سیستمی، ارائه‌ی شماره‌ی بلیط به همراه مدرک معتبر شناسایی به کانتر هواپیمایی مربوطه الزامی است.
         هر نوع کنسلی بلیط از طرف مسافر، مطابق قوانین هواپیمایی کشوری، شامل جریمه‌ی کنسلی می‌شود. مقدار این جریمه بنا بر قوانین کنسلی هر ایرلاین متفاوت است. پس از درخواست استرداد توسط مسافر، مبلغ جریمه از قیمت بلیط کسر شده و بقیه‌ی پول، به‌طور آنلاین به حساب مسافر برمی‌گردد. مدت زمان بازگشت وجه، تابع مقررات بین بانکی (بین 24 تا 72 ساعت) می‌باشد.
         لغو یا تاخیر بیش از دو ساعتِ پرواز، جریمه‌ی کنسلی را شامل نمی‌شود. در این صورت مسافر فرم درخواست آن‌لاین استرداد بدون جریمه را پر می‌کند.
         لازم به ذکر است که اگر پرواز رفت و برگشت از دو ایرلاین مختلف باشند، در صورت لغو پرواز رفت یا انصراف مسافر از پرواز به دلیل تاخیر بیش از دو ساعت، ممکن است لغو پرواز برگشت شامل جریمه‌ی کنسلی شود.
         خریدار حق تغییر قیمت بلیط، دست بردن در مفاد بلیط به هر طریق و هر شکل، و یا فروش مجدد بلیط با قیمتی بالاتر از مبلغ ذکر شده را ندارد.
         طبق قوانین سازمان هواپیمایی کشوری، همراه داشتن مجوز پزشک برای خانم‌های باردار، افراد مبتلا به بیماری‌های قلبی-عروقی، بیماری‌های تنفسی، صرع، آنمی شدید، دیابت ملیتوس کنترل نشده، کسانی که دیالیز می‌شوند یا کسانی که از داروهای تضعیف‌کننده‌ی سیستم ایمنی استفاده می‌نمایند و یا هرگونه بیماری که سبب منع سفر هوایی باشد، هنگام سوار شدن به هواپیما ضروری می‌باشد. همچنین لازم است که این مسافران، داروهای مورد نیاز خود را در طول سفر به همراه داشته باشند.
         بر اساس قوانین موجود، صدور بلیط در مسیرهای عتبات عالیات برای اتباع کشورهای افغانستان، هند، بنگلادش و پاکستان مقدور نیست و درصورت خرید بلیط توسط این افراد، تمام مسئولیت‌های بعدی، بر عهده‌ی خودِ کاربر خواهد بود.</p>
        </div>
      </div>
    </div>
  </div>
</section>
