.about-us{
  margin-top: 1.5rem;
}
h1{
  font-size: 18px;
  color: var(--base-color);
  margin-top: 12px;
  font-weight: 500;
}
p{
  font-size: 14px;
  margin-top: 12px;
  color: var(--gray-color-light);
  line-height: 28px;
  text-align: justify;
}
