<prs-address-bar [path]="'درباره ما'"></prs-address-bar>
<section class="about-us">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-about-us">
          <h1>تمامی حقوق این سایت برای شرکت اسنپ تریپ محفوظ است .</h1>
          <p>اسنپ‌تریپ، با نام حقوقی «آرا جهان نوین گستر اطلس»، مطابق با قوانین جاری جمهوری اسلامی ایران، مجموعه
            قانون‌های تدوین‌شده جرایم اینترنتی، و مجموعه قوانین و مقررات تجارت الکترونیکی، فعالیت می‌کند و کاربرانمان
            نباید هیچ‌گونه مطلبی را که با شئونات اخلاقی و قوانین جمهوری اسلامی مغایرت دارد در این وب‌سایت منتشر کنند.
            اگر کاربری در این زمینه تخلف کند و تخلفش ثابت شود، عواقب احتمالی این تخلف متوجه خود او خواهد بود و شناسه
            کاربری‌اش حذف می‌شود.</p>
          <h1>شرایط و ضوابط عمومی</h1>
          <p>
            سو‌ءاستفاده از نام تجاری اسنپ‌تریپ، سایت اسنپ‌تریپ، مکاتبات اسنپ‌تریپ یا استفاده از نام‌های مشابهی که
            شبه‌برانگیز هستند، به هر طریقی ممنوع است. اسنپ‌تریپ در صورت مشاهده چنین مواردی حق شکایت به مراجع قانونی
            ذیصلاح، دادگاه رسیدگی به جرایم اینترنتی در داخل یا خارج و همچنین اطلاع‌رسانی به مجریان یا استفاده‌کنندگان
            سرویس را برای خود محفوظ می‌دارد.
          </p>
          <p>
            وب‌‌سایت اسنپ‌تریپ پایگاه اینترنتی دیگری جز snapptrip.com ندارد و فقط از همین راه با کاربرانش تماس می‌گیرد.
            اسنپ‌تریپ مکاتبات اینترنتی‌ دیگری را که با آدرس‌هایی به‌جز آدرس‌های رسمی و معتبر این وب‌سایت انجام شود را
            تأیید نمی‌کند. (این وب‌سایت در گذشته با نام پین‌تاپین فعالیت می‌کرد و تا اطلاع ثانوی آدرس‌های مرتبط با
            www.pintapin.com معتبر هستند.)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--thumbnail-hotel-->
<section>
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="title-tour-special-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>نتایج جستجو</h3>
                  <span>هتل خود را بر اساس نتایج زیر انتخاب کنید</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div *ngFor="let i of[1,2,3,4,5]" class="thumbnail-hotel">
            <div class="img-hotel">
              <img src="../../../assets/img/12123131.png" alt="">
            </div>
            <div class="detail-hotel">
              <div class="r">
                <div class="star">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
                <h2 class="name-hotel"><a href="">هتل اسپیناس پالاس | en name hotel</a></h2>
                <div class="address d-flex align-items-center">
                  <img src="assets/img/location2.svg" width="15" alt="">
                  <span>آدرس</span>
                </div>
              </div>
              <div class="l">
                <div class="p-price">
                  <span class="title">شروع قیمت :</span>
                  <div class="price d-flex align-items-center">
                    <strong>1.400.000</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <a href="" class="btn-base w-100 d-flex align-items-center justify-content-center mt-3">انتخاب هتل
                  تور</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->


<!--select-fly-->

<section class="mt-5">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="title-tour-special-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3> انتخاب پرواز</h3>
                  <span>پرواز خود را از لیست زیر انتخاب کنید</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="thumbnail-hotel">
            <div class="img-hotel">
              <img src="../../../assets/img/12123131.png" alt="">
            </div>
            <div class="detail-hotel">
              <div class="r">
                <div class="star">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
                <h2 class="name-hotel"><a href="">هتل اسپیناس پالاس | en name hotel</a></h2>
                <div class="address d-flex align-items-center">
                  <img src="assets/img/location2.svg" width="15" alt="">
                  <span>آدرس</span>
                </div>
              </div>
              <div class="l">
                <div class="p-price">
                  <span class="title">شروع قیمت :</span>
                  <div class="price d-flex align-items-center">
                    <strong>1.400.000</strong>
                    <small>تومان</small>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="thumbnail-flight">
            <div class="top">
              <div class="start">
                <div class="title">
                  <span>پرواز رفت :</span>
                  <strong>تهران</strong>
                </div>
                <div class="p-date">
                  <div class="date">
                    <span>تاریخ و ساعت پرواز رفت :</span>
                    <p>------</p>
                  </div>
                  <div class="date">
                    <span>تاریخ و ساعت پرواز برگشت :</span>
                    <p>------</p>
                  </div>
                </div>
              </div>
              <div class="center">
                <div class="title">
                  <span>پرواز رفت :</span>
                  <strong>تهران</strong>
                </div>
                <div class="p-date">
                  <div class="date">
                    <span>تاریخ و ساعت پرواز رفت :</span>
                    <p>------</p>
                  </div>
                  <div class="date">
                    <span>تاریخ و ساعت پرواز برگشت :</span>
                    <p>------</p>
                  </div>
                </div>
              </div>
              <div class="end">
                <span>تامین کننده : همنواز</span>
                <a href="" class="btn-base w-100 d-flex align-items-center justify-content-center h-45 mt-2">
                  انتخاب تور
                </a>
                <a data-toggle="collapse" class="btn-view-more" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                  مشاهده اطلاعات اتاق ها
                  <i class="icon-down-open"></i>
                </a>
              </div>
            </div>
            <div class="collapse w-100 bottom" id="collapseExample">
              <div class="header-fly">
                <span>دو تخته(هر نفر)</span>
                <span>سینگل</span>
                <span>کودک با تخت</span>
                <span>کودک بدون تخت</span>
                <span>سن کودک بدون تخت</span>
              </div>
              <div class="body-fly">
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <div class="price">
                  <strong>25.000.000</strong>
                  <small>تومان</small>
                </div>
                <span>6</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end-->
