<div class="box-info-package h-100">
  <div class="info-tour-header">
      <h2>اطلاعات نوع اتاق</h2>


  </div>
  <div class="info-tour-body p-0">
    <!--            local tour-->
    <div class="header-box">
      <div class="package-item">#</div>
      <div class="package-item">نام اتاق</div>
      <div class="package-item">قیمت(تومان)  </div>
      <div class="package-item">موجودی </div>
    </div>
    <div  class="example-list">
      <div class="body-fix">
        <div class="body-box example-box" *ngFor="let room of rooms let i = index">
          <div class="package-item id-package">
            <div class="icon-from-to">
              <p>{{ i + 1 }}</p>
            </div>
          </div>
          <div class="package-item">
            <span>{{ room.label }}</span>
          </div>
          <div class="package-item">
            <span>{{ getPrice(room.name)  | sperator}}</span>
          </div>
          <div class="package-item">
            <span>{{ getCapacity(room.name)}}</span>
          </div>
          <!-- <i class="icon-cancel-1 text-danger" (click)="removePackage(i)"></i> -->
        </div>
      </div>
    </div>

  </div>



</div>
