<div class="parent-sidebar parent-sidebar-desktop">
  <div class="sidebar">
    <div class="parnas-title">
      <div class="logo-parnas"><img src="assets/img/logo-parnas.agencyFinail%20(1).png" width="55" alt=""></div>
      <div class="info-title-sidebar">
        <h3>سیستم هوشمند تور و گردشگری</h3>
        <div class="info-bottom-sidebar">
          <span>طراحی و توسعه آژانس خلاقیت پارناس</span>
        </div>
      </div>
    </div>
    <div class="space-item-sidebar d-flex justify-content-center align-items-center">
      <img src="assets/img/space-item.png" width="50" alt="">
    </div>
    <ul class="ul-parent-list-sidebar">
      <li class="li-list">
        <a class="menu-main" href="">
          <img src="assets/img/Home.svg" width="20" alt="">
          داشبورد
        </a>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-1" data-toggle="collapse" href="#collapseExample1" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/master-tour.svg" width="20" alt="">
          مدیریت تور ها
          <i class="icon-down-open icon-1"></i>
        </a>
        <div class="collapse" id="collapseExample1">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-2" data-toggle="collapse" href="#collapseExample2" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/Dish.svg" width="20" alt="">
          مدیریت هتل و شهر ها
          <i class="icon-down-open icon-2"></i>
        </a>
        <div class="collapse" id="collapseExample2">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-3" data-toggle="collapse" href="#collapseExample3" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/Ticket.svg" width="20" alt="">
          مدیریت ایرلاین ها
          <i class="icon-down-open icon-3"></i>
        </a>
        <div class="collapse" id="collapseExample3">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-4" data-toggle="collapse" href="#collapseExample4" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/Pen.svg" width="20" alt="">
          نوشته ها و نظرات
          <i class="icon-down-open icon-4"></i>
        </a>
        <div class="collapse" id="collapseExample4">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-5" data-toggle="collapse" href="#collapseExample5" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/User%20Accepted.svg" width="20" alt="">
          مدیریت کاربران
          <i class="icon-down-open icon-5"></i>
        </a>
        <div class="collapse" id="collapseExample5">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>
      <li class="li-list">
        <a class="menu-main menu-main-6" data-toggle="collapse" href="#collapseExample6" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/img/User%20Accepted.svg" width="20" alt="">
          تیکت های کاربران
          <i class="icon-down-open icon-6"></i>
        </a>
        <div class="collapse" id="collapseExample6">
          <ul class="under-menu-ul">
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
            <li><a href="">لیست مطلب</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
  <div class="Support">
    <a target="_blank" class="Support-link" href="">
      <img src="assets/img/need.svg" width="24" alt="">
      نیاز به پشتیبانی دارید ؟!
    </a>
  </div>
</div>
