.box-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.box-search .inp-form {
  width: 39%;
}

.btn-search {
  height: 40px;
  width: 160px;
  padding: 0 10px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
}
.btn-search:hover{
  background-color: var(--white);
  color: var(--base-color);
  transition: var(--btn-animtion);
}

.box-hotel-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


//box
.box-hotel {
  width: 93%;
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 1px solid #eee;
  border-radius: 14px;
  margin: 15px auto 0 auto;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  position: relative;
}

.opacity-bg-parent {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #3e3e3e78;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 10px;
}

.opacity-bg-parent:hover {
  background-color: #137cb6b3;
}

.opacity-bg-parent .info-img {
  display: flex;
  justify-content: flex-start;
}

.info-hotel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.info-hotel h1 {
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
}

.footer-hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.location-hotel {
  display: flex;
  align-items: center;
}

.location-hotel span {
  margin-right: 8px;
  color: var(--white);
}

.rate {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.rate i {
  color: #FFB102;
  font-size: 13px;
}
.title-hotel{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.title-hotel h2{
  margin: 0 10px 0 0;
  color: var(--base-color);
  font-size: 18px;
}













//mobile
@media only screen and (max-width: 499px) {
  .box-hotel-parent {
    grid-template-columns: 1fr;
  }
  .box-search {
    flex-direction: column;
  }
  .inp-form {
    width: 100% !important;
    margin-top: 12px;
  }
  .btn-search {
    width: 100%;
    margin-top: 12px;
  }
}


//tablet
@media only screen and (min-width: 500px) and (max-width: 868px) {
  .box-hotel-parent {
    grid-template-columns: 1fr 1fr;
  }
  .btn-search {
    width: 40%;
    margin: 12px auto;
  }
  .box-search {
    flex-wrap: wrap;
  }
  .inp-form {
    width: 48.5% !important;
  }
}
