<prs-address-bar></prs-address-bar>
<section class="list-hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-list-hotel">
          <div class="box-search">
            <div class="inp-form">
              <select name="" id="">
                <option disabled selected value="">شهر خود را انتخاب کنید *</option>
                <option  value="">تهران</option>
                <option  value="">شیراز</option>
              </select>
            </div>
            <div class="inp-form">
              <select name="" id="">
                <option disabled selected value="">بر اساس نام هتل</option>
                <option  value="">تهران</option>
                <option  value="">شیراز</option>
              </select>
            </div>
            <button class="btn-search">جستجو کن !</button>
          </div>
          <div class="box-hotel-parent">
            <div routerlink="/hotel/info" style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                <div class="info-hotel">
                  <h6> هتل اسپیناس پالاس</h6>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>ایران - تهران</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
