<prs-loading *ngIf="isLoading"></prs-loading>

<prs-address-bar [path]="'هتل ها'" [path2]="''"></prs-address-bar>
<section class="list-hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-list-hotel">
          <div class="box-search">
            <div class="inp-form">
              <select [formControl]="cityFC">
                <option value="0" disabled>شهر خود را انتخاب کنید</option>
                <option *ngFor="let city of citiesResponse" [value]="city.id">{{city.name}}</option>
              </select>
            </div>
            <div class="inp-form">
              <input [formControl]="searchFC" type="text" placeholder="بر اساس نام هتل">
            </div>
            <button (click)="getList()" class="btn-search">جستجو کن !</button>
          </div>
          <div class="title-hotel">
            <img src="assets/img/header/hotel.svg" width="30" alt="">
            <h2>هتل های شهر</h2>
          </div>
          <div class="box-hotel-parent">
            <div *ngFor="let hotel of hotelList| paginate: paginateConfig"
                 [style.background-image]="'url(' + hotel.thumbnail + ')'"
                 routerLink="/hotels/{{ hotel.slug }}"
                 class="box-hotel">
              <div class="opacity-bg-parent">
                <a>
                  <div class="info-img">
                    <img src="assets/img/Information.svg" width="22" alt="">
                  </div>
                </a>
                <div class="info-hotel">
                  <a routerLink="/hotels/{{ hotel.slug }}">
                    <h1>{{ hotel.name }}</h1>
                  </a>
                  <div class="footer-hotel-info">
                    <div class="location-hotel">
                      <img src="assets/img/Location-white.svg" width="17" alt="">
                      <span>{{ hotel.city }}</span>
                      <span> - </span>
                      <span>{{ hotel.location }}</span>
                    </div>
                    <div class="rate">
                      <i class="icon-star" *ngFor="let star of getStars(hotel.stars)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <pagination-controls
              *ngIf="!isLoading && paginate.last_page > 1"
              class="pagination-control"
              (pageChange)="onPageChanged($event)"
              previousLabel="قبلی"
              nextLabel="بعدی"
              screenReaderPaginationLabel="صفحه بندی"
              screenReaderPageLabel="صفحه"
              screenReaderCurrentLabel="شما در صفحه ی">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
