<section class="panel-satrap">
  <div class="sidebar">
    <prs-sidebar></prs-sidebar>
  </div>

  <div class="main-page">
    <div class="responsive-right">
      <prs-header></prs-header>
      <router-outlet></router-outlet>
<!--      <div class="parent-sidebar-mobile">-->
<!--        <input type="checkbox" id="toggle"/>-->
<!--        <div id="side-nav">-->
<!--          <label class="span-label" for="toggle">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--          </label>-->


<!--          <ul class="ul-parent-list-sidebar">-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample1-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample1-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample2-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample2-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample3-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample3-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample4-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample4-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample5-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample5-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample6-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample6-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample7-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample7-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="li-list">-->
<!--              <a class="menu-main" data-toggle="collapse" href="#collapseExample8-mobi" role="button"-->
<!--                 aria-expanded="false" aria-controls="collapseExample">-->
<!--                <i class="icon-sidebar-menu icon-left-open"></i>-->
<!--                داشبورد-->
<!--              </a>-->
<!--              <div class="collapse" id="collapseExample8-mobi">-->
<!--                <ul class="under-menu-ul">-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                  <li><a href="">لیست مطلب</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->

<!--        </div>-->
<!--      </div>-->

    </div>


  </div>
</section>

