.responsive-right{
  max-width: 1366px;
  margin: inherit;
}

.panel-satrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #F4F7FA;
}
.parent-sidebar {
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
  padding-right: 1rem;
  width: 82%;
  position: relative;
}
.sidebar{
    width: 20%;
    height: 100vh;
}
