
.responsive-right {
  max-width: 1550px;
  margin: inherit;
}
.panel-satrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
}

.parent-sidebar {
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
  padding-right: 1rem;
  width: 85%;
  position: relative;
}

.sidebar {
  width: 15%;
  height: 100vh;
}
:host::ng-deep form{
  width: 100% !important;
}
:host::ng-deep .header-box {
  background-color: #F4F7FA;
}
:host::ng-deep input{
  border: 1px solid #9e9e9e85 !important;
}
:host::ng-deep input[type='checkbox']{
  border: 1px solid #9e9e9e85 !important;
  width: 15px !important;
  height: 15px !important;
}
:host::ng-deep select{
  border: 1px solid #9e9e9e85 !important;
}
:host::ng-deep textarea{
  border: 1px solid #9e9e9e85 !important;
  padding: 8px;
}
:host::ng-deep label {
  font-weight: 400 !important;
  font-size: 13px !important;
}
:host::ng-deep span {
  font-weight: 400 !important;
  font-size: 13px !important;
}
:host::ng-deep h2 {
  font-size: 16px !important;
}
:host::ng-deep #box-widget-icon svg{
  display: none!important;
}
.none{
  display: none;
}
@media only screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .panel-satrap {
    flex-direction: column;
  }
  .main-page {
    padding-right: 0;
    width: 95%;
    margin: 0 auto;
  }

}
