<div class="tour-item">
  <div class="tour-city">
    <img src="assets/img/Location.svg" width="40" alt="">
    <div class="info-tour-city">
      <h6>تور آنتالیا ۰۳ مهر</h6>
      <div class="text-price">
        <small class="title-price">شروع قیمت از :</small>
        <strong class="price-tour">
          7,450,000 تومان
        </strong>
      </div>
    </div>
  </div>
  <div class="tour-days">
    <div class="night">
      <img src="assets/img/Moon%201.svg" width="15" alt="">
      <span>۶ شب</span>
    </div>
    <div class="day">
      <img src="assets/img/Sun.svg" width="17" alt="">
      <span> ۵ روز</span>
    </div>
  </div>
  <div class="date-tour">
    <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
    <div class="info-date">
      <span class="from">1400/07/04</span>
      <span class="to">1400/07/۱۰</span>
    </div>
  </div>
  <div class="type">
    <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
    <span>ایران ایر</span>
  </div>
  <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
</div>
