//tour
.tour {
  margin-top: 2rem;
}

.tour-parent {
  display: flex;
  flex-direction: column;
}

.title-tour-parent {
  display: flex;
  flex-direction: column;
}

.title-tour-parent .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-tour-parent .top .new-tour {
  display: flex;
}

.title-tour-parent .top .new-tour .text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.title-tour-parent .top .new-tour .text h3 {
  float: right;
  font-size: 18px;
  color: var(--base-color);
}

.title-tour-parent .top .new-tour .text span {
  float: left;
  font-size: 10px !important;
}

.view-all-tour {
  color: var(--base-color);
  font-weight: 600;
  border-bottom: 3px solid var(--base-color);
  padding-bottom: 8px;
  margin-top: 13px !important;
}

.title-tour-parent .bottom {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.title-tour-parent .bottom .border-right {
  width: 30%;
  height: 2px;
  background-color: var(--base-color);
}

.title-tour-parent .bottom .border-left {
  width: 70%;
  height: 2px;
  background-color: var(--light-color-two);
}

.tour-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tour-list .tour-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--light-color-two);
  margin-top: 14px;
  padding-right: 1rem;
  transition: var(--btn-animtion);

}

.tour-list .tour-item:hover {
  box-shadow: 2px 1px 10px #eee;
  transition: var(--btn-animtion);
}

.tour-list .tour-item:hover .ino-tour-btn {
  background-color: var(--base-color-three);
  transition: var(--btn-animtion);
}

.tour-city {
  display: flex;
  align-items: center;
  width: 33%;
  height: 100%;
}

.info-tour-city {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.info-tour-city h6 {
  color: var(--gray-color-dark);
  font-weight: 500;
}

.text-price .title-price {
  font-size: 13px;
}

.text-price .price-tour {
  margin-right: 8px;
  color: var(--base-color);
  font-size: 14px;
}

.tour-days {
  display: flex;
  flex-direction: column;
}

.tour-days .day {
  display: flex;
  margin-top: 8px;
}

.tour-days .night {
  display: flex;
}

.tour-days .day span, .tour-days .night span {
  margin-right: 8px;
  color: var(--gray-color-dark);
  font-weight: 500;
}

.date-tour {
  display: flex;
  align-items: center;
}

.date-tour .info-date {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.date-tour .info-date .to {
  margin-top: 5px;
}

.type span {
  margin-right: 8px;
  color: var(--gray-color-dark);
}

.ino-tour-btn {
  width: 55px;
  height: 100%;
  background-color: var(--base-color);
  border-radius: 8px 0 17px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-search {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 2rem;
}

.box-search .inp-form {
  width: 39% !important;
}

.box-search .inp-form input {
  font-family: IRANSans !important;

}

.box-search .inp-form select {
  color: var(--gray-color-light);
  font-size: 13px;
  font-weight: 500;
}

.btn-search {
  height: 58px;
  width: 120px;
  padding: 0 10px;
  border-radius: 8px;
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-right: 18px;
}

.btn-search:hover {
  background-color: var(--white);
  color: var(--base-color);
  transition: var(--btn-animtion);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

//end
.near-date label {
  margin-right: 12px
}

.near-date {
  margin-top: 12px;
}

.near-date strong {
  margin-left: 8px;
}

.near-date strong i {
  font-size: 20px;
}

@media only screen and (max-width: 868px) {
  :host::ng-deep prs-select-city {
    width: 100% !important;
  }
  prs-search-collapse {
    width: 100% !important;

  }
  .box-search {
    width: 100% !important;
    flex-direction: column !important;
  }
  .box-search .inp-form {
    width: 100% !important;
    margin-top: 15px;
  }
  .btn-search {
    margin-top: 15px !important;
  }
}

.row-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
  column-gap: 12px;
}

.empty-box {
  height: auto;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  padding: 1rem !important;
  border: 1px solid #c6c6c6;
  margin-top: 1rem;
  display: grid;
  place-items: center;

  h3 {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin: 0 !important;

  }
}

.btn-custom {
  background: var(--dark);
  color: var(--white);
  height: 58px;
  width: 50%;
  border-radius: 10px;
  border: 2px solid var(--gray-color-dark);
  font-weight: 500;

  &:hover {
    opacity: 0.7;
    color: var(--white);
  }
}


//mobile
@media only screen and (max-width: 499px) {
  .box-hotel-parent {
    grid-template-columns: 1fr;
  }
  .box-search {
    flex-direction: column;
  }
  .inp-form {
    width: 100% !important;
    margin-top: 12px;
  }
  .btn-search {
    width: 100%;
    margin-top: 12px;
  }
  .top {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
  }
  .new-tour {
    width: 100% !important;
  }
  .show-type-mobile {
    width: 100% !important;
    margin-top: 20px;
  }
}


//tablet
@media only screen and (min-width: 500px) and (max-width: 868px) {
  .box-hotel-parent {
    grid-template-columns: 1fr 1fr;
  }
  .btn-search {
    width: 40%;
    margin: 12px auto;
  }
  .box-search {
    flex-wrap: wrap;
  }
  .inp-form {
    width: 48.5% !important;
  }
  .top {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
  }
  .new-tour {
    width: 100% !important;
  }
  .show-type-mobile {
    width: 100% !important;
    margin-top: 20px;
  }
}

//thumbnail-hotel

.title-tour-special-swiper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-tour-special-swiper .top .new-tour {
  display: flex;
}

.title-tour-special-swiper .top .new-tour .text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.title-tour-special-swiper .top .new-tour .text h3 {
  float: right;
  font-size: 18px;
  font-weight: 600;
  color: var(--base-color);
  margin-bottom: 4px;
}

.title-tour-special-swiper .top .new-tour .text span {
  font-size: 12px !important;
}

.title-tour-special-swiper .bottom {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.title-tour-special-swiper .bottom .border-right {
  width: 30%;
  height: 2px;
  background-color: var(--base-color);
}

.title-tour-special-swiper .bottom .border-left {
  width: 70%;
  height: 2px;
  background-color: var(--light-color-two);
}

.thumbnail-hotel {
  width: 100%;
  height: 170px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img-hotel {
    width: 25%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .detail-hotel {
    width: 75%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .r {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 75%;

      .star {
        display: flex;
        align-items: center;

        i {
          width: 20px;
          font-size: 15px;
          color: var(--base-color);
        }
      }

      .name-hotel {
        margin-top: 1.2rem;

        a {
          font-weight: 600;
          color: #0A246A;
          font-size: 16px !important;
        }
      }

      .address {
        span {
          margin-right: 8px;
          color: #0A246A;
        }
      }
    }

    .l {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .p-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span {
          color: #b26a6a;
        }

        .price {
          strong {
            font-size: 19px;
            color: var(--base-color);
          }

          small {
            color: var(--base-color);
            margin-right: 4px;
            font-size: 15px;
          }
        }
      }

    }
  }
}

@media only screen and (max-width: 868px) {
  .thumbnail-hotel {
    height: auto;
    position: relative;
    align-items: flex-start;
    border: 1px solid #f7d5d5 !important;

    .img-hotel {
      width: 90px;
      height: 90px;
      position: absolute;
      right: 8px;
      top: 8px;
      img{
        border-radius: 4px;
      }
    }

    .detail-hotel {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding: 8px !important;

      .r {
        width: 70%;

        .name-hotel {
          width: 100%;
          text-align: justify;
          margin: 4px 0 !important;
          line-height: 22px;
          height: 35px;
          a{
            font-size: 14px !important;
          }
        }
        .address{
          margin-top: 12px;
        }
      }

      .l {
        width: 100%;
        margin-top: 14px;
      }
    }
  }
}

.reserve-box {
  height: auto;
  width: auto;
  background: var(--white);
  border-radius: 10px;
  padding: 1rem !important;
  border: 1px solid #c6c6c6;
  margin-top: 1rem;
  display: grid;
  place-items: center;
}

//end
