//tour
.tour {
  margin-top: 2rem;
}

.tour-parent {
  display: flex;
  flex-direction: column;
}

.title-tour-parent {
  display: flex;
  flex-direction: column;
}

.title-tour-parent .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-tour-parent .top .new-tour {
  display: flex;
}

.title-tour-parent .top .new-tour .text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.title-tour-parent .top .new-tour .text h3 {
  float: right;
  font-size: 18px;
  color: var(--base-color);
}

.title-tour-parent .top .new-tour .text span {
  float: left;
  font-size: 10px !important;
}

.view-all-tour {
  color: var(--base-color);
  font-weight: 600;
  border-bottom: 3px solid var(--base-color);
  padding-bottom: 8px;
  margin-top: 13px !important;
}

.title-tour-parent .bottom {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.title-tour-parent .bottom .border-right {
  width: 30%;
  height: 2px;
  background-color: var(--base-color);
}

.title-tour-parent .bottom .border-left {
  width: 70%;
  height: 2px;
  background-color: var(--light-color-two);
}

.tour-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tour-list .tour-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--light-color-two);
  margin-top: 14px;
  padding-right: 1rem;
  transition: var(--btn-animtion);

}

.tour-list .tour-item:hover {
  box-shadow: 2px 1px 10px #eee;
  transition: var(--btn-animtion);
}

.tour-list .tour-item:hover .ino-tour-btn {
  background-color: var(--base-color-three);
  transition: var(--btn-animtion);
}

.tour-city {
  display: flex;
  align-items: center;
  width: 33%;
  height: 100%;
}

.info-tour-city {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.info-tour-city h6 {
  color: var(--gray-color-dark);
  font-weight: 500;
}

.text-price .title-price {
  font-size: 13px;
}

.text-price .price-tour {
  margin-right: 8px;
  color: var(--base-color);
  font-size: 14px;
}

.tour-days {
  display: flex;
  flex-direction: column;
}

.tour-days .day {
  display: flex;
  margin-top: 8px;
}

.tour-days .night {
  display: flex;
}

.tour-days .day span, .tour-days .night span {
  margin-right: 8px;
  color: var(--gray-color-dark);
  font-weight: 500;
}

.date-tour {
  display: flex;
  align-items: center;
}

.date-tour .info-date {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.date-tour .info-date .to {
  margin-top: 5px;
}

.type span {
  margin-right: 8px;
  color: var(--gray-color-dark);
}

.ino-tour-btn {
  width: 55px;
  height: 100%;
  background-color: var(--base-color);
  border-radius: 8px 0 17px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-search {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 2rem;
}

.box-search .inp-form {
  width: 39% !important;
}

.box-search .inp-form input {
  font-family: IRANSans !important;

}

.box-search .inp-form select {
  color: var(--gray-color-light);
  font-size: 13px;
  font-weight: 500;
}

.btn-search {
  height: 58px;
  width: 120px;
  padding: 0 10px;
  border-radius: 8px;
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-right: 18px;
}

.btn-search:hover {
  background-color: var(--white);
  color: var(--base-color);
  transition: var(--btn-animtion);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

//end
.near-date label{margin-right: 12px}
.near-date{
  margin-top: 12px;
}
.near-date strong{
  margin-left: 8px;
}
.near-date strong i{
  font-size: 20px;
}
@media only screen and (max-width: 868px){
  .box-search{
    width: 100% !important;
    flex-direction: column !important;
  }
  .box-search .inp-form {
    width: 100% !important;
    margin-top: 15px;
  }
  .btn-search{
    margin-top: 15px !important;
  }
}
.row-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
  column-gap: 12px;
}
.empty-box {
  height: auto;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  padding: 1rem !important;
  border: 1px solid #c6c6c6;
  margin-top: 1rem;
  display: grid;
  place-items: center;
  h3 {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin: 0 !important;

  }
}
