<prs-loading *ngIf="loading"></prs-loading>
<prs-address-bar [path]="'تورها'" [path2]="''"></prs-address-bar>
<!--tour-->
<section class="tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto tour-parent">
          <div class="search">
            <prs-search [inCommingSearchObject]="searchObject" (onSubmit)="search($event)"></prs-search>
          </div>
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>لیست تور ها </h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
              <!--              <a class="view-all-tour" href="">مشاهده همه تور ها</a>-->
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div *ngIf="tours.length==0" class="empty-box">
            <h3>سفری یافت نشد</h3>
          </div>
          <div class="tour-list" *ngIf="tours.length > 0">
            <div class="near-date">
              <strong>
                <i class="icon-filter"></i>
                فیلترها :
              </strong>
              <mat-checkbox [(ngModel)]="sortByDate"></mat-checkbox>
              <label>نزدیکترین</label>
            </div>
            <prs-horizontal-thumbnail-tour
              *ngFor="let tour of tours | paginate: paginateConfig| ordering : sortByDate; let i = index "
              [tour]="tour"></prs-horizontal-thumbnail-tour>
            <div>
              <pagination-controls
                [maxSize]="isMobilePage?4:7"
                *ngIf="!loading && paginate.last_page > 1"
                class="pagination-control"
                (pageChange)="onPageChanged($event)"
                previousLabel="قبلی"
                nextLabel="بعدی"
                screenReaderPaginationLabel="صفحه بندی"
                screenReaderPageLabel="صفحه"
                screenReaderCurrentLabel="شما در صفحه ی">
              </pagination-controls>
            </div>
          </div>
          <div style="display: flex; flex-direction: row-reverse" class="w-75" *ngIf="tours.length === 0">
            <!-- <prs-reserve-box [city]="cityInfo" [month]="nights.title"></prs-reserve-box> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->
