<prs-address-bar [path]="'تورها'" [path2]="''"></prs-address-bar>

<!--tour-->
<section class="tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto tour-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>لیست تور های شهر {{ this.city }}</h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
<!--              <a class="view-all-tour" href="">مشاهده همه تور ها</a>-->
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="tour-list" *ngIf="tours.length > 0">
            <prs-thumbnails-tour [tours]="tours"></prs-thumbnails-tour>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->
