<section class="s-search">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto p-header d-flex align-items-center justify-content-between p-search">
          <div class="box-search">
            <div class="p-tab-search" *ngIf="!isMobile">
              <button class="btn-tour">
                <svg viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="#fff"
                    d="M192 0C85.97 0 0 85.97 0 192c0 77.41 26.97 99.03 172.3 309.7c9.531 13.77 29.91 13.77 39.44 0C357 291 384 269.4 384 192C384 85.97 298 0 192 0zM192 271.1c-44.13 0-80-35.88-80-80S147.9 111.1 192 111.1s80 35.88 80 80S236.1 271.1 192 271.1z"/>
                </svg>
                <span>تور</span>
              </button>
            </div>
            <div class="title-search">
              <h2 class="w-100">رزرو آنلاین تور</h2>
            </div>
            <prs-search-old (onSubmit)="search($event)"></prs-search-old>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
