.blog-list{
  margin: 1rem 0;
}
.title-blog{
  display: flex;
  align-items: center;
}
.title-blog .text{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-start;
}
.title-blog .text h2{
  font-size: 20px;
  color: var(--gray-color-dark);
}
.title-blog .text span{
  font-size: 13px !important;
  color: var(--base-color);
}
.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6px;
}
.list .box-blog{
  width: 90%;
  margin: 1.8rem auto 0 auto;
  cursor: pointer;
}
.list .box-blog:hover .title-box-blog{
  color: var(--base-color);
}
.list .box-blog .img{
  width: 100%;
  height: 220px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.list .box-blog .img .img-fix{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.list .box-blog .img .info-img{
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0537428c;
}
.list .box-blog .img .info-img span{
  margin-top: 10px;
  color: var(--white);
}
.list .box-blog .img:hover .info-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-box-blog{
  color: var(--gray-color-dark);
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.date{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.date span{
  margin-right: 10px;
  font-size: 13px !important;
  color: var(--base-color);
}



//mobile
@media only screen and (max-width: 499px){
  .list {
    grid-template-columns: 1fr;
  }
  .title-blog .text h2 {
    font-size: 17px;
    margin-bottom: 4px;
  }
}


//tablet
@media only screen and (min-width: 500px)and (max-width: 868px){
  .list {
    grid-template-columns: 1fr 1fr;
  }
  .title-blog .text h2 {
    font-size: 18px;
    margin-bottom: 4px;
  }
}
