<prs-address-bar></prs-address-bar>
<section class="blog-list">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-list-parent">
          <div class="title-blog">
            <img src="assets/img/Document-align-2.svg" width="30" alt="">
            <div class="text">
              <h2>وبلاگ ها</h2>
              <span>۱۹۰۰ مقاله گردشگری و شهرگردی</span>
            </div>
          </div>
          <div class="list">
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
            <div class="box-blog">
              <div class="img">
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span>مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
              </div>
              <h3 class="title-box-blog">راهنمای سفر با تور آنتالیا</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در ۱۴۰۰/۰۷/۰۱</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
