<prs-address-bar [path]="'بلاگ ها'" [path2]="''"></prs-address-bar>
<prs-loading *ngIf="isLoading"></prs-loading>
<section class="blog-list">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-list-parent">
          <div class="title-blog">
            <img src="assets/img/Document-align-2.svg" width="30" alt="">
            <div class="text">
              <h2>وبلاگ ها</h2>
              <span>{{blogs.length}} مقاله گردشگری و شهرگردی</span>
            </div>
            <input [formControl]="keywordFC" type="text"> <button (click)="getBlog()">جستجو</button>
          </div>
          <div class="list">
            <div class="box-blog" *ngFor="let item of blogs">
              <div class="img" >
                <a class="info-img">
                  <img src="assets/img/Attachment%201.svg" width="22" alt="">
                  <span routerLink="/blogs/{{item.slug}}">مشاهده جزئیات بیشتر</span>
                </a>
                <img class="img-fix" [src]="item.thumbnail" alt="">
              </div>
              <h3 class="title-box-blog" routerLink="/blogs/{{item.slug}}">{{item.title.length>30?item.title.substring(0,33)+' ...':item.title}}</h3>
              <div class="date">
                <img src="assets/img/Watch-blog.svg" width="18" alt="">
                <span>انتشار شده در {{calenderServices.convertDate(item.createdAt,'fa')}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
