<div class="row-search">
  <div class="inp-form">
    <prs-select-city-limited class="w-100" [baseType]="false" [inCommingCity]="originFC.value" [title]="'شهر مبدا'"
      (citySelected)="originSelected($event)"></prs-select-city-limited>
  </div>
<div class="inp-form">
  <prs-select-city-limited class="w-100" [baseType]="true" [city]="originID" [title]="'شهر مقصد'"  [inCommingCity]="destFC.value"
  (citySelected)="destSelected($event)"></prs-select-city-limited>
</div>
  <div class="inp-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input class="input-parent"
             matInput [formControl]="stDateFC"
             placeholder="تاریخ ورود به هتل"
             autocomplete="off"
             readonly
             [min]="minDate"
             [matDatepicker]="picker3"
             (click)="picker3.open()">
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="inp-form">
    <select [formControl]="nightFC" name="">
      <option value="null">تعداد شب</option>
      <!-- <option *ngFor="let x of nights" [value]="x">{{x}} -->
        <option [value]="1">1 شب</option>
        <option [value]="2">2 شب</option>
        <option [value]="3">3 شب</option>
        <option [value]="4">4 شب</option>
        <option [value]="5">5 شب</option>
        <option [value]="6">6 شب</option>
        <option [value]="7">7 شب</option>
        <option [value]="8">8 شب</option>
        <option [value]="9">9 شب</option>
      <!-- <span style="margin-right: 4px">شب</span> -->
      <!-- </option> -->
    </select>
  </div>
  <button class="btn-search font-16" (click)="search()">جست و جو</button>
</div>