.row-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 12px;
}

@media only screen and (max-width: 450px){
  .row-search {
    grid-template-columns: 1fr;
    .inp-form{
      margin-top: 12px !important;
    }
    .btn-search{
      margin-top: 12px !important;
    }
  }
}
@media only screen and (min-width: 451px) and (max-width: 868px){
  .row-search {
    grid-template-columns: 1fr 1fr;
    .inp-form{
      margin-top: 12px !important;
    }
    .btn-search{
      margin-top: 12px !important;
    }
  }

}
