.section-one {
  background-image: url("../../../assets/img/Header-slider-tour90-num03.png");
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.section-one .bg-section-one {
  background-color: #3e3e3eab;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.parent-box-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
}

.parent-box-search h6 {
  color: #fff;
}

.parent-box-search h2 {
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
}

.box-search {
  display: flex;
  align-items: center;
  width: 58%;
  justify-content: space-between;
  margin-top: 2rem;
}

.box-search .inp-form {
  width: 39% !important;
}

.box-search .inp-form select {
  color: var(--gray-color-light);
  font-size: 13px;
  font-weight: 500;
}

.Continue-trip {
  margin-top: 1rem;
}

.btn-search {
  height: 40px;
  width: 120px;
  padding: 0 10px;
  border-radius: var(--radius-btn);
  border: 2px solid var(--base-color);
  background-color: var(--base-color);
  transition: var(--btn-animtion);
  outline: none;
  color: #fff;
  font-size: 13px;
}

.Continue-trip {
  margin-top: 3rem;
  color: var(--white);
}

.icon-scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 14px;
  font-size: 18px;
  font-weight: 300;
  color: var(--base-color);
}
