<div class="row-search">
    <div class="inp-form">
      <prs-select-city [inCommingCity]="originFC.value"
      [hasOriginTour]="true"
        (citySelected)="originSelected($event)" ></prs-select-city>
    </div>
  <div class="inp-form">
    <prs-select-city [hasDestTour]="true"  [inCommingCity]="destFC.value"
    (citySelected)="destSelected($event)"></prs-select-city>
  </div>
    <div class="inp-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input class="input-parent"
               matInput [formControl]="stDateFC"
               placeholder="تاریخ ورود به هتل"
               [matDatepickerFilter]="myFilter"
               [matDatepicker]="picker3"
               (click)="picker3.open()">
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="inp-form">
      <select [formControl]="nightFC" name="">
        <option *ngFor="let x of nights" [value]="x">{{x + 'شب '}}</option>
      </select>
    </div>
    <button class="btn-search font-16" (click)="search()">جست و جو</button>
  </div>