

<div class="add-tour">
  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن ایرلاین جدید</label>
          <h2>اطلاعات ایرلاین</h2>
        </div>
        <div class="left">
          <div class="selectdiv">
            <label>
              <select [formControl]="statusFC">
                <option value="hide" selected> منتشر نشود</option>
                <option value="show">انتشار</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان ایرلاین</label>
            <input [formControl]="nameFC" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>آپلود لوگو</h2>
        </div>
      </div>
      <div class="info-tour-body-upload">
        <div class="top-one">
          <prs-upload-single (result)="getLogo($event)"></prs-upload-single>

        </div>
      </div>
    </div>

    <div class="btn-parent-submit">

      <button class="submit-tour" (click)="submit()">ثبت ایرلاین</button>
    </div>
  </form>

</div>

