<div class="parent-reserve">
  <h2>با تشکر از انتخاب شما</h2>
  <p>لطفا جهت رزرو تور با شماره تلفن
    <span style="display: inline-flex">021-84278</span>
    تماس حاصل فرمایید
  </p>
  <strong>یا</strong>
  <p>
    جهت تماس با شما از طریق کارشناسان آژانس همنواز اطلاعات درخواستی
    زیر را تکمیل و ارسال فرمایید.

  </p>


  <label for="">شماره همراه</label>
  <div class="inp-form">
    <input type="text" [formControl]="phoneFC" placeholder="شماره همراه خود را وارد کنید">
  </div>
  <label for="">تعداد مسافر :</label>
  <div class="inp-form">
    <select name="" id="" [formControl]="countFC">
      <option value="1">1 نفر</option>
      <option value="2">2 نفر</option>
      <option value="3">3 نفر</option>
      <option value="4">4 نفر</option>
      <option value="5">5 نفر</option>
      <option value="6">6 نفر</option>
      <option value="7">7 نفر</option>
      <option value="8">8 نفر</option>
      <option value="9">9 نفر</option>
      <option value="10">10 نفر</option>
    </select>
  </div>
  <prs-btn [label]="'رزرو'" (click)="reserve()" [background]="'dark'" ></prs-btn>
</div>

