<div class="add-tour">

  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن هتل</label>
          <h2>اطلاعات هتل</h2>
        </div>
        <div class="left">
          <div class="selectdiv">
            <label>
              <select [formControl]="statusFC">
                <option value="hide" selected> منتشر نشود</option>
                <option value="show">انتشار</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان هتل</label>
            <input [formControl]="nameFC" type="text">
          </div>
          <div class="item-info">
            <label for="">عنوان انگلیسی هتل</label>
            <input [formControl]="nameEnFC" type="text">
          </div>
          <div class="item-info">
            <label for="">شهر</label>
            <div class="selectdiv">
              <select [formControl]="cityFC" name="" id="">
                <option value="1">تهران</option>
                <option value="2">اصفهان</option>
                <option value="3">شیراز</option>
              </select>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="item-info">
            <label for="">ستاره</label>
            <bar-rating [(rate)]="currentStar" [theme]="'default'" [max]="5"></bar-rating>
          </div>
          <div class="item-info">
            <label for="">موقعیت هتل</label>
            <input type="text" [formControl]="locationFC">
          </div>
          <div class="item-info">
            <label for="">آدرس</label>
            <input type="text" [formControl]="addressFC">
          </div>

        </div>
      </div>
    </div>

    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>اطلاعات </h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info-second">
            <label for="">توضیحات</label>
            <textarea type="text" [formControl]="bodyFC"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>آپلود تصاویر</h2>
        </div>
      </div>
      <div class="info-tour-body-upload">
        <div class="top-one">
          <div class="item-info w-100">
            <label for="">تصویر خود را آپلود کنید</label>
            <prs-upload-file ></prs-upload-file>
          </div>
          <div class="single-img-upload-parent">
            <img src="assets/img/12123131.png" width="100%" height="200" alt="">
          </div>
        </div>
        <div class="bottom-one">
          <div class="item-info w-100">
            <label for="">تصاویر خود را آپلود کنید</label>
            <prs-upload-file ></prs-upload-file>
            <div class="d-flex">
              <img *ngFor="let img of images" [src]="img" width="50" alt="">
            </div>
          </div>
          <div class="multi-img-upload-parent">
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
            <div class="images">
              <img src="assets/img/12123131.png" alt="">
              <i class="icon-cancel-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>اطلاعات ادرس</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <prs-get-location style="width: 100%;
             height: 325px;border-radius: 10px"
                          [inCommingLatLng]="[lat,lng]"
                          (result)="getLatLng($event)">
        </prs-get-location>
      </div>
    </div>


    <div class="btn-parent-submit">

        <button class="submit-tour" (click)="add()">ثبت هتل</button>
    </div>
  </form>

</div>

