<section class="bg-light s-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 m-auto d-flex py-5 align-items-start justify-content-between">
        <prs-sidebar style="width: 23%"></prs-sidebar>
        <div class="w-75">
          <div class="profile-dashboard">
            <div class="box-profile-dashboard">
              <div class="title-profile w-100">
                <h2 class="dana-bold">پروفایل</h2>
              </div>
              <div class="tab-account-profile">
                <form class="form-dashboard mt-3" action="">
                  <div class="item-form">
                    <label class="dana-bold" for="">
                      نام
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form">
                    <label class="dana-bold" for="">
                      نام خانوادگی
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form-2">
                    <label class="dana-bold" for="">
                      جنسیت
                    </label>
                    <div class="inp-radio d-flex align-items-center">
                      <div class="d-flex gender align-items-center">
                        <input name="gender" value="2" type="radio">
                        <label style="margin-right: 10px">مرد</label>
                      </div>
                      <div class="d-flex gender ms-4 align-items-center">
                        <input style="margin-right: 1rem" name="gender" value="1" type="radio">
                        <label style="margin-right: 10px">زن</label>
                      </div>

                    </div>
                  </div>
                  <div class="item-form">
                    <label class="dana-bold" for="">
                      ایمیل
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form">
                    <label class="dana-bold" for="">
                      شماره همراه
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form-2">
                    <button class="btn-base">
                      ثبت تغییرات
                    </button>
                  </div>
                  <div class="title-profile w-100">
                    <h2 class="dana-bold">رمز عبور</h2>
                  </div>

                  <div class="item-form">
                    <label for="">
                      رمزعبور
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form">
                    <label for="">
                      تکرار رمز عبور
                    </label>
                    <div class="inp-form mt-2">
                      <input type="text" placeholder="اینجا بنویسید …">
                    </div>
                  </div>
                  <div class="item-form-2">
                    <button class="btn-submit-change btn-base">
                      ثبت رمز عبور
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="p-list-trip">
            <div class="header-trip">
              <span>عنوان تور</span>
              <span>تاریخ رفت</span>
              <span>تاریخ برگشت</span>
              <span>وضعیت</span>
              <span>کد پیگیری</span>
              <span>عملیات</span>
            </div>
            <div class="body-trip" *ngFor=" let item of [1,2,3,4,5]">
              <span> تور مارماریس</span>
              <span>25/25/25</span>
              <span>26/26/26</span>
              <span>در حال انتظار</span>
              <span>85 </span>
              <div>
                <button style="height: 35px !important;" class="btn-base px-4">جزییات</button>
              </div>
            </div>
          </div>
          <div class="p-info-trip">
            <div class="w-100 bg-light bg-info-trip">
              <div class="title-profile w-100">
                <i class="icon-circle"></i>
                <h2 class="dana-bold">اطلاعات تور</h2>
              </div>
              <div class="tour-items w-100">
                <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
                  <span class="title">سوال:</span>
                  <span class="text">پاسخ</span>
                </div>
              </div>
            </div>
            <div class="w-100 bg-light bg-info-trip">
              <div class="title-profile w-100">
                <i class="icon-circle"></i>
                <h2 class="dana-bold">اطلاعات سافران</h2>
              </div>
              <div class="tour-items w-100">
                <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
                  <span class="title">سوال:</span>
                  <span class="text">پاسخ</span>
                </div>
              </div>
            </div>
            <div class="w-100 bg-light bg-info-trip">
              <div class="title-profile w-100">
                <i class="icon-circle"></i>
                <h2 class="dana-bold">اطلاعات پرواز</h2>
              </div>
              <div class="tour-items w-100">
                <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
                  <span class="title">سوال:</span>
                  <span class="text">پاسخ</span>
                </div>
              </div>
            </div>
            <div class="w-100 bg-light bg-info-trip">
              <div class="title-profile w-100">
                <i class="icon-circle"></i>
                <h2 class="dana-bold">اطلاعات هتل</h2>
              </div>
              <div class="tour-items w-100">
                <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
                  <span class="title">سوال:</span>
                  <span class="text">پاسخ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
