.box-room {
  border: 1px solid #C6C6C6;
  padding: 1rem;
  border-radius: 8px;
}

.title-tour {
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

.set-request-tour {
  background: var(--white);
  border-radius: 8px;
  border: 1px solid #C6C6C6;
  display: flex;
  margin: 12px 0;

  .info-from {
    border-left: 2px dashed #c6c6c6;
    width: 40%;
    padding: 12px;

    .city-name {
      font-weight: 800;
      font-size: 14px;
      color: var(--dark);
    }

    .item {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: var(--base-color);
        font-size: 14px;
      }

      .text {
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }

  .info-time {
    border-left: 2px dashed #c6c6c6;
    width: 20%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-weight: 600;
      color: var(--base-color);
    }

    .text {
      margin-top: 6px;
      font-weight: 600;
      color: var(--text-color);
    }
  }

  .info-to {
    width: 40%;
    padding: 12px;

    .city-name {
      font-weight: 800;
      font-size: 14px;
      color: var(--dark);
    }

    .item {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: var(--base-color);
        font-size: 14px;
      }

      .text {
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }
}

.set-request-hotel {
  background: var(--white);
  border-radius: 8px;
  border: 1px solid #C6C6C6;
  margin: 12px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  padding: 12px;

  .item-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;

    small {
      font-size: 13px !important;
      color: var(--dark);
      margin-top: 8px;
      font-weight: 500;
    }

    h5 {
      padding: 10px 0;
      background: #F4F4F4;
      display: grid;
      place-items: center;
      color: var(--text-color);
      font-size: 15px;
      font-weight: 500;
      border-radius: 8px;
      width: 100%;
    }

    .price {
      display: flex;
      align-items: center;

      strong {
        font-size: 16px;
        color: var(--text-color);
      }

      small {
        font-size: 14px;
        color: var(--text-color);
        margin-right: 4px;
      }
    }

  }
}

.set-info-supervisor {
  background: var(--white);
  border-radius: 8px;
  border: 1px solid #C6C6C6;
  margin: 12px 0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .item-form {
    width: 24%;
    margin-top: 14px;
  }
}

.set-info-passengers {
  background: var(--white);
  border-radius: 8px;
  margin: 12px 0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .item-form {
    width: 24%;
    margin-top: 14px;
  }
}

.rules {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;

  input {
    width: 15px;
    height: 15px;
    position: relative;
    top: -5px;
  }

  p {
    text-align: justify;
    font-size: 14px;
    color: var(--text-color);
    margin-right: 8px;
  }
}

@media only screen and (max-width: 868px) {
  .set-request-tour {
    flex-direction: column !important;

    .info-from {
      width: 100% !important;
      border-left: none !important;
    }

    .info-time {
      width: 95%;
      margin: 12px auto !important;
      border-left: none !important;
      background: var(--light-color-one);
      padding: 12px 0;
      border-radius: 10px;
    }

    .info-to {
      width: 100%;
    }
  }
  .set-request-hotel {
    overflow-x: scroll;

    .item-hotel {
      margin: 0 1rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .flex-column-mobi {
    flex-direction: column;
    h2{
      font-size: 14px;
    }
    .btn-mobile{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button{
        width: 48%;
        font-size: 10px !important;
      }
    }
  }
  .row-end{
    span{
      font-size: 13px;
      text-align: center;
    }
    button{
      margin-top: 16px;
      font-size: 12px;
    }
  }
  .set-info-supervisor {
    .item-form {
      width: 100% !important;
    }
  }
  .set-info-passengers {
    .item-form {
      width: 100% !important;
    }
  }
  .promo-code {
    .item-form {
      width: 100% !important;
    }
  }
}

.label-fix {
  color: #888;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: -0;
  top: 0;
  z-index: 50;
  background: var(--base-color);
  color: var(--white);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px !important;
}

.label-fix-gray {
  color: #888;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  background: #646464;
  color: var(--white);
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px !important;
}



@media only screen and (min-width: 451px) and (max-width: 868px) {
  .set-info-supervisor {
    .item-form {
      width: 49% !important;
    }
  }
  .set-info-passengers {
    .item-form {
      width: 49% !important;
    }
  }
  .promo-code {
    .item-form {
      width: 70% !important;
    }
  }

}
