<h2 class="title-tour">اتاق {{ RoomData?.name }}</h2>
<div [formGroup]="ReserveForm">
  <div formArrayName="passengers">
    <div class="set-info-passengers" *ngFor="let item of PassengerForm.controls; let i = index" [formGroupName]="i">
      <div class="item-form">
        <label class="dana-bold" for="">نام</label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" formControlName="firstName" placeholder="اینجا بنویسید …">

        </div>
        <ng-container *ngIf="item.get('firstName')?.touched && item.get('firstName')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form">
        <label class="dana-bold" for="">نام خانوادگی</label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" formControlName="lastName" placeholder="اینجا بنویسید …">

        </div>
        <ng-container *ngIf="item.get('lastName')?.touched && item.get('lastName')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form" *ngIf="tourType">
        <label class="dana-bold" for="">
          کد ملی
        </label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" placeholder="اینجا بنویسید …" formControlName="id_code">

        </div>
        <ng-container *ngIf="item.get('id_code')?.touched && item.get('id_code')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
    
      <div class="item-form">
        <label class="dana-bold" for="">
          تاریخ تولد
        </label>
        <div class="inp-form mt-2">
          <!-- <input type="text" (change)="onChange()" placeholder="اینجا بنویسید …" formControlName="birthDate"> -->

          <mat-form-field class="example-full-width" appearance="fill">
            <input class="input-parent" [max]="minDate" matInput formControlName="birthDate" placeholder="تاریخ تولد"
              autocomplete="off" [matDatepicker]="picker3" (click)="picker3.open()">
            <mat-datepicker startView="year" #picker3></mat-datepicker>
          </mat-form-field>

        </div>
        <ng-container *ngIf="item.get('birthDate')?.touched && item.get('birthDate')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form">
        <label class="dana-bold" for="">
          شماره همراه
        </label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" formControlName="phoneNumber" placeholder="اینجا بنویسید …">

        </div>
        <ng-container *ngIf="item.get('phoneNumber')?.touched && item.get('phoneNumber')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>

      <div class="item-form" *ngIf="!tourType">
        <label class="dana-bold" for="">
          شماره پاسپورت
        </label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" placeholder="اینجا بنویسید …" formControlName="passport_number">
        </div>
        <ng-container *ngIf="item.get('passport_number')?.touched && item.get('passport_number')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form" *ngIf="!tourType">
        <label class="dana-bold" for="">
          تاریخ انقضای پاسپورت
        </label>
        <div class="inp-form mt-2">
          <input type="text" (change)="onChange()" placeholder="اینجا بنویسید …" formControlName="passport_expire">

          <mat-form-field class="example-full-width" appearance="fill">
            <input class="input-parent" [min]="minDate" matInput formControlName="passport_expire"
              placeholder="" autocomplete="off" [matDatepicker]="picker3" (click)="picker3.open()">
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>

        </div>
        <ng-container *ngIf="item.get('passport_expire')?.touched && item.get('passport_expire')?.hasError('required')">
          <span class="text-danger">این فیلد الزامی است</span>
        </ng-container>
      </div>
    </div>

  </div>
</div>