<div [formGroup]="form">
  <div class="information-passenger" formArrayName="faq">
    <div class="title">
      <h2>سوالات متداول</h2>
    </div>
    <div class="header-top">
      <span>سوال</span>
      <span>جواب</span>


      <button (click)="add()">اضافه</button>
    </div>
    <div class="body-top" *ngFor="let item of Faq.controls; let i = index">
      <form [formGroupName]="i">
        <div class="input-parent">
          <input type="text" placeholder="سوال" formControlName="question">
        </div>
        <div class="input-parent">
          <textarea type="text" placeholder="جواب" formControlName="answer"></textarea>
        </div>
        <div class="input-parent">
          <i class="icon-cancel" (click)="removeFaq(i)"></i>
        </div>
      </form>
    </div>
  </div>
  <prs-btn [label]="'ثبت سوالات'" (click)="submit()"></prs-btn>
</div>
