title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 99%;
  border-bottom: 2px solid #eee;
  margin-top: 1rem;
}

.title h2 {
  margin-bottom: 0;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--light-color-two);
  margin-top: 12px;
  height: 40px;
  width: 99%;
}

.header-top span {
  margin: auto;
}
.body-top form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  border-bottom: 1px solid #eee;
}
.body-top span{
  margin: auto;
}
.input-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.input-parent input{
  width: 90%;
  border: 1px solid #eee !important;
  height: 33px;
  font-size: 13px;
  padding: 0 8px;
  outline-color:  #eee;
}
