<prs-loading *ngIf="infoLoading"></prs-loading>

<span *ngIf="!showData" >در حال دریافت اطلاعات</span>
 
<div class="add-tour">
  <prs-base-info *ngIf="showData" class="w-100"></prs-base-info>
  <prs-transfer *ngIf="showData"  class="w-100"></prs-transfer>
  <prs-currency-rates *ngIf="showData"  class="w-100"></prs-currency-rates>
  <prs-service-rates *ngIf="showData"  class="w-100"></prs-service-rates>

  <prs-detail-package *ngIf="showData"  class="w-100"></prs-detail-package>
  <prs-descriptions *ngIf="showData"  class="w-100"></prs-descriptions>
  <div class="p-errorr">
    <span class="text-danger" *ngFor="let err of errors">{{ err[0] }}</span>
  </div>
  <prs-btn style="width: 15%;" *ngIf="showData"  class="btn-submit-tour w-100-mobi" [background]="'blue'" (click)="submit()"
    [label]="'ثبت تور'"></prs-btn>
</div>