<prs-loading *ngIf="infoLoading"></prs-loading>

<div class="add-tour">
  <prs-base-info class="w-100"></prs-base-info>
  <prs-transfer class="w-100"></prs-transfer>
  <prs-currency-rates class="w-100"></prs-currency-rates>
  <prs-service-rates class="w-100"></prs-service-rates>

  <prs-detail-package class="w-100"></prs-detail-package>
  <prs-descriptions class="w-100"></prs-descriptions>
  <div class="p-errorr">
    <span class="text-danger" *ngFor="let err of errors">{{ err[0] }}</span>
  </div>
  <prs-btn style="width: 15%;" class="btn-submit-tour w-100-mobi" [background]="'blue'" (click)="submit()"
    [label]="'ثبت تور'"></prs-btn>
</div>