<div  class="p-info-trip">
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات تور</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات سافران</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات پرواز</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات هتل</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
</div>
