<div class="list-tour">
  <div class="title">
    <h2>لیست اتاق ها</h2>
    <a class="btn-add-tour" *ngIf="checkItemPermission('RoomType.create')" routerLink="/panel/roomType/add">اضافه</a>
  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="title-tour">عنوان اتاق</span>
      <span class="from-to">عنوان انگلیسی اتاق</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="roomTypes.length > 0">
      <div class="item" *ngFor="let room of roomTypes | paginate: paginateConfig;let i = index">
        <span class="id">{{ i + 1 }}</span>
        <span class="title-tour">{{ room?.name }}</span>
        <span class="title-tour">{{ room?.label }}</span>
        <div class="button-setting">
          <a *ngIf="session.checkItemPermission('RoomType.edit')" routerLink="/panel/roomType/edit/{{ room.id }}" class="edit-btn">ویرایش</a>
          <button *ngIf="session.checkItemPermission('RoomType.delete')" (click)="deleteRoom(room.id)" class="delete-btn">حذف</button>
        </div>
      </div>
    </div>
    <pagination-controls *ngIf="paginate.last_page > 1" class="pagination-control"
      (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی" screenReaderPaginationLabel="صفحه بندی"
      screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
    </pagination-controls>
  </div>
</div>
