.add-tour {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.box-info-tour {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
}

.info-tour-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 99%;
  background-color: var(--title-header);
}

.info-tour-header .right {
  display: flex;
  align-items: center;
}

.info-tour-header .right label {
  width: auto;
  padding: 0 8px;
  height: 25px;
  border-radius: 512px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  font-size: 13px !important;
}

.info-tour-header .right h2 {
  font-size: 18px;
  color: var(--base-color);
  margin-right: 10px;
  margin-bottom: 0;
}

.info-tour-header .left select {
  width: 200px;
  background-color: var(--white);
}

.info-tour-body {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-color-two);
  padding: 1rem 2rem;
  width: 99%;
}

.info-tour-body .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.info-tour-body .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.box-info-fly {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.box-info-package {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.change-price-box {
  display: grid;
  grid-template-columns: 1fr 6fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 40px;
  width: 100%;
}

.change-price-box span {
  border-left: 1px solid var(--light-color-two);
  margin: auto 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.change-price-box input {
  height: 30px;
  outline: none;
  border: 1px solid var(--light-color-two);
  margin: auto 10px;
  padding: 0 10px;
}

.header-box {
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 40px;
  width: 100%;
}

.header-box .package-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 500;
  padding-right: 6px;
}

.body-box {
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 1fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr;
  border-bottom: 1px solid var(--light-color-two);
  height: 60px;
  width: 100%;
}

.body-box .package-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 500;
  padding-right: 6px;
}

.body-box .package-item select {
  height: 30px;
  width: 90%;
  outline: none;
  border: 1px solid var(--light-color-two);
}

.body-box .package-item .icon-cancel-1 {
  color: var(--red-color);
  margin-right: 5px;
}

.package-item .icon-plus-circled {
  color: var(--base-color);
  font-size: 20px;
}

.id-package {
  color: var(--red-color);
}

.body-box .package-item input {
  height: 30px;
  width: 90%;
  outline: none;
  border: 1px solid var(--light-color-two);
}

.box-details-tour {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  margin-top: 2rem;
}

.details-body-tour {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-color-two);
  padding: 1rem 2rem;
  width: 99%;
}
.details-body-tour .textarea{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-body-tour textarea {
  height: 200px;
  width: 32%;
  border: 1px solid var(--light-color-two);
  border-radius: 4px;
  padding: 8px 8px 0 0;
  color: var(--gray-color-light);
  outline: none;
  font-size: 13px !important;
}

.details-body-tour textarea::placeholder {
  color: var(--gray-color-light);
}
.submit-tour{
  border: none;
  outline: none;
  margin-top: 12px;
  border-radius: var(--radius-btn);
  height: 38px;
  color: var(--white);
  background-color: var(--green-color);
  width: 120px;
}

.item-info {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-info-second{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-info-second textarea{
  border: 1px solid var(--light-color-two);
  height: 150px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding:  8px;
  outline: none;
}

.item-info label ,.item-info-second label{
  font-size: 13px !important;
  font-weight: 500;
}
.selectdiv{
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
}
.selectdiv select{
  border: none;
  height: 95%;
}
.item-info input {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 8px;
  outline: none;
}

.item-info-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32%;
}

.item-info-2 .select-info {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-info-2 .select-info label {
  font-size: 13px !important;
  font-weight: 500;
}

.item-info-2 .select-info select {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
}


:host::ng-deep prs-get-location{
  z-index: 1;
}
.info-tour-body-upload{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 99%;
  margin: 1rem 0;
}
.info-tour-body-upload .bottom-one , .info-tour-body-upload .top-one{
  width: 48%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.info-tour-body-upload prs-upload-file{
  width: 100% !important;
}
:host::ng-deep .info-tour-body-upload prs-upload-file .uploadfilecontainer{
  padding: 3rem 0 !important;
}
.single-img-upload-parent img{
  object-fit: cover;
}
.single-img-upload-parent{
  background-color: var(--white);
  border: 1px solid var(--light-color-two);
  padding: 12px;
  border-radius: 8px;
}
.multi-img-upload-parent{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--light-color-two);
  padding: 12px;
  border-radius: 8px;
}
.multi-img-upload-parent .images{
  width: 23%;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 8px;
}
.multi-img-upload-parent .images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.multi-img-upload-parent .images i{
  position: absolute;
  right: 6px;
  top: 6px;
  color: var(--white);
  cursor: pointer;
}
.btn-parent-submit{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.btn-upload-img{
  width: auto;
  padding: 0 12px;
  height: 38px;
  border-radius: var(--radius-btn);
  color: var(--white);
  background-color: var(--base-color-second);
  margin-bottom: 12px;
  border: none;
  outline: none;
}
@media only screen and (max-width: 868px){
  .info-tour-header{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 99%;
    background-color: var(--title-header);
    flex-wrap: wrap;
  }
  .info-tour-body-upload .bottom-one, .info-tour-body-upload .top-one {
    width: 100%;
  }
}
.info-tour-header .left select {
  border: none !important;
}
