:host::ng-deep prs-select-city {
  .mat-form-field-flex {
    background: unset !important;
    .mat-form-field-infix{
      border-radius: 10px !important;
      border: 1px solid #e2e8f0 !important;
      height: 58px !important;
      position: relative;
      top: 20px !important;
      svg{
        left: 4px !important;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .item-form {
    width: 100% !important;
  }
  .item-form-2 {
    width: 100% !important;
  }
}

@media only screen and (min-width: 451px) and (max-width: 868px) {
  .item-form {
    width: 48% !important;
  }
  .item-form-2 {
    width: 48% !important;
  }
}

.box-profile-dashboard .form-dashboard .item-form{
  width: 32%;
}
.box-profile-dashboard .form-dashboard .item-form-2{
  width: 32%;
}
:host::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: unset !important;
  border: 1px solid #e2e8f0 !important;
  height: 58px !important;
  border-radius: 8px !important;
  .mat-form-field-infix {
    position: relative !important;
    top: -17px !important;
    right: -10px !important;
  }
}
