
<prs-address-bar></prs-address-bar>
<!--s1-->
<section class="tour-s1">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto tour-parent">
          <div class="title-tour">
            <div class="right">
              <img src="assets/img/Ticket-index.svg" width="30" alt="">
              <div class="text">
                <h2>{{ tourInfo.title }}</h2>
                <span>شروع قیمت : ۲/۱۰۰/۰۰۰ تومان</span>
              </div>
            </div>
            <div class="left">
              <div class="share">
                <img src="assets/img/Navigation.svg" width="20" alt="">
                <a href="">اشراک گذاری !</a>
              </div>
              <div class="favorite">
                <img src="assets/img/Heart.svg" width="20" alt="">
                <a href="">افزودن به علاقه مندی !</a>
              </div>
            </div>
          </div>
          <div class="tour-main-parent">
            <div class="slider-box">
              <div class="slider-top">
                <swiper class="swiper-tour-top"
                        [slidesPerView]="1"
                        [spaceBetween]="50"
                        [navigation]="true"
                        [thumbs]="{ swiper: thumbsSwiper }">
                  <ng-container>
                    <ng-template swiperSlide>
                      <div class="box-img-main">
                        <a href="" class="info-tour-view">
                          <img src="assets/img/Information.svg" width="20" alt="">
                          <span>جهت کسب اطلاعات بیشتر درباره شهر آنتالیا کلیک کنید !</span>
                        </a>
                        <img class="img-tour-big" src="assets/img/Header-slider-tour90-num03.png" alt="">
                      </div>
                    </ng-template>
                    <ng-template swiperSlide>
                      <div class="box-img-main">
                        <a href="" class="info-tour-view">
                          <img src="assets/img/Information.svg" width="20" alt="">
                          <span>جهت کسب اطلاعات بیشتر درباره شهر آنتالیا کلیک کنید !</span>
                        </a>
                        <img class="img-tour-big" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
                      </div>
                    </ng-template>
                    <ng-template swiperSlide>
                      <div class="box-img-main">
                        <a href="" class="info-tour-view">
                          <img src="assets/img/Information.svg" width="20" alt="">
                          <span>جهت کسب اطلاعات بیشتر درباره شهر آنتالیا کلیک کنید !</span>
                        </a>
                        <img class="img-tour-big" src="assets/img/Header-slider-tour90-num03.png" alt="">
                      </div>
                    </ng-template>
                  </ng-container>
                </swiper>

              </div>
              <div class="slider-bottom">
                <swiper class="thumbs-gallery" [slidesPerView]="4"
                        [direction]="'horizontal'"
                        [spaceBetween]="20"
                        [navigation]="false"
                        (swiper)="setThumbsSwiper($event)"
                        [watchSlidesProgress]="true">
                  <ng-container>
                    <ng-template swiperSlide>
                      <img class="img-gallery" src="assets/img/Header-slider-tour90-num03.png" alt="">
                    </ng-template>
                    <ng-template swiperSlide>
                      <img class="img-gallery" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
                    </ng-template>
                    <ng-template swiperSlide>
                      <img class="img-gallery" src="assets/img/Header-slider-tour90-num03.png" alt="">
                    </ng-template>
                    <ng-template swiperSlide>
                      <img class="img-gallery" src="assets/img/Header-slider-tour90-num03.png" alt="">
                    </ng-template>
                    <ng-template swiperSlide>
                      <img class="img-gallery" src="assets/img/Header-slider-tour90-num03.png" alt="">
                    </ng-template>

                  </ng-container>
                </swiper>
              </div>
            </div>
            <div class="details-box">
              <div class="top-tour-login">
                <div class="border-fix">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="one"></div>
                </div>
                <div class="login-date-fly">
                  <img src="assets/img/Up%20Down%202.svg" width="20" alt="">
                  <div class="text">
                    <div class="right">
                      <span>{{ this.tourInfo.stCity  }}</span>
                      <span class="mt-2 text-red">تاریخ و ساعت پرواز رفت :</span>
                    </div>
                    <div class="left">

                      <span class="text-red">{{ this.calService.convertDate1(tourInfo.stDate, 'fa')  }}</span>
                    </div>
                  </div>
                </div>
                <div class="login-date-hotel">
                  <img src="assets/img/Dish.svg" width="20" alt="">
                  <div class="text">
                    <span class="text-base-color">تاریخ ورود به هتل :</span>
                    <span class="text-base-color">{{ this.calService.convertDate1(tourInfo.stDate, 'fa')  }}</span>
                  </div>
                </div>
              </div>
              <div class="border-box"></div>
              <div class="middle-tour-login">
                <img src="assets/img/Moon%202.svg" width="22" alt="">
                <div class="text">
                  <span class="text-gray-color">مدت اقامت در {{ this.tourInfo.endCity  }} :</span>
                  <span class="text-base-color">{{ this.tourInfo.dayNum + ' ' + 'روز و' + this.tourInfo.nightNum + ' شب' }}</span>
                </div>
              </div>
              <div class="border-box">

              </div>
              <div class="bottom-tour-exit">
                <div class="border-fix">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="one"></div>
                </div>
                <div class="exit-date-fly">
                  <img src="assets/img/Up%20Down%202.svg" width="20" alt="">
                  <div class="text">
                    <div class="right">
                      <span>{{ this.tourInfo.endCity  }}</span>
                      <span class="mt-2 text-red">تاریخ و ساعت پرواز برگشت :</span>
                    </div>
                    <div class="left">
                      <span class="text-red">{{ this.calService.convertDate1(tourInfo.enDate, 'fa')  }}</span>
                    </div>
                  </div>
                </div>
                <div class="exit-date-hotel">
                  <img src="assets/img/Dish.svg" width="20" alt="">
                  <div class="text">
                    <span class="text-base-color">تاریخ خروج از هتل  :</span>
                    <span class="text-base-color">{{ this.calService.convertDate1(tourInfo.enDate, 'fa')  }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--s2-->
<section class="s2">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto thumbnail-parent">
          <div class="title-s2">
            <div class="text">
              <img src="assets/img/Document%20Align%20Center%201.svg" width="25" alt="">
              <h2>هتل های قابل ارائه تور</h2>
            </div>
            <a class="btn-download-pdf" href="">
              <img src="assets/img/Download.svg" width="20" alt="">
              <span>دانلود فایل PDF</span>
            </a>
          </div>

          <div class="thumbnail-one" *ngFor="let item of tourInfo.packages">
            <div class="top">
              <div class="title-box">
                <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
                <div class="info-title">
                  <h2 class="title-en">{{ item.hotel.nameEn }}</h2>
                  <span class="title-fa">{{ item.hotel.name }}</span>
                </div>
              </div>
              <div class="service-box">
                <div class="star-icon">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                </div>
                <div class="service-hotel-text">
                  <span>ALL</span>
                </div>
              </div>
              <div class="book-box">
                <span class="book-phone">رزرو تلفنی : ۸۴۲۷۷۸-۰۲۱</span>
                <span class="or">یا</span>
                <button class="btn-complete-book">تکمیل کردن فرم رزرو</button>
                <button class="btn-pay-online" *ngIf="false">پرداخت آنلاین</button>
              </div>
              <div class="book-box" *ngIf="false">
                <label class="complete-user-label">تکمیل ظرفیت</label>
              </div>
            </div>
            <div class="bottom-thumbnail">
              <div class="child">
                <div class="title-info-box">
                  <span>دو تخته (هر نفر)</span>
                </div>
                <div class="price-box">
                  <strong>6,450,000 </strong>
                  <span>تومان</span>
                </div>
              </div>
              <div class="child">
                <div class="title-info-box">
                  <span>یک تخته</span>
                </div>
                <div class="price-box">
                  <strong>6,450,000 </strong>
                  <span>تومان</span>
                </div>
              </div>
              <div class="child">
                <div class="title-info-box">
                  <span>کودک با تخت</span>
                </div>
                <div class="price-box">
                  <strong>6,450,000 </strong>
                  <span>تومان</span>
                </div>
              </div>
              <div class="child">
                <div class="title-info-box">
                  <span>کودک بدون تخت</span>
                </div>
                <div class="price-box">
                  <strong>6,450,000 </strong>
                  <span>تومان</span>
                </div>
              </div>
              <div class="child">
                <div class="title-info-box">
                  <span>نوزاد</span>
                </div>
                <div class="price-box">
                  <strong>6,450,000 </strong>
                  <span>تومان</span>
                </div>
              </div>
              <div class="child">
                <div class="title-info-box">
                  <span>سن کودک با تخت</span>
                </div>
                <div class="price-box">
                  <span>۷ تا ۱۱ سال</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->


<!--s3-->
<section class="s3">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto details-agency">
          <div class="top">
            <div class="required-documents">
              <h2>مدارک لازم</h2>
              <p>{{ this.tourInfo.documents }}</p>
              <img class="img-fix-s3" src="assets/img/Credit%20Card.svg" width="80" alt="">
            </div>
            <div class="services-agency">
              <h2>خدمات آژانس</h2>
              <p>{{ this.tourInfo.services }}</p>
              <img class="img-fix-s3" src="assets/img/Verified.svg" width="80" alt="">
            </div>
          </div>
          <div class="complete-details">
            <h2>توضیحات</h2>
<!--            <p>-->
<!--              مسئولیت کنترل پاسپورت بابت (حداقل 6 ماه) و هرگونه ممنوعیت خروج از کشور به عهده آژانس ثبت کننده میباشد و آژانس همنواز آسمان آبی در این مورد هیچ گونه مسئولیتی ندارد .-->
<!--              <br>-->
<!--              -بلیط و هتل چارتر و غیر قابل استرداد می باشد .-->
<!--              <br>-->
<!--              -نرخ بچه بدون تخت 4.70.000تومان و نت می باشد .-->
<!--              <br>-->
<!--              -نرخ کودکان زیر 2 سال 950.000 تومان و نت می باشد .-->
<!--              <br>-->
<!--              -قیمت ها به تومان می باشد و ارسال 60% از کل مبلغ تور هنگام رزرو الزامیست و در صورت عدم واریزی و ابطال قرارداد از سوی شرکت همنواز آسمان آبی کلیه ی مسئولیت ها به عهده درخواست کننده می باشد .-->
<!--              -در صورت افزایش 5% نرخ ارز ما به التفاوت دریافت می گردد . (در صورت تسویه در روز ثبت شامل افزایش نرخ نمی شود)-->
<!--              -  همراه داشتن تست منفی کرونا 72 ساعت قبل از پرواز الزامی می باشد.-->
<!--              -  طبق بخشنامه وزارت بهداشت ترکیه تمام مسافران برای  سفر به کشور ترکیه موظف به انجام ثبت نام در سایت اعلام شده می باشند. register.health.gov.ir-->
<!--            </p>-->
            <p>{{ this.tourInfo.description }}</p>
            <img class="img-fix-s3" src="assets/img/Message-info-tour.svg" width="80" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->

<!--s4-->
<section class="s4">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto Similar-tour">
          <div class="title-s2">
            <div class="text">
              <img src="assets/img/Notification%202.svg" width="35" alt="">
              <h2>تور های مشابه</h2>
            </div>
          </div>
          <prs-thumbnail-tour></prs-thumbnail-tour>
          <prs-thumbnail-tour></prs-thumbnail-tour>
          <prs-thumbnail-tour></prs-thumbnail-tour>
          <prs-thumbnail-tour></prs-thumbnail-tour>
          <prs-thumbnail-tour></prs-thumbnail-tour>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->
