//s1
.tour-s1 {
  margin-top: 1.5rem;
}

.title-tour {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--light-color-two);
  padding-bottom: 1rem;

}

.title-tour .right {
  display: flex;
  align-items: center;
}

.title-tour .right .text {
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-tour .right .text h2 {
  font-size: 20px;
  margin-bottom: 2px;
  color: var(--gray-color-light);
}

.title-tour .right .text span {
  font-size: 13px !important;
  font-weight: 500;
  color: var(--base-color);
}

.title-tour .left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-tour .left .share {
  margin-left: 2rem;
  color: var(--base-color);
}

.title-tour .left .share a {
  color: var(--base-color);
  margin-right: 8px;
}

.title-tour .left .favorite a {
  color: var(--base-color);
  margin-right: 8px;
}

.tour-main-parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.tour-main-parent .slider-box {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.tour-main-parent .details-box {
  width: 49%;
  padding-right: 2rem;
}

.box-img-main {
  height: 280px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.box-img-main .info-tour-view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--opacity-color);
  display: flex;
  height: 50px;
  justify-content: flex-start;
  padding-right: 1rem;
  align-items: center;
  color: var(--white);
}

.box-img-main .info-tour-view span {
  margin-right: 10px;
}

.box-img-main .img-tour-big {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-bottom {
  margin-top: 1rem;
}

.swiper-slide-active img {
  filter: brightness(100%) !important;
}

.swiper-slide-visible img {
  filter: brightness(70%);
}

.img-gallery {
  object-fit: cover;
  width: 100%;
  height: 105px;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}

:host::ng-deep .swiper-button-next {
  width: 35px;
  height: 35px;
  background: white;
  color: var(--gray-color-dark);
  border-radius: 50%;
}

:host::ng-deep .swiper-button-next:after {
  font-size: 22px;
}

:host::ng-deep .swiper-button-prev:after {
  font-size: 22px;
}

:host::ng-deep .swiper-button-prev {
  width: 35px;
  height: 35px;
  background: white;
  color: var(--gray-color-dark);
  border-radius: 50%;
}

.details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
}

.top-tour-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.border-fix {
  position: absolute;
  display: flex;
  right: -26px;
  top: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.border-fix .one {
  width: 20px;
  height: 2px;
  background-color: var(--base-color-three);
}

.border-fix .two {
  width: 2px;
  height: 45px;
  background-color: var(--base-color-three);
}

.login-date-fly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-date-fly .text {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login-date-fly .text .right {
  display: flex;
  flex-direction: column;
}

.text-red {
  color: var(--red-color);
  font-weight: 600;
}

.text-base-color {
  color: var(--base-color);
  font-weight: 600;
}

.text-gray-color {
  color: var(--gray-color-light);
  font-weight: 600;
}

.login-date-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.login-date-hotel .text {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.border-box {
  height: 70px;
  border-right: 2px dashed var(--base-color);
  margin: 10px 10px 10px 0;
}

.middle-tour-login {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.middle-tour-login .text {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom-tour-exit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.exit-date-fly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.exit-date-fly .text {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exit-date-fly .text .right {
  display: flex;
  flex-direction: column;
}

.exit-date-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.exit-date-hotel .text {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

//end


//s2
.title-s2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}

.title-s2 .text {
  display: flex;
  align-items: center;
}

.title-s2 .text h2 {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 0;
}

.btn-download-pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red-color);
  color: var(--white);
  width: 150px;
  height: 40px;
  border-radius: var(--radius-btn);
  outline: none;
  border: none;
}

.btn-download-pdf span {
  margin-right: 8px;
  font-size: 15px !important;
}


//thumbnail-two

.thumbnail-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 12px 0;
}

.thumbnail-two .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.thumbnail-two .top .title-box {
  width: 40%;
  display: flex;
  align-items: center;
}

.thumbnail-two .top .title-box .img-hotel {
  width: 140px;
  height: 90px;
  object-fit: cover;
  margin-right: 1rem;
}

.thumbnail-two .top .title-box .info-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
}

.offer-hotel-label {
  width: 170px;
  height: 40px;
  background-color: var(--base-color);
  color: var(--white);
  border-radius: 512px 0 0 512px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pay-online {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: var(--radius-btn);
  color: var(--white);
  background-color: var(--gray-color-light);
}

//end


//s3
.s3 {
  margin: 2rem 0 1rem 0;
}

.Similar-tour {
  display: flex;
  flex-direction: column;
}

.details-agency {
  display: flex;
  flex-direction: column;

}

.details-agency .top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.required-documents, .services-agency {
  width: 48.8%;
  border-radius: 10px;
  border: 2px solid var(--base-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
}

.required-documents h2, .services-agency h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.required-documents p, .services-agency p {
  color: var(--gray-color-light);
  font-weight: 500;
  line-height: 26px;
  overflow-y: auto;
  height: 150px;
}

.img-fix-s3 {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.complete-details {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--base-color-three);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  margin-top: 1.5rem;
}

.complete-details h2 {
  color: var(--base-color);
  font-size: 22px;
  font-weight: 600;
}

.complete-details p {
  color: var(--gray-color-light);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 26px;
  overflow-y: auto;
  height: 330px;
}

//end


//mobile
@media only screen and (max-width: 449px) {
  .title-tour {
    flex-direction: column;
  }
  .title-tour .left {
    margin-top: 12px !important;
  }
  .title-tour .right img {
    width: 25px !important;
  }
  .tour-main-parent {
    flex-direction: column;
  }
  .login-date-fly .text .right span {
    font-size: 12px !important;
    margin-right: 4px !important;
  }
  .text-base-color {
    font-size: 12px !important;
    margin-right: 4px !important;
  }
  .exit-date-fly .text .right span {
    font-size: 12px !important;
    margin-right: 4px !important;
  }
  .title-s2 .text h2 {
    font-size: 15px;
  }
  .btn-download-pdf {
    width: 110px;
  }
  .btn-download-pdf span {
    font-size: 12px !important;
  }
  .btn-download-pdf img {
    width: 15px !important;
  }
  .details-agency .top {
    flex-direction: column;
  }
  .required-documents, .services-agency {
    width: 100%;
    margin-top: 8px;
  }
  .complete-details {
    width: 100%;
    margin-top: 8px;
    height: 350px;
  }
  .border-fix {
    display: none;
  }
  .tour-main-parent .details-box {
    width: 100%;
    padding-right: 0;
    margin-top: 1rem;
  }
  .tour-main-parent .slider-box {
    width: 100%;
  }
  .box-img-main {
    height: 230px;
  }
  .title-tour .right .text h2 {
    margin-bottom: 1px;
  }
  .middle-tour-login .text span {
    font-size: 12px !important;
    margin-right: 4px;
  }


  //thumbnail
  .thumbnail-one .top {
    flex-direction: column;
  }
  .thumbnail-one .top .title-box {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .thumbnail-one .top .title-box .img-hotel {
    width: 100px;
    height: 90px;
  }
  .title-en {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .book-phone {
    font-size: 12px !important;
  }
  .btn-complete-book {
    width: auto;
    font-size: 12px !important;
    padding: 0 10px;
  }
  .bottom-thumbnail {
    flex-wrap: wrap;
  }
  .bottom-thumbnail .child {
    width: 48%;
    margin-top: 12px;
  }
  .service-box {
    width: 100%;
    margin: 8px 0;
  }
  .info-tour-view span {
    font-size: 10px !important;
  }
  .border-box {
    height: 50px;
  }

  .title-fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
    right: 0;
    margin: 0 auto;
    padding: 2rem 10px !important;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    border-bottom: 2px solid #eee;
  }
  .title-tour {
    display: none;
  }
  .title-tour-mobile{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--light-color-two);
    padding-bottom: 1rem;
  }
  .title-tour-mobile .right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .title-tour-mobile .right img{
    width: 25px;
  }
  .title-tour-mobile .right h2{
    margin-bottom: 0;
    margin-right: 8px;
  }
  .title-tour-mobile .left{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
  }
  .title-tour-mobile .left span{
    font-size: 13px !important;
    color: var(--gray-color-light);
  }
  .share{
    margin-left: 8px;
  }
  .services-agency , .required-documents{
    height: 300px;
  }
  .services-agency p , .required-documents p {
    margin-top: 0;
    overflow-y: auto;
    height: 160px;
  }
  .services-agency h2 , .required-documents h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .complete-details p {
    margin-top: 0;
    overflow-y: auto;
    height: 200px;
  }
  .complete-details h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  //end
}


.title-tour-mobile{
  display: none;
}


//tablet
@media only screen and (min-width: 450px) and (max-width: 868px) {
  .tour-main-parent {
    flex-direction: column;
  }
  .title-s2 .text h2 {
    font-size: 17px;
  }
  .details-agency .top {
    flex-direction: column;
  }
  .required-documents, .services-agency {
    width: 100%;
    margin-top: 8px;
  }
  .complete-details {
    width: 100%;
    margin-top: 8px;
    height: 300px;
  }
  .tour-main-parent .details-box {
    width: 100%;
    padding-right: 0;
    margin-top: 1rem;
  }
  .box-img-main {
    height: 250px;
  }
  .tour-main-parent .slider-box {
    width: 100%;
  }
  .title-tour .right .text h2 {
    margin-bottom: 1px;
  }

  //thumbnail
  .border-box {
    height: 60px;
  }
  .title-fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 100;
    right: 0;
    margin: 0 auto;
    padding: 1rem 10px !important;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  //end
}

.title-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 100;
  right: 0;
  margin: 0 auto;
  padding: 2rem 13rem;
  height: 40px;
  display: flex;
  align-items: center;
  animation: titleFix 0.5s forwards;
}
@keyframes titleFix {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}




.swiper-tour-top , .thumbs-gallery{
  padding: 0 1.1rem;
  border-radius: 15px;
}
:host::ng-deep .swiper-tour-top .swiper-button-prev {
  right: -1px !important;
  left: auto !important;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
}
:host::ng-deep .swiper-tour-top .swiper-button-next {
  left: -1px !important;
  right: auto !important;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
}
