<prs-loading *ngIf="loading"></prs-loading>
<prs-expire-tour *ngIf="!loading && tourInfo.status === 'Suspended'"></prs-expire-tour>
<prs-address-bar [path]="'تور'" [path2]="tourInfo.title ? tourInfo.title : ''"></prs-address-bar>
<!--s1-->
<section class="tour-s1">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto tour-parent">
          <div class="title-tour">
            <div class="right">
              <img src="assets/img/Ticket-index.svg" width="30" alt="">
              <div class="text">
                <h2>{{ tourInfo?.title }}</h2>
                <span> شروع قیمت از : {{ tourInfo.minPrice | round | sperator}} تومان </span>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <h2 class="r-name-agency">تامین کننده : </h2>
              <h2 class="l-name-agency">{{ tourInfo?.user?.agency }}</h2>
            </div>
            <div class="left">
              <div class="d-flex flex-column ">
                <div class="d-flex airline">
                  <strong class="airline-title">ایرلاین رفت : </strong>
                  <strong class="airline-value">{{tourInfo.transfers[0].transfer}}</strong>
                </div>
                <div class="d-flex airline">
                  <strong class="airline-title"> ایرلاین برگشت : </strong>
                  <strong class="airline-value"> {{tourInfo.transfers[1].transfer}}</strong>

                </div>
              </div>
              <!--              <a class="share">-->
              <!--                <img src="assets/img/Navigation.svg" width="20" alt="">-->
              <!--              </a>-->
              <!--              <a class="favorite">-->
              <!--                <img src="assets/img/Heart.svg" width="20" alt="">-->
              <!--              </a>-->
            </div>
          </div>
          <div class="title-tour-mobile">
            <div class="right">
              <img src="assets/img/Ticket-index.svg" width="30" alt="">
              <div class="text">
                <h2>{{ tourInfo?.title }}</h2>
              </div>
            </div>
            <div class="left left-mobile align-items-start">
              <div class="d-flex flex-column align-items-start">
                <span> شروع قیمت از :{{ getStarterPrice() | round | sperator}} تومان </span>
                <div class="d-flex align-items-center">
                  <h2 style="font-size: 12px !important;" class="r-name-agency">تامین کننده : </h2>
                  <h2 style="font-size: 12px !important;" class="l-name-agency">{{ tourInfo?.user?.agency }}</h2>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex airline">
                  <strong class="airline-title">ایرلاین رفت : </strong>
                  <strong class="airline-value">{{tourInfo.transfers[0].transfer}}</strong>
                </div>
                <div class="d-flex airline">
                  <strong class="airline-title"> ایرلاین برگشت : </strong>
                  <strong class="airline-value"> {{tourInfo.transfers[1].transfer}}</strong>

                </div>
              </div>

            </div>
          </div>
          <div class="tour-main-parent">
            <div class="slider-box">
              <div class="slider-top">
                <swiper class="swiper-tour-top"
                        [slidesPerView]="1"
                        [spaceBetween]="50"
                        [navigation]="true"
                        [thumbs]="{ swiper: thumbsSwiper }">
                  <ng-container>
                    <ng-template swiperSlide *ngFor="let image of tourInfo.endCity.images">
                      <div class="box-img-main">
                        <a class="info-tour-view" routerLink="/{{ 'تور' + '-' + tourInfo.endCity.slug }}">
                          <img src="assets/img/Information.svg" width="20" alt="">
                          <span>جهت کسب اطلاعات بیشتر درباره شهر {{ tourInfo.endCity.name }} کلیک کنید !</span>
                        </a>
                        <img class="img-tour-big" [src]="image" alt="">
                      </div>
                    </ng-template>
                  </ng-container>
                </swiper>
              </div>
              <div class="slider-bottom">
                <swiper class="thumbs-gallery"
                        [slidesPerView]=" this.isMobile? 2 :(isTablet ? 4:4)"
                        [direction]="'horizontal'"
                        [spaceBetween]="20"
                        [navigation]="false"
                        (swiper)="setThumbsSwiper($event)"
                        [watchSlidesProgress]="true">
                  <ng-container>
                    <ng-template swiperSlide *ngFor="let image of tourInfo.endCity.images">
                      <img class="img-gallery" [src]="image" alt="">
                    </ng-template>
                  </ng-container>
                </swiper>
              </div>
            </div>
            <div class="details-box">
              <div class="top-tour-login">
                <div class="border-fix">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="one"></div>
                </div>
                <div class="login-date-fly">
                  <img src="assets/img/Up-Down-3.svg" width="20" alt="">
                  <div class="text">
                    <div class="right">
                      <span>{{ this.tourInfo.stCity?.name  }}</span>
                      <span class="mt-2 text-green">تاریخ و ساعت پرواز رفت :</span>
                    </div>
                    <div class="left">
                      <span
                        class="text-green me-2">{{ calService.convertDate(tourInfo.transfers[0].dateTime.split(' ')[0], 'fa') }}</span>
                      <span
                        class="text-green">{{ tourInfo.transfers[0].dateTime.split(' ')[1]}}</span>
                    </div>
                  </div>
                </div>
                <div class="login-date-fly mt-3">
                  <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M3 18h18v2H3zm18.509-9.473a1.61 1.61 0 0 0-2.036-1.019L15 9 7 6 5 7l6 4-4 2-4-2-1 1 4 4 14.547-5.455a1.611 1.611 0 0 0 .962-2.018z"/></svg>
                  <div class="text">
                    <div class="right">
                      شماره پرواز:
                    </div>
                    <div class="left">
                      <span class="text-green">1023</span>
                    </div>
                  </div>
                </div>
                <div class="login-date-hotel">
                  <img src="assets/img/Dish.svg" width="20" alt="">
                  <div class="text">
                    <span class="text-base-color">تاریخ ورود به هتل :</span>
                    <div>
                      <span
                        class="text-base-color me-2">{{ this.calService.convertDate(tourInfo?.stDate, 'fa').split(' ')[0]  }}</span>
                      <span
                        class="text-base-color">{{ this.calService.convertDate(tourInfo?.stDate, 'fa').split(' ')[1]  }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-box"></div>
              <div class="middle-tour-login">
                <img src="assets/img/Moon%202.svg" width="22" alt="">
                <div class="text">
                  <span class="text-gray-color">مدت اقامت در {{ this.tourInfo.endCity?.name  }} :</span>
                  <span
                    class="text-base-color">{{ this.tourInfo?.nightNum + ' ' + 'شب و ' + this.tourInfo?.dayNum + ' روز' }}</span>
                </div>
              </div>
              <div class="border-box">

              </div>
              <div class="bottom-tour-exit">
                <div class="border-fix">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="one"></div>
                </div>
                <div class="exit-date-fly">
                  <img src="../../../assets/img/Up-Down-4.svg" width="20" alt="">
                  <div class="text">
                    <div class="right">
                      <span>{{ this.tourInfo.endCity?.name  }}</span>
                      <span class="mt-2 text-red">تاریخ و ساعت پرواز برگشت :</span>
                    </div>
                    <div class="left">
                      <span
                        class="text-red me-2">{{ this.calService.convertDate(tourInfo.transfers[1].dateTime.split(' ')[0], 'fa') }}</span>
                      <span
                        class="text-red">{{ tourInfo.transfers[1].dateTime.split(' ')[1] }}</span>
                    </div>
                  </div>
                </div>
                <div class="login-date-fly mt-3">
                  <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M3 18h18v2H3zm18.509-9.473a1.61 1.61 0 0 0-2.036-1.019L15 9 7 6 5 7l6 4-4 2-4-2-1 1 4 4 14.547-5.455a1.611 1.611 0 0 0 .962-2.018z"/></svg>
                  <div class="text">
                    <div class="right">
                      شماره پرواز:
                    </div>
                    <div class="left">
                      <span class="text-green">1023</span>
                    </div>
                  </div>
                </div>
                <div class="exit-date-hotel">
                  <img src="assets/img/Dish.svg" width="20" alt="">
                  <div class="text">
                    <span class="text-base-color">تاریخ خروج از هتل  :</span>
                    <div>
                      <span
                        class="text-base-color me-2">{{ this.calService.convertDate(tourInfo?.enDate, 'fa').split(' ')[0]  }}</span>
                      <span
                        class="text-base-color">{{ this.calService.convertDate(tourInfo?.enDate, 'fa').split(' ')[1]  }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--s2-->
<section class="s2">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto thumbnail-parent">
          <div class="title-s2 title-section-two">
            <div class="text">
              <img src="assets/img/Document%20Align%20Center%201.svg" width="25" alt="">
              <h2>هتل های قابل ارائه تور</h2>
            </div>
            <button (click)="exportTour()" class="btn-download-pdf" href="">
              <img src="assets/img/Download.svg" width="20" alt="">
              <span>دانلود فایل PDF</span>
            </button>
          </div>

          <prs-thumbnail-tour-two [tourInfo]="tourInfo" [tourType]="tourInfo.endCity.type"
                                  [defineTour]="tourInfo.defineTour"
                                  class="w-100"></prs-thumbnail-tour-two>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->


<!--s3-->
<section class="s3">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto details-agency">
          <div class="top">
            <div class="required-documents">
              <h2>مدارک لازم</h2>
              <p>{{ this.tourInfo?.documents }}</p>
              <img class="img-fix-s3" src="assets/img/Credit-Card.svg" width="70" alt="">
            </div>
            <div class="services-agency">
              <h2>خدمات آژانس</h2>
              <p>{{ this.tourInfo?.services }}</p>
              <img class="img-fix-s3" src="assets/img/Verified.svg" width="70" alt="">
            </div>
          </div>
          <div class="complete-details">
            <h2>توضیحات</h2>
            <p>{{ this.tourInfo?.description }}</p>
            <img class="img-fix-s3" src="assets/img/Message-info-tour.svg" width="70" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->

<!--s4-->
<section class="s4" *ngIf="tourInfo.tours.length > 0">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto Similar-tour">
          <div class="title-s2">
            <div class="text">
              <img src="assets/img/Notification%202.svg" width="35" alt="">
              <h2>تور های مشابه</h2>
            </div>
          </div>
          <prs-thumbnails-tour [tours]="tourInfo.tours"></prs-thumbnails-tour>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->
