<div class="mt-3">
    <h2>قوانین و مقررات</h2>
    <div class="rule-box">
    <p>
      1- در صورت تایید نشدن هتل درخواستی، هتل مشابه جایگزین می گردد.
    </p>
    <p>2- کلیه پروازها چارتر و هتل ها گارانتی و غیر قابل استرداد و تغییر تاریخ می باشد.</p>
    <p>
      3- در صورت هر گونه تغییر در نرخ ارزی روز، هتل - ویزا - پرواز و یا تور مسافرین، بر حسب روز تسویه حساب با کارگزار لحاظ می شود و در صورت عدم تسویه
      حساب کامل در زمان عقد قرارداد هرگونه مابه التفاوت یا تغییرات بر عهده مسافرین می باشد
    </p>
    <p>4- در صورت آماده بودن مدارک مسافرین، مدارک یک روز قبل از پرواز تحویل می گردد</p>
    <p>5- در صورت ممنوع الخروج بودن مسافر، کلیه مسئولیت ها به عهده خود مسافر می باشد. گذر نامه مسافر از تاریخ سفر باید 6 ماه اعتبار داشته باشد</p>
    <p>6- مسئولیت کنترل تاریخ، ساعت و اطلاعات جزئی پرواز بر عهده مسافر بوده و در صورت بروز مشکل متوجه خود مسافر می باشد</p>
    <p>
      7- کلیه مفاد این قرارداد به اطلاع مسافرین یا نماینده آنان رسیده و در صورت بروز هرگونه مورد اختلاف یا کنسلی کارگزار فقط به فرد طرف قرارداد پاسخگو میباشد
      و لذا خواهشمند است مفاد قرارداد را با دقت مطالعه فرمایید. تایید این قوانین به منزله قبول کلیه مفاد قرارداد می باشد
    </p>
    </div>

    <button class="d-flex justify-content-center align-items-center btn-base px-4" (click)="close()">بستن</button>
</div>