<!-- <prs-loading *ngIf="loading"></prs-loading> -->
<div class="list-tour">
  <div class="title">
    <h2>رزروها</h2>
    <!-- <a *ngIf="setting.checkItemPermission('item.create')" class="btn-add-tour" routerLink="/panel/tour/add">اضافه</a> -->
  </div>
  <div class="table-list-tour table-list-tour-desktop">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="username">عنوان تور</span>
      <span class="username">عنوان هتل</span>

      <span class="title-tour">تاریخ رفت</span>
      <span class="from-to">تاریخ برگشت</span>
      <span class="day">وضعیت</span>
      <span class="day">وضعیت تور</span>

      <span class="date-create">کدپیگیری</span>
      <span class="setting">عملیات</span>
    </div>
    <div class="body-list-tour" *ngIf="reserves.length > 0">
      <div class="item" *ngFor="let item of reserves ;let i = index">
        <span class="id">{{ item.id}}</span>
        <span class="username">{{ item.package?.tour?item.package?.tour?.title :'حذف شده' }}</span>
        <span class="username">{{ item.package?.hotel?.name }}</span>

        <span class="title-tour">{{item.package?.tour?.stDate?  calService.convertDateAndTime(item.package?.tour?.stDate, 'fa') : 'ثبت نشده' }}</span>
        <span class="from-to">{{item.package?.tour?.enDate ? calService.convertDateAndTime(item.package?.tour?.enDate, 'fa') : 'ثبت نشده' }}</span>
        <span class="day">{{ publicService.getStatus(item.status) }}</span>
        <span class="day">{{ item.package?.tour?.isTrash ? 'حذف شده' :publicService.getStatus(item.package?.tour?.status) }}</span>

        <span class="date-create">{{ item.ref_code }}</span>
        <div class="button-setting">
          <a class="edit-btn">تایید</a>
          <a routerLink="/panel/agencies/reserves/{{ item.id }}" class="edit-btn">مشاهده</a>
          <a class="edit-btn">ویرایش</a>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>



</div>
