<prs-loading *ngIf="isLoading"></prs-loading>
<div class="list-tour">
  <div class="title">
    <h2>مالی</h2>
    <a  class="btn-add-tour" (click)="exportExcel()">خروجی اکسل</a>

  </div>
  <div class="table-list-tour table-list-tour-desktop">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="username">عنوان تور</span>
      <span class="agencyName">نام آژانس</span>
      <span>نام رزرو گیرنده</span>
      <span class="username">مبلغ پرداختی</span>
      <span class="title-tour">جمع کل اتاق ها</span>
      <!-- <span class="from-to">تاریخ برگشت</span> -->
      <span class="day">وضعیت رزرو</span>
      <span class="day">کد رفرنس بانک</span>
      <span class="date-create">کدپیگیری</span>
      <span>تاریخ ایجاد رزرو</span>
      <span class="setting">عملیات</span>
    </div>
    <div class="body-list-tour" *ngIf="!isLoading && list.length > 0">
      <div class="item" *ngFor="let item of list | paginate: paginateConfig;let i = index">
        <span class="id">{{ item.id}}</span>
        <span class="username text-center">{{ item.package?.tour ? item.package?.tour?.title : 'حذف شده' }}</span>
        <span>{{item.agency}}</span>

        <span class="username text-center">{{ item.user?.name + ' ' + item.user?.family }}</span>
        <span
          class="title-tour">{{item.bill.totalPayAble | sperator}}</span>
        <span
          class="from-to">{{item.bill.totalRoomPrice | sperator}}</span>
        <span class="day">{{publicService.getStatus(item.status) }}</span>


        <span class="date-create">{{ item.ref_code }}</span>
        <span class="date-create" #tooltip="matTooltip"
        matTooltip="{{ item.transactions.length > 0 ?  item.transactions[0].bank_res : '---' }}">{{ item.transactions.length > 0 ?  'مشاهده' : '---' }}</span>

        <span>{{ this.calService.convertDateAndTime(item.createdAt, 'fa') }}</span>
        <div class="button-setting d-flex flex-column justify-content-center">
          <!-- <a class="edit-btn">تایید</a> -->
          <!-- <a style="margin-left:7px;" class="edit-btn">مشاهده</a> -->
          <a routerLink="/panel/agencies/reserves/{{ item.ref_code }}" style="margin-left:7px;" target="_blank" class="edit-btn">مشاهده</a>

        </div>
      </div>
    </div>
    <pagination-controls *ngIf="!isLoading && paginate.last_page > 1" class="pagination-control"
      (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی" screenReaderPaginationLabel="صفحه بندی"
      screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
    </pagination-controls>
  </div>


</div>
