<header>
  <div class="right-item-header">
    <a class="link-view-web" href="">
      <img src="assets/img/view-web.svg" width="25" alt="">
      مشاهده سایت
    </a>
    <a class="link-add-text" href="">
      <img src="assets/img/add-text.svg" width="25" alt="">
      افزودن نوشته
    </a>
  </div>
  <div class="left-item-header">
    <div class="account-user">
      <img src="assets/img/WhatsApp%20Image%202021-08-03%20at%2012.42.36%20PM.svg" alt="" class="img-user">
      <div class="info-user-account">
        <small class="welcome-text">خوش آمدید</small>
        <a class="name-user" href="">
          علی گنجی زاده
          <i class="icon-down-open"></i>
        </a>
      </div>
    </div>
    <a class="link-exit" href="">
      <img src="assets/img/Off.svg" width="18" alt="">
      خروج
    </a>
  </div>
</header>
