
<!--<div class="parent-list">-->

<!--  <div class="item" *ngFor="let hotel of hotelList">-->
<!--    <img [src]="hotel.thumbnail" alt="">-->
<!--    <div class="title">-->
<!--      <a [routerLink]="'panel/hotel/edit/' + hotel.slug">-->
<!--        <h2>{{ hotel.name }}</h2>-->
<!--      </a>-->
<!--      <h2>{{ hotel.nameEn }}</h2>-->
<!--      <p>{{hotel.slug}}</p>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="list-tour">
  <div class="title">
    <h2>لیست هتل ها</h2>
    <div class="selectdiv">
      <select [formControl]="cityFC" (change)="getList()" name="" id="">
        <option *ngFor="let city of citiesResponse" [value]="city.id">{{city.name}}</option>
      </select>
    </div>
    <mat-button-toggle-group name="fontStyle" [(ngModel)]="cityType" (ngModelChange)="typeChange()" aria-label="Font Style">
      <mat-button-toggle [value]="true">داخلی</mat-button-toggle>
      <mat-button-toggle [value]="false">خارجی</mat-button-toggle>
    </mat-button-toggle-group>

      <a class="btn-add-tour" routerLink="/panel/hotel/add">اضافه</a>


  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
<!--      <span class="username">نام کاربر</span>-->
      <span class="title-tour">عنوان هتل</span>
      <span class="from-to">عنوان خارجی هتل</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="hotelList.length > 0">
      <div class="item" *ngFor="let hotel of hotelList;let i = index">
        <span class="id">{{ i + 1 }}</span>
        <!--    <img [src]="hotel.thumbnail" alt="">-->
        <span class="title-tour">{{ hotel.name }}</span>
        <span class="title-tour">{{ hotel.nameEn }}</span>
<!--        <span class="date-create">{{this.calService.convertDate1(tour.createdAt, 'fa') }}</span>-->
<!--        <span class="status">{{ hotel.status }}</span>-->
        <div class="button-setting">
          <a routerLink="/panel/hotel/edit/{{ hotel.slug }}" class="edit-btn">ویرایش</a>
          <a routerLink="/hotel/info" class="view-btn">نمایش</a>
          <!--          <button class="copy-btn">کپی</button>-->
          <button (click)="deleteHotel(hotel.slug)" class="delete-btn">حذف</button>
        </div>
      </div>
    </div>
  </div>
</div>
