<prs-loading *ngIf="isLoading"></prs-loading>
<div class="list-tour">
  <div class="title">
    <h2>لیست هتل ها</h2>
    <prs-select-city [hasHotel]="true" (citySelected)="getCitySelected($event)"></prs-select-city>
    <div class="d-flex search-box-hotel">
      <input [formControl]="keywordFC" placeholder="جستجو بر اساس نام هتل" type="text">
      <button class="mr-2" (click)="getList()">جستجو</button>
    </div>
    <a *ngIf="session.checkItemPermission('Hotel.create')" class="btn-add-tour" routerLink="/panel/hotel/add">اضافه</a>
  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="title-tour">عنوان هتل</span>
      <span class="from-to">عنوان خارجی هتل</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="hotelList.length > 0">
      <div class="item" *ngFor="let hotel of hotelList | paginate: paginateConfig;let i = index">
        <span class="id">{{ i + 1 }}</span>
        <span class="title-tour">{{ hotel.name }}</span>
        <span class="title-tour">{{ hotel.nameEn }}</span>
        <div class="button-setting">
          <a *ngIf="session.checkItemPermission('Hotel.edit')" routerLink="/panel/hotel/edit/{{ hotel.slug }}"
            class="edit-btn">ویرایش</a>
          <a (click)="publicService.openPage('/panel/hotels/' + hotel.slug)" class="view-btn">نمایش</a>
          <button *ngIf="session.checkItemPermission('Hotel.delete')" (click)="deleteClicked(hotel.slug)"
            class="delete-btn">حذف</button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <pagination-controls *ngIf="!isLoading && paginate.last_page > 1" class="pagination-control"
    (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی" screenReaderPaginationLabel="صفحه بندی"
    screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
  </pagination-controls>
</div>