.SubmitButton{
  background: #21ba45;
  color: #fff;
  border-radius: 4px;
  width: 130px;
  font-size: 13px;
  height: 35px;
  border: none;
  outline: none;
}
.CancelButton{
  background: #ff4d4d;
  color: #fff;
  border-radius: 4px;
  width: 130px;
  font-size: 13px;
  height: 35px;
  border: none;
  outline: none;
}

.content{

  height: 100%;
}
.content .bts button{
  height: 50%;
}
.content .bts{
  height: 80%;
}
p{
  font-size: 80%;
}
