<div class="parent-reserve">
  <i class="icon-cancel-1"  aria-label="Close"></i>
  <h2>با تشکر از انتخاب شما</h2>
  <p>لطفا جهت رزرو تور با شماره تلفن
    021-84278
  تماس حاصل فرمایید
  </p>
  <strong>یا</strong>
  <p>
    جهت تماس با شما از طریق کارشناسان آژانس همنواز اطلاعات درخواستی
  زیر را تکمیل و ارسال فرمایید.

  </p>


  <label for="">شماره همراه</label>
  <div class="inp-form">
    <input type="text" [formControl]="phoneFC" placeholder="شماره همراه خود را وارد کنید">
  </div>
  <label for="">تعداد مسافر :</label>
  <div class="inp-form">
    <input type="text" [formControl]="countFC" placeholder="لطفا تعداد خود را وارد کنید">
  </div>
  <prs-btn [label]="'رزرو'" (click)="reserve()" [background]="'dark'" ></prs-btn>

</div>

