<div class="w-100 w-100-mobi">
  <div  class="w-100 sidebar-dashboard-p sidebar-desk"
       style="width: 100%;position: relative;display: flex;flex-direction: column;align-items: center">
    <div class="sidebar-dashboard">
      <div class="top-sidebar-dashboard">
        <img class="img-profile-sidebar" src="../../../assets/img/avatar.jpg" alt="">
        <div class="user-detail">
          <h3>---</h3>
          <span>---</span>
        </div>
        <a class="btn-edit-profile" href="">
          <svg width="19" height="19" viewBox="0 0 23.907 23.94">
            <g id="Pen" transform="translate(-0.047 -0.03)">
              <path id="Path_1089" data-name="Path 1089"
                    d="M10.5,8.728,3.518,2.068l8.555,1.271a5.579,5.579,0,0,1,4.256,3.219l2.525,5.927-3.045,3.042L12.474,18.8,6.58,16.3a5.574,5.574,0,0,1-3.223-4.251L2.079,3.459l7.044,6.717A1,1,0,0,0,10.5,8.728Zm1.4,12-6.113-2.6-.018-.008a7.574,7.574,0,0,1-4.39-5.785L.082,3.627A3.129,3.129,0,0,1,3.645.065l8.722,1.3a7.579,7.579,0,0,1,5.79,4.386l.008.018,2.794,6.558a1,1,0,0,1,.039.11l.561.551.048.047a19.04,19.04,0,0,1,1.613,1.7,3.008,3.008,0,0,1,.734,1.874,3.008,3.008,0,0,1-.734,1.874,19.066,19.066,0,0,1-1.613,1.7h0l-.048.047-1.42,1.395-.047.046a19.134,19.134,0,0,1-1.734,1.584,3.087,3.087,0,0,1-1.883.714,3.087,3.087,0,0,1-1.883-.714,19.121,19.121,0,0,1-1.734-1.584l-.047-.046-.879-.863Zm2.186-.657.126.123a18.312,18.312,0,0,0,1.579,1.457,1.143,1.143,0,0,0,.684.315,1.143,1.143,0,0,0,.684-.315A18.312,18.312,0,0,0,18.737,20.2l1.42-1.395a18.246,18.246,0,0,0,1.482-1.55c.281-.362.314-.533.314-.647s-.033-.285-.314-.647a18.243,18.243,0,0,0-1.482-1.55l-.179-.175-2.762,2.713Z"
                    fill="#367ed1" fill-rule="evenodd" />
              <ellipse id="Ellipse_52" data-name="Ellipse 52" cx="2.113" cy="2.109" rx="2.113"
                       ry="2.109" transform="matrix(1, -0.016, 0.016, 1, 7.385, 7.05)" fill="#367ed1" />
            </g>
          </svg>

        </a>
      </div>
      <div class="body-sidebar-dashboard">
        <ul class="menu-sidebar">
          <li  class="li-menu-sidebar">
            <a  class="link-dashboard-page">
              <svg width="22" height="22" viewBox="0 0 22.081 22.294">
                <g id="Cart_2" data-name="Cart 2" transform="translate(0.294 0.294)">
                  <circle id="Ellipse_36" data-name="Ellipse 36" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(7.444 18.361)" fill="#151515" />
                  <circle id="Ellipse_37" data-name="Ellipse 37" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(13.509 18.361)" fill="#151515" />
                  <path id="Path_855" data-name="Path 855"
                        d="M1.048,1.048C2.891,1.969,3.8,2.775,3.8,5.018m0,0c0,9.1,2.426,10.917,8.491,10.917s8.491-1.819,8.491-9.1a1.692,1.692,0,0,0-1.82-1.82Z"
                        fill="none" stroke="#151515" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" />
                </g>
              </svg>
               داشبورد
            </a>
          </li>
          <li  class="li-menu-sidebar">
            <a  class="link-dashboard-page">
              <svg width="22" height="22" viewBox="0 0 22.081 22.294">
                <g id="Cart_2" data-name="Cart 2" transform="translate(0.294 0.294)">
                  <circle id="Ellipse_36" data-name="Ellipse 36" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(7.444 18.361)" fill="#151515" />
                  <circle id="Ellipse_37" data-name="Ellipse 37" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(13.509 18.361)" fill="#151515" />
                  <path id="Path_855" data-name="Path 855"
                        d="M1.048,1.048C2.891,1.969,3.8,2.775,3.8,5.018m0,0c0,9.1,2.426,10.917,8.491,10.917s8.491-1.819,8.491-9.1a1.692,1.692,0,0,0-1.82-1.82Z"
                        fill="none" stroke="#151515" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" />
                </g>
              </svg>
              پروفایل
            </a>
          </li>
          <li  class="li-menu-sidebar">
            <a  class="link-dashboard-page">
              <svg width="22" height="22" viewBox="0 0 22.081 22.294">
                <g id="Cart_2" data-name="Cart 2" transform="translate(0.294 0.294)">
                  <circle id="Ellipse_36" data-name="Ellipse 36" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(7.444 18.361)" fill="#151515" />
                  <circle id="Ellipse_37" data-name="Ellipse 37" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(13.509 18.361)" fill="#151515" />
                  <path id="Path_855" data-name="Path 855"
                        d="M1.048,1.048C2.891,1.969,3.8,2.775,3.8,5.018m0,0c0,9.1,2.426,10.917,8.491,10.917s8.491-1.819,8.491-9.1a1.692,1.692,0,0,0-1.82-1.82Z"
                        fill="none" stroke="#151515" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" />
                </g>
              </svg>
              سفرهای من
            </a>
          </li>
          <li  class="li-menu-sidebar">
            <a  class="link-dashboard-page">
              <svg width="22" height="22" viewBox="0 0 22.081 22.294">
                <g id="Cart_2" data-name="Cart 2" transform="translate(0.294 0.294)">
                  <circle id="Ellipse_36" data-name="Ellipse 36" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(7.444 18.361)" fill="#151515" />
                  <circle id="Ellipse_37" data-name="Ellipse 37" cx="1.82" cy="1.82"
                          r="1.82" transform="translate(13.509 18.361)" fill="#151515" />
                  <path id="Path_855" data-name="Path 855"
                        d="M1.048,1.048C2.891,1.969,3.8,2.775,3.8,5.018m0,0c0,9.1,2.426,10.917,8.491,10.917s8.491-1.819,8.491-9.1a1.692,1.692,0,0,0-1.82-1.82Z"
                        fill="none" stroke="#151515" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" />
                </g>
              </svg>
              پشتیبانی
            </a>
          </li>

          <a class="btn-exit-dashboard" href="">
            <svg width="18" height="18" viewBox="0 0 17 18.769">
              <g id="Upload_1" data-name="Upload 1" transform="translate(0 0.061)">
                <path id="Path_1179" data-name="Path 1179"
                      d="M14.083,4.542,10.542,1m0,0L7,4.542M10.542,1v9.917"
                      transform="translate(-2.042)" fill="none" stroke="#d13936"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                <path id="Path_1180" data-name="Path 1180"
                      d="M3.542,9.009a.662.662,0,0,0-.886-.65C.572,9.188,0,10.912,0,14.258c0,5.421,1.5,6.583,8.5,6.583S17,19.679,17,14.258c0-3.346-.572-5.07-2.655-5.9a.662.662,0,0,0-.886.65.814.814,0,0,0,.506.726,2.636,2.636,0,0,1,.543.318c.664.515,1.076,1.5,1.076,4.2s-.412,3.69-1.076,4.2a4.387,4.387,0,0,1-1.967.716,24.851,24.851,0,0,1-4.041.246,24.851,24.851,0,0,1-4.041-.246,4.387,4.387,0,0,1-1.967-.716c-.664-.515-1.076-1.5-1.076-4.2s.412-3.69,1.076-4.2a2.635,2.635,0,0,1,.543-.318A.814.814,0,0,0,3.542,9.009Z"
                      transform="translate(0 -2.133)" fill="#d13936" fill-rule="evenodd" />
              </g>
            </svg>
            خروج از حساب کاربری
          </a>
        </ul>
      </div>

    </div>
    <img class="img-pattern-sidebar" src="/img/pattern-sidebar.svg" alt="">
  </div>
</div>
