<div class="thumbnail-desktop">
  <div class="header-box">
    <span class="info-hotel w-98">اطلاعات هتل</span>
    <span class="item d-flex">   دو تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item d-flex" *ngIf="tourType">   سه تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item d-flex" *ngIf="tourType">   چهار تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item" *ngIf="!tourType">سینگل</span>
    <span class="item" *ngIf="!tourType">کودک با تخت</span>
    <span class="item" *ngIf="!tourType">کودک بدون تخت</span>
    <span>سن کودک با تخت</span>
  </div>

  <div class="body-box-hotel" *ngFor="let package of tourInfo.packages">
    <div class="info-hotel-body">
      <img class="img-hotel" [src]="package.hotel.thumbnail" alt="">
      <div class="info-info-hotel">
        <a routerLink="/hotel/{{ package.hotel.slug }}" target="_blank">
          <h1 class="title-en">{{ package.hotel.nameEn }}</h1>
        </a>
        <h1 class="title-fa">{{ package.hotel.name }}</h1>
        <div class="star-icon">
          <i class="icon-star" *ngFor="let star of getStars(package.hotel.stars)"></i>
          <strong class="info-bold">{{ (package.services.name) }}</strong>
        </div>
        <div class="location mt-1 d-flex align-items-center">
          <img src="assets/img/Location.svg" width="15" alt="">
          <span>{{ package.hotel.location ? package.hotel.location : 'ثبت نشده'}}</span>
        </div>
      </div>

    </div>
    <div class="price-box">
      <div
        class="number">{{ defineTour ? (package.prices.twinRate | number) : (package.prices.twin | number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="tourType">
      <div
        class="number">{{ defineTour ? (package.prices.tripleRate| number) : (package.prices.triple| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="tourType">
      <div
        class="number">{{ defineTour ? (package.prices.quadRate| number) : (package.prices.quad| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div
        class="number">{{ defineTour ? (package.prices.singleRate| number) : (package.prices.single| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div
        class="number">{{ defineTour ? (package.prices.cwbRate| number) : (package.prices.cwb| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div class="number">{{ package.prices.cnb ? (+(package.prices.cnb.toString().split(',').join('')) | number) : 0 }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">{{ package.prices.age }}</div>
    </div>
    <button class="btn-complete-book" (click)="reserve(package.id)">در خواست رزرو</button>
  </div>
</div>
<!-----------------------------------------------mobile--------------------------------->
<div class="thumbnail-mobile" *ngFor="let package of tourInfo.packages; let i = index">
  <div class="info-hotel-body">
    <div class="d-flex flex-column align-items-center">
      <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
      <div class="rate d-flex flex-column align-items-center">
        <div class="star-icon">
          <i class="icon-star" *ngFor="let star of getStars(package.hotel.stars)"></i>
        </div>
        <strong class="info-bold">{{ package.services.name }}</strong>
      </div>


    </div>
    <div class="info-info-hotel">
      <div class="start-price">
        <span>شروع قیمت : </span>
        <span class="price"> {{ getStarterPrice() | number}} تومان</span>
      </div>

      <a href="">
        <h1 class="title-en">{{ package.hotel.nameEn }}</h1>
      </a>
      <h1 class="title-fa">{{ package.hotel.name }}</h1>
      <div class="location mt-1 d-flex align-items-center">
        <img src="assets/img/Location.svg" width="15" alt="">
        <span>{{ package.hotel.location ? package.hotel.location : 'ثبت نشده'}}</span>
      </div>

    </div>

  </div>
  <div class="parent-info-more-btn">
    <a data-toggle="collapse" class="btn-more" href="#{{ i }}">
      اطلاعات بیشتر
      <i class="icon-down-open"></i>
    </a>
  </div>
  <div class="collapse" id="{{ i }}">
    <div class="info-hotel-under">
      <div class="item">
        <span class="title">دو تخته</span>
        <span
          class="text">تومان {{ defineTour ? (package.prices.twinRate | number) : (package.prices.twin | number) }}</span>
      </div>
      <div class="item" *ngIf="tourType">
        <span class="title">سه تخته</span>
        <span
          class="text">تومان {{ defineTour ? (package.prices.tripleRate| number) : (package.prices.triple| number) }} </span>
      </div>
      <div class="item" *ngIf="tourType">
        <span class="title">چهارتخته</span>
        <span
          class="text">تومان {{ defineTour ? (package.prices.quadRate| number) : (package.prices.quad| number) }}</span>
      </div>
      <div class="item" *ngIf="!tourType">
        <span class="title">سینگل</span>
        <span
          class="text">تومان {{ defineTour ? (package.prices.singleRate| number) : (package.prices.single| number) }}</span>
      </div>
      <div class="item" *ngIf="!tourType">
        <span class="title">کودک با تخت</span>
        <span
          class="text">تومان {{ defineTour ? (package.prices.cwbRate| number) : (package.prices.cwb| number) }}</span>
      </div>
      <div class="item" *ngIf="!tourType">
        <span class="title">کودک بدون تخت</span>
        <span class="text">تومان {{ package.prices.cnb ? (+(package.prices.cnb.toString().split(',').join('')) | number) : 0 }}</span>
      </div>
      <div class="item-one">
        <span class="title">سن کودک با تخت</span>
        <span class="text">{{ package.prices.age }}</span>
      </div>
      <button class="btn-complete-book" (click)="reserve(package.id)">در خواست رزرو</button>
    </div>

  </div>
</div>

<!-----------------------------------------------print---------------------------------->
<div class="p-thumbnail" id="output">
  <div class="p-header-box">
    <span class="info-hotel w-98">اطلاعات هتل</span>
    <span class="item d-flex">   دو تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item d-flex" *ngIf="tourType">   سه تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item d-flex" *ngIf="tourType">   چهار تخته<small class="gap"> (هرنفر) </small></span>
    <span class="item" *ngIf="!tourType">سینگل</span>
    <span class="item" *ngIf="!tourType">کودک با تخت</span>
    <span class="item" *ngIf="!tourType">کودک بدون تخت</span>
    <span>سن کودک با تخت</span>
  </div>
  <div class="p-body-box-hotel" *ngFor="let package of tourInfo.packages">
    <div class="info-hotel-body">
      <img class="img-hotel" [src]="package.hotel.thumbnail" alt="">
      <div class="info-info-hotel">
        <a routerLink="/hotel/{{ package.hotel.slug }}" target="_blank">
          <h1 class="title-en">{{ package.hotel.nameEn }}</h1>
        </a>
        <h1 class="title-fa">{{ package.hotel.name }}</h1>
        <div class="star-icon">
          <i class="icon-star" *ngFor="let star of getStars(package.hotel.stars)"></i>
          <strong class="info-bold">{{ (package.services.name) }}</strong>
        </div>
        <div class="location mt-1 d-flex align-items-center">
          <img src="assets/img/Location.svg" width="15" alt="">
          <span>{{ package.hotel.location ? package.hotel.location : 'ثبت نشده'}}</span>
        </div>
      </div>

    </div>
    <div class="price-box">
      <div
        class="number">{{ defineTour ? (package.prices.twinRate | number) : (package.prices.twin | number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="tourType">
      <div
        class="number">{{ defineTour ? (package.prices.tripleRate| number) : (package.prices.triple| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="tourType">
      <div
        class="number">{{ defineTour ? (package.prices.quadRate| number) : (package.prices.quad| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div
        class="number">{{ defineTour ? (package.prices.singleRate| number) : (package.prices.single| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div
        class="number">{{ defineTour ? (package.prices.cwbRate| number) : (package.prices.cwb| number) }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box" *ngIf="!tourType">
      <div class="number">{{ package.prices.cnb ? (+(package.prices.cnb.toString().split(',').join('')) | number) : 0 }}</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">{{ package.prices.age }}</div>
    </div>
  </div>
</div>
