<div class="thumbnail-desktop">
  <div class="header-box">
    <span class="info-hotel w-98">اطلاعات هتل</span>
    <span class="item">دو تخته</span>
    <span class="item">سینگل</span>
    <span class="item">کودک با تخت</span>
    <span>کودک بدون تخت</span>
    <span>سن کودک با تخت</span>
  </div>
  <div class="body-box-hotel">
    <div class="info-hotel-body">
      <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
      <div class="info-info-hotel">
        <a href="">
          <h1 class="title-en">ARAMAZD HOTEL ARMENIA</h1>
        </a>
        <h1 class="title-fa">هتل آرامازد ارمنستان</h1>
        <div class="star-icon">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <strong class="info-bold">(B.B)</strong>
        </div>

      </div>

    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">6-12</div>
    </div>
    <button class="btn-complete-book">در خواست رزرو</button>
  </div>
  <div class="body-box-hotel">
    <div class="info-hotel-body">
      <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
      <div class="info-info-hotel">
        <a href="">
          <h1 class="title-en">ARAMAZD HOTEL ARMENIA</h1>
        </a>
        <h1 class="title-fa">هتل آرامازد ارمنستان</h1>
        <div class="star-icon">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <strong class="info-bold">(B.B)</strong>
        </div>

      </div>

    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">6-12</div>
    </div>
    <button class="btn-complete-book">در خواست رزرو</button>
  </div>
  <div class="body-box-hotel">
    <div class="info-hotel-body">
      <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
      <div class="info-info-hotel">
        <a href="">
          <h1 class="title-en">ARAMAZD HOTEL ARMENIA</h1>
        </a>
        <h1 class="title-fa">هتل آرامازد ارمنستان</h1>
        <div class="star-icon">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <strong class="info-bold">(B.B)</strong>
        </div>

      </div>

    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">6-12</div>
    </div>
    <button class="btn-complete-book">در خواست رزرو</button>
  </div>
  <div class="body-box-hotel">
    <div class="info-hotel-body">
      <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
      <div class="info-info-hotel">
        <a href="">
          <h1 class="title-en">ARAMAZD HOTEL ARMENIA</h1>
        </a>
        <h1 class="title-fa">هتل آرامازد ارمنستان</h1>
        <div class="star-icon">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <strong class="info-bold">(B.B)</strong>
        </div>

      </div>

    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="number">80,000,000</div>
      <div class="text">تومان</div>
    </div>
    <div class="price-box">
      <div class="age">6-12</div>
    </div>
    <button class="btn-complete-book">در خواست رزرو</button>
  </div>

</div>
<!-----------------------------------------------mobile--------------------------------->
<div class="thumbnail-mobile">
  <div class="info-hotel-body">
    <img class="img-hotel" src="assets/img/1200px-Sunrise_over_Kangchenjunga.png" alt="">
    <div class="info-info-hotel">
      <a href="">
        <h1 class="title-en">ARAMAZD HOTEL ARMENIA</h1>
      </a>
      <h1 class="title-fa">هتل آرامازد ارمنستان</h1>
      <div class="star-icon">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <strong class="info-bold">(B.B)</strong>
      </div>

    </div>

  </div>
  <div class="parent-info-more-btn">
    <a data-toggle="collapse" class="btn-more" href="#one">
      اطلاعات بیشتر
      <i class="icon-down-open"></i>
    </a>
  </div>
  <div class="collapse" id="one">
    <div class="info-hotel-under">
      <div class="item">
        <span class="title">دو تخته</span>
        <span class="text">تومان 80,000,000</span>
      </div>
      <div class="item">
        <span class="title">سینگل</span>
        <span class="text">تومان 80,000,000</span>
      </div>
      <div class="item">
        <span class="title">کودک با تخت</span>
        <span class="text">تومان 80,000,000</span>
      </div>
      <div class="item">
        <span class="title">کودک بدون تخت</span>
        <span class="text">تومان 80,000,000</span>
      </div>
      <div class="item-one">
        <span class="title">سن کودک با تخت</span>
        <span class="text">6-12</span>
      </div>
      <button class="btn-complete-book">در خواست رزرو</button>
    </div>

  </div>
</div>
