.view-btn {
  width: auto;
  background-color: var(--base-color);
  color: var(--white);
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
