.list-tour {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: space-between;
  }
  
  .title h2 {
    font-size: 20px;
    color: var(--base-color);
    margin-right: 4px;
  }
  
  .title button {
    width: 100px;
    background-color: var(--base-color-three);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: var(--radius-btn);
    height: 35px;
  }
  
  .table-list-tour {
    width: 99%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-color-two);
    margin-top: 10px;
  }
  
  .header-list-tour {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1.5fr 1.5fr;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-color-two);
  }
  
  .header-list-tour span {
    margin: auto;
    font-size: 13px !important;
  }
  
  .body-list-tour {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .body-list-tour .item {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1.5fr 1.5fr;
  }
  
  .body-list-tour .item:not(:last-child) {
    border-bottom: 1px solid var(--light-color-two);
  }
  
  .body-list-tour .item span {
    margin: auto;
    font-size: 13px !important;
  }
  
  .body-list-tour .item .status {
    color: var(--red-color);
    font-weight: 500;
  }
  
  .button-setting {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
  }

  .button-setting .green-btn {
    width: auto;
    background-color: rgb(72, 185, 82);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-setting .edit-btn {
    width: auto;
    background-color: var(--base-color-three);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-setting .view-btn {
    width: auto;
    background-color: var(--base-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-setting .delete-btn {
    width: auto;
    background-color: var(--red-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  .button-setting .log-btn {
    width: auto;
    background-color: #0d6efd;
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .button-setting .copy-btn {
    width: auto;
    background-color: var(--green-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .date-create {
    direction: ltr;
  }
  .near-date label{
    margin-right: 12px;
  }
  .btn-add-tour {
    background-color: var(--base-color);
    color: var(--white);
    width: 120px;
    height: 38px;
    border-radius: var(--radius-btn);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .table-list-tour-mobile {
    display: none;
  }
  
  .pagination-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  :host::ng-deep .mat-button-toggle-button span{
    font-family: IRANSans !important;
  }
  
  //-----------------------------------
  @media only screen and (max-width: 868px) {
    .table-list-tour-desktop {
      display: none;
    }
    .table-list-tour-mobile {
      display: block;
      width: 100%;
    }
    .list-tour-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      box-shadow: var(--box-shadow);
      height: auto;
      padding: 15px;
      background-color: var(--white);
      border-radius: 8px;
      margin-top: 12px !important;
    }
    .list-tour-box .user-id {
      width: auto;
      height: 25px;
     border-radius: 4px;
      background-color: var(--red-color);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 6px;
      top: 6px;
      padding: 0 4px;
      font-size: 12px !important;
    }
    .item-list-tour {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--white);
      flex-wrap: wrap;
    }
    .item-list-tour {
      background: var(--white);
      display: flex;
      align-items: center;
    }
    .item-tour {
      display: flex;
      align-items: center;
      margin-top: 8px;
      width: 49.5%;
    }
    .item-list-tour .title {
      font-weight: 500;
      color: var(--base-color);
      font-size: 12px !important;
      width: auto;
    }
    .item-list-tour .text {
      font-weight: 500;
      font-size: 12px !important;
      margin-right: 4px;
      color: var(--gray-color-dark);
    }
    .btn-details-more {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--base-color);
      float: left;
      color: var(--white);
      height: 30px;
      width: 100%;
      border-radius: 4px;
      margin: 6px 0;
    }
    .box-details-more {
      background-color: #eee !important;
      border-radius: 4px;
    }
    .box-details-more .item-list-tour{
      background: unset !important;
      width: 100%;
      padding: 8px;
    }
    .operation-parent{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
    }
    .operation{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 8px;
    }
     .edit-btn {
      width: auto;
      background-color: var(--base-color-three);
      color: var(--white);
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
     .view-btn {
      width: auto;
      background-color: var(--base-color);
      color: var(--white);
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
     .delete-btn {
      width: auto;
      background-color: var(--red-color);
      color: var(--white);
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
      border-radius: 4px;
    }
    .title {
      width: 100%;
      flex-wrap: wrap;
    }
    .title h2{
      width: 100%;
    }
    .btn-add-tour{
      margin: 1rem 0;
    }
    :host::ng-deep .mat-button-toggle-button span{
      font-size: 12px !important;
      font-family: IRANSans !important;
    }
    .copy-btn{
      width: auto;
      background-color: var(--green-color);
      color: var(--white);
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
    }
    .log-btn {
      width: auto;
      background-color: #0d6efd;
      color: var(--white);
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
      border-radius: 4px;
    }
  }
  