<div class="list-tour">
    <div class="title">
      <h2>لیست مسیر پرواز ها</h2>
      <a class="btn-add-tour" routerLink="/panel/transferRate/add">اضافه</a>
    </div>
    <div class="table-list-tour">
      <div class="header-list-tour">
        <span class="id">#</span>
        <!--      <span class="username">نام کاربر</span>-->
        <span class="title-tour">مسیر رفت-برگشت</span>
        <span class="title-tour">ایرلاین رفت</span>
        <span class="title-tour">ایرلاین برگشت</span>
        <span class="from-to">تاریخ رفت</span>
        <span class="from-to">تاریخ برگشت</span>
        <span class="from-to">ظرفیت</span>
        <span class="setting">تنظیمات</span>
      </div>
      <div class="body-list-tour" *ngIf="transfers.length > 0">
        <div class="item" *ngFor="let transfer of transfers;let i = index">
          <span class="id">{{ i + 1 }}</span>
          <span class="title-tour">{{ transfer.origin.name }} - {{ transfer.destination.name }}</span>
          <span class="title-tour">{{ transfer.destination_transfer.name }}</span>
          <span class="title-tour">{{ transfer.origin_transfer.name }}</span>
          <span class="title-tour">{{ transfer.departure_date }}</span>
          <span class="title-tour">{{ transfer.return_date }}</span>
          <span class="title-tour">{{ transfer.capacity }}</span>
          <div class="button-setting">
            <a routerLink="/panel/transferRate/edit/{{ transfer.id }}" class="edit-btn">ویرایش</a>
            <button (click)="deleteTransfer(transfer.id)" class="delete-btn">حذف</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <pagination-controls *ngIf="paginate.last_page > 1" class="pagination-control"
        (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی"
        screenReaderPaginationLabel="صفحه بندی" screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
      </pagination-controls>
    </div>

</div>
  