.title h2{
    font-size: 20px;
    font-weight: 500;
    color: var(--base-color);
    margin-bottom: 7px;
  }
  .title p{
    line-height: 24px;
    font-size: 13px !important;
    text-align: justify;
  }
  
  .list-tour {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: space-between;
  }
  .title h2{
    font-size: 20px;
    color: var(--base-color);
    margin-right: 4px;
  }
  .title button {
    width: 100px;
    background-color: var(--base-color-three);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: var(--radius-btn);
    height: 35px;
  }
  
  .table-list-tour {
    width: 99%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-color-two);
    margin-top: 10px;
  }
  
  .header-list-tour {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.7fr 0.7fr 1.5fr 1fr 1fr 1fr 0.5fr;
    background-color: #d5d5d5;
    border-bottom: 1px solid var(--light-color-two);
  }
  
  .header-list-tour span {
    margin: auto;
    font-size: 13px !important;
  }
  
  .body-list-tour {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .body-list-tour .item {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.7fr 0.7fr 1.5fr 1fr 1fr 1fr 0.5fr;
  }
  .body-list-tour .item:not(:last-child){
    border-bottom: 1px solid var(--light-color-two);
  }
  .body-list-tour .item span {
    margin: auto;
    font-size: 13px !important;
  }
  .body-list-tour .item .status{
    color: var(--red-color);
    font-weight: 500;
  }
  .button-setting {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 4px;
  }
  
  .button-setting .edit-btn {
    width: auto;
    background-color: var(--base-color-three);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-setting .view-btn {
    width: auto;
    background-color: var(--base-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  .button-setting .delete-btn {
    width: auto;
    background-color: var(--red-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  .button-setting .copy-btn {
    width: auto;
    background-color: var(--green-color);
    color: var(--white);
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .date-create {
    direction: ltr;
  }
  
  .btn-add-tour {
    background-color: var(--base-color);
    color: var(--white);
    width: 120px;
    height: 38px;
    border-radius: var(--radius-btn);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :host::ng-deep .mat-button-toggle{
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
  }
  :host::ng-deep .mat-button-toggle button{
    height: 100% !important;
    padding-bottom: 0 !important;
    outline: none;
  }
  :host::ng-deep.mat-button-toggle-label-content {
    line-height: 30px !important;
    font-family: IRANSans !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  @media only screen and (max-width: 868px){
    .table-list-tour {
      overflow-x: auto !important;
    }
    .header-list-tour, .body-list-tour {
      width: 500px;
    }
  }
  