header {
  border-top: 3px solid var(--base-color);
  width: 100%;
  height: 90px;
  background-color: var(--white);
}

.parent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.parent-header .right {
  width: 65%;
  display: flex;
  align-items: center;
}

.parent-header .left {
  width: 35%;
  display: flex;
  justify-content: flex-end;

}

.ul-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem !important;
  width: 60%;
  font-size: 14px;
}

.ul-menu .li-menu .menu-item {
  color: var(--gray-color-light);
  position: relative;
}

.ul-menu .li-menu .menu-item:hover .icon-active-header {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--btn-animtion);
}

.icon-active-header {
  position: absolute;
  top: 25px;
  width: 100%;
  font-size: 6px !important;
  padding-right: 1rem;
  display: none;
  transition: var(--btn-animtion);
}

.icon-active-header-click {
  position: absolute;
  top: 25px;
  width: 100%;
  font-size: 6px !important;
  padding-right: 1rem;
  transition: var(--btn-animtion);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--btn-animtion);
}

.ul-menu .li-menu .menu-item img {
  margin-left: 5px !important;
}

.support {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.support .text-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

.support .text-support small {
  color: var(--gray-color-light);
  font-weight: 300;
  font-size: 12px;
}

.support .text-support span {
  color: var(--gray-color-light);
  font-weight: 500;
}

.btn-login-register {
  display: flex;
  align-items: center;
  width: 140px;
  height: 38px;
  font-size: 20px;
  border-radius: var(--radius-btn);
  color: var(--white);
  padding-right: 10px;
  background-color: var(--base-color-three);
}

.btn-login-register span {
  margin-right: 10px;
}
