<!--desktop-->
<header  class="desktop-header">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-header">
          <div class="right">
            <div class="logo"><img src="assets/img/hamnavaz-logo.png" width="140" alt=""></div>
            <ul class="ul-menu">
              <li class="li-menu">
                <a class="menu-item" routerLink="/">
                  <img src="assets/img/Home.svg" width="17" alt="">
                  صفحه اصلی
                  <i class="icon-circle icon-active-header"></i>
                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" routerLink="/tour/list">
                  <img src="assets/img/Location.svg" width="17" alt="">
                  تور ها
                  <i class="icon-circle icon-active-header"></i>

                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" routerLink="/hotel/list">
                  <img src="assets/img/Dish.svg" width="17" alt="">
                  هتل
                  <i class="icon-circle icon-active-header"></i>
                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" routerLink="/blog">
                  <img src="assets/img/Document%20Align%20Center%201.svg" width="17" alt="">
                  وبلاگ
                  <i class="icon-circle icon-active-header"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="left">
            <div class="support">
              <img src="assets/img/Calling-header.svg" width="25" alt="">
              <div class="text-support">
                <small>پشتیبانی</small>
                <span>021-84278</span>
              </div>
            </div>
            <a class="btn-login-register" routerLink="/auth" *ngIf="!session.isLoggedIn()">
              <img src="assets/img/User-header.svg" width="18" alt="">
              <span>عضویت و ورود</span>
            </a>
            <a class="btn-login-register" (click)="logOut()" *ngIf="session.isLoggedIn()">
              <img src="assets/img/User-header.svg" width="18" alt="">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
              <span>خوش آمدید / خروج</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--end-->


<!--mobile-header-->
<header class="mobi-header">
  <div class="nav-mobi">
    <div class="top">
      <div class="menu">
        <i class="icon-align-right icon-menu"></i>
      </div>
      <div class="logo-web-mobi">
        <img src="assets/img/hamnavaz-logo.png" width="110" alt="">
      </div>
        <a class="btn-login-register" routerLink="/auth" *ngIf="!session.isLoggedIn()">
          <span>عضویت و ورود</span>
        </a>
        <a class="btn-login-register" (click)="logOut()" *ngIf="session.isLoggedIn()">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          <span>
          <i class="icon-user"></i>
            /
            خروج
          </span>
        </a>
    </div>
  </div>
</header>
<div class="menu-box-mobi">
  <ul class="ul-menu-mobile">
    <li class="li-menu">
      <a class="menu-item-mobile" href="">
        <img src="assets/img/Home.svg" width="17" alt="">
        صفحه اصلی
        <i class="icon-circle icon-active-header"></i>
      </a>
    </li>
    <li class="li-menu">
      <a class="menu-item-mobile" href="">
        <img src="assets/img/Location.svg" width="17" alt="">
        تور ها
        <i class="icon-circle icon-active-header"></i>

      </a>
    </li>
    <li class="li-menu">
      <a class="menu-item-mobile" href="">
        <img src="assets/img/Dish.svg" width="17" alt="">
        هتل
        <i class="icon-circle icon-active-header"></i>
      </a>
    </li>
    <li class="li-menu">
      <a class="menu-item-mobile" routerLink="/blog">
        <img src="assets/img/Document%20Align%20Center%201.svg" width="17" alt="">
        وبلاگ
        <i class="icon-circle icon-active-header"></i>
      </a>
    </li>
  </ul>
</div>
<!--end-->
