.s-header {
  .p-header {
    height: 75px;
    background: var(--white);

    .menu {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;

      .link-header:not(:first-child) {
        margin-right: 1.7rem;
      }

      .link-header {
        color: var(--text-color);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 14px;
        &:hover{
          color: var(--base-color);
        }
      }

    }

    .options-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .menu-l {
        .link:not(:first-child) {
          margin-right: 1.7rem;
        }

        .link {
          color: var(--text-color);
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;
          font-size: 14px;
          &:hover{
            color: var(--base-color);
          }
        }
      }

      .btn-auth {
        border: 2px solid var(--base-color);
        width: 100px;
        height: 35px;
        background: unset;
        border-radius: 6px;
        margin-right: 1.7rem;
        color: var(--base-color);
        font-weight: 500;
        font-size: 13px;
      }

      .p-tel-header {
        margin-right: 1.5rem;

        svg {
          path {
            color: var(--text-color);
          }
        }
      }

      .logo-website {
        margin-right: 1.5rem;
      }

    }
  }
}
