<header>
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-header">
          <div class="right">
            <div class="logo"><img src="assets/img/hamnavaz-logo.png" width="140" alt=""></div>
            <ul class="ul-menu">
              <li class="li-menu">
                <a class="menu-item" href="">
                  <img src="assets/img/Home.svg" width="17" alt="">
                  صفحه اصلی
                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" href="">
                  <img src="assets/img/Location.svg" width="17" alt="">
                  تور ها
                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" href="">
                  <img src="assets/img/Dish.svg" width="17" alt="">
                  هتل
                </a>
              </li>
              <li class="li-menu">
                <a class="menu-item" href="">
                  <img src="assets/img/Document%20Align%20Center%201.svg" width="17" alt="">
                  وبلاگ
                </a>
              </li>
            </ul>
          </div>
          <div class="left">
            <div class="support">
              <img src="assets/img/Calling-header.svg" width="25" alt="">
              <div class="text-support">
                <small>پشتیبانی</small>
                <span>021-84278</span>
              </div>
            </div>
            <a class="btn-login-register" href="">
              <img src="assets/img/User-header.svg" width="18" alt="">
              <span>عضویت و ورود</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
