<div *ngIf="false" class="p-info-trip">
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات تور</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات سافران</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات پرواز</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light bg-info-trip">
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold">اطلاعات هتل</h2>
    </div>
    <div class="tour-items w-100">
      <div class="item w-100 d-flex align-items-center px-2" *ngFor="let item of[1,2,3,4,5,6,7,8]">
        <span class="title">سوال:</span>
        <span class="text">پاسخ</span>
      </div>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-between w-100">
  <div class="d-flex align-items-center mt-4">
    <h2 class="title-tour">{{ data?.package?.tour?.title }}</h2>
  </div>
  <div class="code">
    <span>کد رفرنس:25</span>
  </div>
</div>
<div class="set-request-tour">
  <div class="info-from">
    <span class="city-name">{{ data?.package?.tour?.stCity?.name }}</span>
    <div class="item">
      <span class="title">تاریخ و ساعت پرواز رفت :</span>
      <span class="text">{{ stDate }}</span>
    </div>
    <div class="item">
      <span class="title">تاریخ ورود به هتل :</span>
      <span class="text">{{ calService.convertDateAndTime(data?.package?.tour?.stDate, 'fa') }}</span>
    </div>
  </div>
  <div class="info-time">
    <span class="title">مدت اقامت:</span>
    <span class="text">{{ data?.package?.tour?.dayNum }} روز و {{ data?.package?.tour?.nightNum }} شب</span>
  </div>
  <div class="info-to">
    <span class="city-name">{{ data?.package?.tour?.endCity?.name }}</span>
    <div class="item">
      <span class="title">تاریخ و ساعت پرواز برگشت :</span>
      <span class="text">{{enDate }}</span>
    </div>
    <div class="item">
      <span class="title">تاریخ خروج از هتل :</span>
      <span class="text">{{ calService.convertDateAndTime(data?.package?.tour?.enDate, 'fa') }}</span>
    </div>
  </div>
</div>
<h2 class="title-tour">هتل انتخابی</h2>
<div class="set-request-hotel">
  <!-- twin -->
  <div class="item-hotel">
    <h5>دو تخته</h5>
    <div class="price">
      <strong>{{ data.package.tour.defineTour ? (data.package.prices?.twinRate | sperator) : data.package.prices?.twin
        }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
  <!-- single -->
  <div class="item-hotel">
    <h5>یک تخته</h5>
    <div class="price">
      <strong>{{ data.package.tour.defineTour ? (data.package.prices?.singleRate | sperator) :
        data.package.prices?.single }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
  <!-- triple -->
  <div class="item-hotel">
    <h5>سه تخته</h5>
    <div class="price">
      <strong>{{ data.package.tour.defineTour ? (data.package.prices?.tripleRate | sperator) :
        data.package.prices?.triple }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
  <!-- quad -->
  <div class="item-hotel">
    <h5>چهار تخته</h5>
    <div class="price">
      <strong>{{ data.package.tour.defineTour ? (data.package.prices?.quad | sperator) : data.package.prices?.quad
        }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
  <!-- cwb -->
  <div class="item-hotel">
    <h5>کودک با تخت</h5>
    <div class="price">
      <strong>{{ data.package.tour.defineTour ? (data.package.prices?.cwbRate | sperator) : data.package.prices?.cwb
        }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
  <!-- cnb -->
  <div class="item-hotel">
    <h5>کودک بدون تخت</h5>
    <div class="price">
      <strong>{{ data.package.prices.cnb ? (data.package.prices.cnb | sperator) : 0 }}</strong>
      <small>تومان</small>
    </div>
    <div class="p-count">
      <button class="btn-plus">+</button>
      <span>0</span>
      <button class="btn-minus">-</button>
    </div>
    <small>ظرفیت: 2</small>
  </div>
</div>
<h2 class="title-tour">اطلاعات سرپرست</h2>
<div class="set-info-supervisor">
  <div class="item-form">
    <label class="dana-bold" for="">نام</label>
    <div class="inp-form mt-2">
      <input type="text" [formControl]="nameFC" placeholder="اینجا بنویسید …">
    </div>
  </div>
  <div class="item-form">
    <label class="dana-bold" for=""> نام خانوادگی</label>
    <div class="inp-form mt-2">
      <input type="text" [formControl]="familyFC" placeholder="اینجا بنویسید …">
    </div>
  </div>
  <div class="item-form">
    <label class="dana-bold" for="">
      کد ملی
    </label>
    <div class="inp-form mt-2">
      <input type="text" [formControl]="idCodeFC" placeholder="اینجا بنویسید …">
    </div>
  </div>
  <div class="item-form">
    <label class="dana-bold" for="">
      شهر
    </label>
    <div class="inp-form mt-2">
      <prs-select-city></prs-select-city>
    </div>

  </div>
  <div class="item-form">
    <label class="dana-bold" for="">
      شماره همراه
    </label>
    <div class="inp-form mt-2">
      <input [formControl]="phoneFC" type="text" placeholder="اینجا بنویسید …">
    </div>
  </div>
</div>

<button class="btn-base px-4" style="height: 40px !important;" (click)="addRow()">اضافه کردن</button>
<h2 class="title-tour">اطلاعات مسافرین</h2>
<form [formGroup]="ReserveForm" formArrayName="passengers">
  <div class="set-info-passengers" *ngFor="let item of PassengerForm.controls; let i = index" [formGroupName]="i">
    <div class="item-form">
      <label class="dana-bold" for="">نام و نام خانوادگی</label>
      <div class="inp-form mt-2">
        <input type="text" formControlName="name" placeholder="اینجا بنویسید …" formControlName="fullName">
      </div>
    </div>
    <div class="item-form">
      <label class="dana-bold" for="">
        کد ملی
      </label>
      <div class="inp-form mt-2">
        <input type="text" formControlName="id_code" placeholder="اینجا بنویسید …" formControlName="id_code">
      </div>
    </div>
    <div class="item-form">
      <label class="dana-bold" for="">
        شهر
      </label>
      <div class="inp-form mt-2">
        <select name="" id="" formControlName="city">
          <option value="">تهران</option>
          <option value="">شیراز</option>
          <option value="">اصفهان</option>
        </select>
      </div>
    </div>
    <div class="item-form">
      <label class="dana-bold" for="">
        شماره همراه
      </label>
      <div class="inp-form mt-2">
        <input type="text" formControlName="phoneNumber" placeholder="اینجا بنویسید …">
      </div>
    </div>
    <div class="item-form">
      <label class="dana-bold" for="">
        ملیت
      </label>
      <div class="inp-form mt-2">
        <select formControlName="nationality" name="" id="">
          <option value="">ایرانی</option>
          <option value="">خارجی</option>
        </select>
      </div>
    </div>
    <div class="item-form">
      <label class="dana-bold" for="">
        پاسپورت
      </label>
      <div class="inp-form mt-2">
        <input type="text" placeholder="اینجا بنویسید …" formControlName="passport_code">
      </div>
    </div>
  </div>
</form>
<div class="promo-code my-3">
  <div class="item-form w-25">
    <label class="dana-bold" for="">کد تخفیف</label>
    <div class="inp-form mt-2">
      <input type="text" placeholder="کد تخفیف">
      <a href="" class="btn text-danger">ثبت</a>
    </div>
  </div>
</div>
<div class="rules">
  <input type="checkbox">
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
    بلکه</p>
</div>
<div class="p-submit w-100 d-flex justify-content-center mt-4">
  <button class="btn-base px-4">ثبت درخواست</button>
</div>
