<div class="add-tour">
  <form [formGroup]="form">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">تور داخلی</label>
          <h2>اطلاعات تور</h2>
        </div>
        <div class="left">
          <div class="selectdiv">
            <label>
              <select formControlName="status">
                <option selected> منتشر نشود</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان تور</label>
            <input formControlName="title" type="text">
          </div>
          <div class="item-info-2">
            <div class="select-info">
              <label for="">شهر مبدا</label>
              <select formControlName="stCity_id" name="" id="">
                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>

              </select>
            </div>
            <div class="select-info">
              <label for="">شهر مقصد</label>
              <select formControlName="endCity_id" (change)="cityDesChanged()" name="" id="">
                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>

              </select>
            </div>

          </div>
          <div class="item-info-2">
            <div class="select-info">
              <label for="">تعداد شب</label>
              <select formControlName="nightNum" name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </div>
            <div class="select-info">
              <label for="">تعداد روز</label>
              <select formControlName="dayNum" name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </div>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info">
            <label for="">ـاریخ ورود به هتل</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput [matDatepicker]="picker1"  (click)="picker1.open()">
              <mat-datepicker touchUi #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="item-info">
            <label for="">تاریخ خروج از هتل</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput formControlName="enDate" [matDatepicker]="picker2" (click)="picker2.open()">
              <mat-datepicker touchUi #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="item-info">
            <label for="">تاریخ انقضا پکیج</label>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput formControlName="expireDate" [matDatepicker]="picker3" (click)="picker3.open()">
              <mat-datepicker touchUi #picker3></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>
    <div class="box-info-fly">

        <div class="info-tour-header">
          <div class="right">
            <h2>اطلاعات پرواز</h2>
          </div>
        </div>

        <div class="info-tour-body">
          <div class="top">
            <div class="item-info">
              <label for="">تاریح پرواز رفت</label>
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput [matDatepicker]="picker4" [formControl]="originDateFC" (click)="picker4.open()">
                <mat-datepicker touchUi #picker4></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="item-info">
              <label for="">ساعت پرواز رفت</label>
<!--              <ngb-timepicker  [formControl]="originTimeFC" [meridian]="false"></ngb-timepicker>-->
            </div>
            <div class="item-info-2">
              <div class="select-info w-100">
                <label for="">ایرلاین</label>
                <select name="" id="">
                  <option value="">تهران</option>
                </select>
              </div>

            </div>
          </div>
          <div class="bottom">
            <div class="item-info">
              <label for="">تاریخ پرواز برگشت</label>
              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput [matDatepicker]="picker7" [formControl]="destDateFC" (click)="picker7.open()">
                <mat-datepicker touchUi #picker7></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="item-info">
              <label for="">ساعت پرواز برگشت</label>
<!--              <ngb-timepicker   [formControl]="destDateFC" [meridian]="false"></ngb-timepicker>-->
            </div>
            <div class="item-info-2">
              <div class="select-info w-100">
                <label for="">ایرلاین برگشت</label>
                <select name="" id="">
                  <option value="">تهران</option>
                </select>
              </div>

            </div>

          </div>
        </div>

    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>نرخ ارزها</h2>
        </div>
        <div class="left">
          <div class="selectdiv">
            <label>
              <select formControlName="defineTour" (change)="disableFields()">
                <option [value]="false">یکجا</option>
                <option [value]="true">باجزییات</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">نرخ یورو(تومان)</label>
            <input formControlName="euroRate" type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ دلار(تومان)</label>
            <input formControlName="dollarRate" type="text">
          </div>

        </div>
      </div>
    </div>

    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>نرخ خدمات</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">نرخ بیمه(تومان/ارزی)</label>
            <input formControlName="insuranceRate" type="text">
            <div class="selectdiv">
              <select formControlName="insurancePriceType">
                <option [value]="3">دلار</option>
                <option [value]="2">یورو</option>
                <option [value]="4">درهم</option>
                <option [value]="1">تومان</option>
              </select>
            </div>
          </div>
          <div class="item-info">
            <label for="">نرخ ترانسفر(تومان/ارزی)</label>
            <input formControlName="transferRate" type="text">
            <div class="selectdiv">
              <select formControlName="transferPriceType">
                <option [value]="3">دلار</option>
                <option [value]="2">یورو</option>
                <option [value]="4">درهم</option>
                <option [value]="1">تومان</option>
              </select>
            </div>
          </div>
          <div class="item-info">
            <label for="">نرخ ویزا(تومان/ارزی)</label>
            <input formControlName="visaRate" type="text">
            <div class="selectdiv">
              <select formControlName="visaPriceType">
                <option [value]="3">دلار</option>
                <option [value]="2">یورو</option>
                <option [value]="4">درهم</option>
                <option [value]="1">تومان</option>
              </select>
            </div>
          </div>
          <div class="item-info">
            <label for="">نرخ پرواز کودک(تومان)</label>
            <input formControlName="CHDFlightRate" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="box-info-package">
      <div class="info-tour-header">
        <div class="right">
          <h2>اطلاعات پکیج</h2>
        </div>
      </div>
      <div class="info-tour-body p-0">
        <div class="change-price-box">
          <span>تغییر گروهی قیمت ها</span>
          <input type="text">
        </div>
        <div class="header-box">
          <div class="package-item">#</div>
          <div class="package-item">نام هتل</div>
          <div class="package-item">خدمات</div>
          <div class="package-item">دو تخته (تومان)</div>
          <div class="package-item">سه تخته (تومان)</div>
          <div class="package-item">چهار تخته (تومان)</div>
          <div class="package-item">نرخ بزرگسال (تومان)</div>
          <div class="package-item">سن کودک بدون تخت</div>
          <div class="package-item"><i class="icon-plus-circled" (click)="addRow()"></i></div>

        </div>
        <form [formGroup]="form" formArrayName="packages" action="">
          <div class="body-box" *ngFor="let tour of ToursForm.controls; let i = index"
               [formGroupName]="i">
            <div class="package-item id-package">{{i+1}}</div>
            <div class="package-item">
              <select name="" id="">
                <option *ngFor="let hotel of hotels" [value]="hotel.id">{{hotel.name}}</option>
              </select>
            </div>
            <div class="package-item">
              <select name="" id="" formControlName="age">
                <option *ngFor="let service of services" [value]="service.id">{{service.name}}</option>
              </select>
            </div>
            <div class="package-item">
              <input type="number"  formControlName="twin">
            </div>
            <div class="package-item">
              <input type="number"  formControlName="single">
            </div>
            <div class="package-item">
              <input type="number"  formControlName="cwb">
            </div>
            <div class="package-item">
              <input type="number"  formControlName="ADLRate">
            </div>
            <div class="package-item">
              <input type="number"  formControlName="cnb">
            </div>
            <div class="package-item"><i class="icon-cancel-1" (click)="removePakage(i)"></i></div>
          </div>
        </form>

      </div>
    </div>
    <div class="box-details-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>جزییات تور</h2>
        </div>
      </div>
      <div class="details-body-tour">
        <div class="textarea">
          <textarea formControlName="services" name="" cols="30" rows="10" placeholder="خدمات"></textarea>
          <textarea formControlName="documents" name="" cols="30" rows="10"
                    placeholder="مدارک مورد نیاز"></textarea>
          <textarea formControlName="description" name="" cols="30" rows="10"
                    placeholder="توضیحات تکمیلی"></textarea>
        </div>
        <button type="submit" class="submit-tour" (click)="getData()">ثبت تور</button>
      </div>
    </div>
  </form>

</div>
