<div class="add-tour">

  <form>
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">تور داخلی</label>
          <h2>اطلاعات تور</h2>
        </div>
        <div class="left">
          <div class="selectdiv">
            <label>
              <select>
                <option selected> منتشر نشود </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان تور</label>
            <input type="text">
          </div>
          <div class="item-info-2">
            <div class="select-info">
              <label for="">شهر مبدا</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>
            <div class="select-info">
              <label for="">شهر مقصد</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>

          </div>
          <div class="item-info-2">
            <div class="select-info">
              <label for="">تعداد شب</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>
            <div class="select-info">
              <label for="">تعداد روز</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info">
            <label for="">ـاریخ ورود به هتل</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">تاریخ خروج از هتل</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">تاریخ انقضا پکیج</label>
            <input type="text">
          </div>

        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>اطلاعات پرواز</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">تاریح پرواز رفت</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">ساعت پرواز رفت</label>
            <input type="text">
          </div>
          <div class="item-info-2">
            <div class="select-info w-100">
              <label for="">ایرلاین</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info">
            <label for="">تاریخ برگشت برگشت</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">ساعت پرواز برگشت</label>
            <input type="text">
          </div>
          <div class="item-info-2">
            <div class="select-info w-100">
              <label for="">ایرلاین برگشت</label>
              <select name="" id="">
                <option value="">تهران</option>
              </select>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>نرخ ارزها</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">نرخ یورو(تومان)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ دلار(تومان)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ درهم(تومان)</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>نرخ خدمات</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">نرخ بیمه(تومان/ارزی)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ ترانسفر(تومان/ارزی)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ ویزا(تومان/ارزی)</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>نرخ پرواز</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">نرخ پرواز بزرگسال(تومان)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ پرواز کودک(تومان)</label>
            <input type="text">
          </div>
          <div class="item-info">
            <label for="">نرخ پرواز نوزاد(تومان)</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-package">
      <div class="info-tour-header">
        <div class="right">
          <h2>اطلاعات پکیج</h2>
        </div>
      </div>
      <div class="info-tour-body p-0">
        <div class="change-price-box">
          <span>تغییر گروهی قیمت ها</span>
          <input type="text">
        </div>
        <div class="header-box">
          <div class="package-item">#</div>
          <div class="package-item">نام هتل</div>
          <div class="package-item">خدمات</div>
          <div class="package-item">دو تخته (تومان)</div>
          <div class="package-item">سه تخته (تومان)</div>
          <div class="package-item">چهار تخته (تومان)</div>
          <div class="package-item">سن کودک بدون تخت</div>
          <div class="package-item"><i class="icon-plus-circled"></i></div>

        </div>
        <div class="body-box">
          <div class="package-item id-package">1</div>
          <div class="package-item">
            <select name="" id="">
              <option value="">تهران</option>
            </select>
          </div>
          <div class="package-item">
            <select name="" id="">
              <option value="">تهران</option>
            </select>
          </div>
          <div class="package-item">
            <input type="text">
          </div>
          <div class="package-item">
            <input type="text">
          </div>
          <div class="package-item">
            <input type="text">
          </div>
          <div class="package-item">
            <input type="text">
          </div>
          <div class="package-item"><i class="icon-cancel-1"></i></div>
        </div>
      </div>
    </div>
    <div class="box-details-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>جزییات تور</h2>
        </div>
      </div>
      <div class="details-body-tour">
        <div class="textarea">
          <textarea name="" id="" cols="30" rows="10" placeholder="خدمات"></textarea>
          <textarea name="" id="" cols="30" rows="10" placeholder="مدارک مورد نیاز"></textarea>
          <textarea name="" id="" cols="30" rows="10" placeholder="توضیحات تکمیلی"></textarea>
        </div>
        <button class="submit-tour">ثبت تور</button>
      </div>
    </div>
  </form>

</div>
