<div class="parent-set">
  <div class="item-inp">
    <div class="item-info">
      <label for="en-fa">نام شهر را وارد کنید</label>
      <input id="en-fa" type="text" [formControl]="nameFC" class="ng-untouched ng-pristine ng-valid">
    </div>
    <div class="item-info">
      <label for="en-name">نام انگلیسی شهر را وارد کنید</label>
      <input id="en-name" type="text" [formControl]="nameEnFC" placeholder="">
    </div>
    <div class="item-info-mat">
      <mat-button-toggle-group name="fontStyle" [formControl]="typeFC" aria-label="Font Style">
        <mat-button-toggle [value]="false">خارجی</mat-button-toggle>
        <mat-button-toggle [value]="true">داخلی</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="item-textarea">
    <label for="textarea">توضیحات</label>
    <editor apiKey="0vfc016on7f2xre1903tf40tayspe9cz66smd4qilzs0oc0z" [formControl]="desFC"
            [init]="editorConfig"></editor>
<!--    <textarea [formControl]="desFC" name="" id="textarea" cols="30" rows="10"></textarea>-->
  </div>
  <div class="upload-box">
    <prs-btn [background]="'dark'" (click)="getImages()" [label]="'تصاویر خود را آپلود کنید'"></prs-btn>
    <!--    <prs-upload-file (fileDTO)="getFile($event)"></prs-upload-file>-->
    <div class="multi-img-upload-parent" *ngIf="images.length > 0">
      <div class="images" *ngFor="let img of images;let i = index">
        <img [src]="img" alt="">
        <i class="icon-cancel-1" (click)="removeImage(i)"></i>
      </div>

    </div>
  </div>
  <prs-faq style="width:100%" [inComingFaq]="incomingFaq" (result)="getFaqResult($event)"></prs-faq>

  <prs-btn class="mt-2" [label]="'ثبت'" (click)="submit()" [background]="'blue'" [isLoading]="isLoading"></prs-btn>
</div>
