.parent-set {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--white);
  margin: 1rem auto 0 auto;
  padding: 1rem;
}

.item-inp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 41%;
}

.item-info-mat {
  width: 15%;
}

.item-info input {
  border: 1px solid var(--light-color-two);
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 8px;
  outline: none;
}

.item-textarea {
  margin-top: 1rem;
}

.item-textarea textarea {
  border: 1px solid var(--light-color-two);
  height: 120px;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--white);
  width: 100%;
  font-size: 13px !important;
  font-weight: 500;
  padding: 8px;
  outline: none;
}

:host::ng-deep .uploadfilecontainer {
  padding: 3rem 0 !important;
}

:host::ng-deep .btn-blue {
  padding: 0 44px !important;
}

.upload-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-box prs-upload-file {
  width: 68% !important;
}

.upload-box .img-upload {
  width: 30% !important;
  object-fit: cover;
  height: 125px;
  border-radius: 10px;
}

.multi-img-upload-parent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--light-color-two);
  padding: 12px;
  border-radius: 8px;
}

.multi-img-upload-parent .images {
  width: 23%;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 8px;
}

.multi-img-upload-parent .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.multi-img-upload-parent .images i {
  position: absolute;
  right: 6px;
  top: 6px;
  color: var(--white);
  cursor: pointer;
}

:host::ng-deep .mat-button-toggle {
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
}

:host::ng-deep .mat-button-toggle button {
  height: 100% !important;
  padding-bottom: 0 !important;
  outline: none;
}

:host::ng-deep.mat-button-toggle-label-content {
  line-height: 30px !important;
  font-family: IRANSans !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

:host::ng-deep .mat-button-toggle-group-appearance-standard {
  margin-top: 27px !important;
  display: flex;
  justify-content: flex-end;
}

:host::ng-deep .mat-button-toggle {
  width: 50% !important;
}
.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 99%;
  border-bottom: 2px solid #eee;
  margin-top: 1rem;
}

.title h2 {
  margin-bottom: 0;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--light-color-two);
  margin-top: 12px;
  height: 40px;
  width: 99%;
}

.header-top span {
  margin: auto;
}
.body-top form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  border-bottom: 1px solid #eee;
}
.body-top span{
  margin: auto;
}
.input-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.input-parent input{
  width: 90%;
  border: 1px solid #eee !important;
  height: 33px;
  font-size: 13px;
  padding: 0 8px;
  outline-color:  #eee;
}
@media only screen and (max-width: 868px) {
  .parent-set {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    margin: 1rem auto 0 auto;
    padding: 1rem;
  }
  .item-inp {
    width: 100%;
    flex-direction: column;
  }
  .item-info {
    width: 100%;
    margin-top: 12px;
  }
  .item-info-mat {
    width: 50%;
  }
}
