<div class="list-tour">
  <div class="title">
    <h2>کاربران</h2>
    <a class="btn-add-tour" routerLink="/panel/user/add">اضافه</a>

  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="username">نام کامل کاربر</span>
      <span class="title-tour">تلفن همراه</span>
      <span class="title-tour">نام کاربری</span>
      <span class="view">نقش</span>
      <span class="date-create">تاریخ تولد</span>
      <span class="date-create">تاریخ عضویت</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="users.length > 0">
      <div class="item" *ngFor="let user of users; let i = index">
        <span class="id">{{ i + 1 }}</span>
        <span class="username">{{ user.name + ' ' + user.family  }}</span>
        <span class="username">{{ user.phone ? user.phone : '-' }}</span>
        <span class="username">{{ user.username ? user.username : '-' }}</span>
        <span class="view">{{ user.role ? getRoleFa(user.role) : '-' }}</span>
        <span class="date-create">{{ user.birthDay ? calService.convertDate1(user.birthDay, 'fa') : '-' }}</span>
        <span class="date-create">{{ user.createdAt ? calService.convertDate1(user.createdAt, 'fa') : '-' }}</span>
        <div class="button-setting">
          <a *ngIf="session.checkPermission('User.edit')" routerLink="/panel/user/edit/{{user.id}}" class="edit-btn">ویرایش</a>
          <button *ngIf="session.checkPermission('User.delete')" (click)="deleteClicked(user.id)" class="delete-btn">حذف</button>
        </div>
      </div>
    </div>
  </div>
</div>
