.p-list-city{
  li{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
