@import '~@angular/cdk/overlay-prebuilt.css';
@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import '~ngx-bar-rating/themes/br-default-theme';


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

body {
  direction: rtl !important;
  font-family: 'IRANSans', 'sans-serif' !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin-top: 0;
}

*:after, *:before {
  padding: 0;
  margin-top: 0;
}
:root {
  --base-color: #137CB6;
  --base-color-second: #0C505F;
  --base-color-three: #053742;
  --light-color-one: #C6ECFF;
  --light-color-two: #E0E0E0;
  --gray-color-light: #646564;
  --gray-color-dark: #3E3E3E;
  --box-shadow: 1px 1px 6px #eee;;
  --btn-animtion: 0.3s all;
  --white: #fff;
  --dark: #000;
  --radius-btn: 15px 15px 1px 15px;
  --opacity-color: #3e3e3e78;
  --red-color: #CB1639;
  --green-color: #0D7B0D;
  --title-header: #d5d5d5bd;
}

button, a, li, label, span, p {
  font-size: 14px !important;
  text-decoration: none !important;
}

a {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IRANSans', 'sans-serif' !important;
}

button {
  outline: none;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 0;
}

.prs-responsive {
  max-width: 1366px !important;
  margin: 0 auto;
}

.posi-relative {
  position: relative;
}

.m-auto-x {
  margin: 0 auto;
}

.m-auto-y {
  margin: auto 0;
}

.m-top-1 {
  margin-top: 1rem;
}

.m-bottom-1 {
  margin-bottom: 1rem;
}

.h-90 {
  height: 70%;
}

.mr-2 {
  margin-right: 8px;
}

/*input*/
.inp-form {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 40px;
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.inp-form input {
  all: unset;
  width: 100%;
  font-size: 14px;
}

.inp-form select {
  border: none;
  outline: none;
  background: unset;
  width: 100%;
  font-size: 14px;
}

.inp-form:after {
  position: absolute;
  top: 4px;
  content: '';
  left: 0;
  width: 4px;
  height: 30px;
  background-color: var(--base-color);
}

.inp-form mat-form-field {
  width: 100% !important;
}

.inp-form .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: unset !important;
}

.mat-button-wrapper {
  font-family: IRANSans !important;
}

.mat-calendar-body-cell-content {
  font-family: IRANSans !important;
  font-weight: 600 !important;
}

.mat-calendar-body-selected {
  background-color: var(--base-color) !important;
  color: #fff;
}

.mat-calendar-table-header, .mat-calendar-body-label {
  font-family: IRANSans !important;
  font-weight: 500 !important;
  color: var(--base-color) !important;
}

.mat-calendar-body-label {
  direction: rtl !important;
  text-align: right !important;
}

abbr {
  text-decoration: none !important;
}

.cdk-overlay-pane {
  direction: rtl !important;
}

.mat-calendar-next-button, .mat-calendar-previous-button {
  transform: rotate(180deg) !important;
}

//-----------------

select {
  border: 1px solid var(--gray-color-light);
  outline: var(--base-color) !important;
}

//select

.selectdiv {
  position: relative;
  height: 30px;
}

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 11px;
  top: 5px;
  padding: 0 0 2px;
  border-top: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 30px;
  float: right;
  padding: 0 4px 0 35px;
  font-size: 14px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 2px;
}
.title-en {
  color: var(--base-color);
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 700;
}

.title-small-fa {
  color: var(--gray-color-light);
}

.text-en {
  text-align: left !important;
  font-family: "Ubuntu", sans-serif !important;
  color: var(--gray-color-light);
  line-height: 28px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}
::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  width: 5px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #707070;
}


//----------------mixin
@mixin title-style() {
  font-size: 20px !important;
  color: var(--base-color);
  border: 2px solid red;
}



//pagintion
//pagintion
.ngx-pagination {
  display: flex !important;
  justify-content: center !important;
  margin-top: 1rem !important;
}

.ngx-pagination .current {
  background: var(--base-color-second) !important;
  width: 30px !important;
  display: flex !important;
  justify-content: center !important;
}

.ngx-pagination li {
  border-radius: var(--radius-btn) !important;
  overflow: hidden;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
  content: '»';
  font-size: 20px !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
  content: '«';
  font-size: 20px !important;
}
//select-apple-safari
@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    select {
      background: unset !important;
      outline: none !important;
      border: none !important;
    }
  }
}

.mat-form-field-underline {
  display: none !important;
}
