<!--search-header-->
<prs-loading *ngIf="isLoading"></prs-loading>
<prs-search></prs-search>
<!--end-->

<!--special-tour-->
<section class="special-tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-slider-promo">
          <div class="slider-special-tour">
            <div class="title-tour-special-swiper">
              <div class="top">
                <div class="new-tour">
                  <img src="assets/img/Bookmark.svg" width="17" alt="">
                  <div class="text">
                    <h3>تور های ویژه</h3>
                    <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="border-right"></div>
                <div class="border-left"></div>
              </div>
            </div>
            <swiper class="swiper-tour-special"
                    [slidesPerView]=" this.isMobile? 1 :(isTablet ? 2:4)"
                    [navigation]="true"
                    [spaceBetween]="30">
              <ng-template swiperSlide *ngFor="let tour of specialTours">
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img animated pulse">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a routerLink="tour/{{ tour.slug }}" class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>{{tour.nightNum}} شب و {{tour.dayNum}} روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>{{tour.stCity}} - {{tour.endCity}}</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">{{tour.title}}</h3>
                    <div class="date-special">
                      <span class="from">{{calenderServices.convertDate(tour.createdAt, 'fa')}}</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">{{calenderServices.convertDate(tour.expireDate, 'fa')}}</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special" *ngIf="tour.minPrice === '0'">قیمتی ثبت نشده</strong>
                    <strong class="price-tour-special" *ngIf="tour.minPrice !== '0'">{{tour.minPrice | sperator}} تومان </strong>
                  </div>
                </div>
              </ng-template>


            </swiper>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--end-->

<!--tour-->
<section class="tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto tour-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>تور های جدید</h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
              <a class="view-all-tour" routerLink="/tour/list">مشاهده همه تور ها</a>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="tour-list">
            <prs-thumbnails-tour [tours]="tours"></prs-thumbnails-tour>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--baner-->
<section class="baner">
  <div class="prs-responsive h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-10 m-auto baner-parent h-100">
          <div class="baner-right">
            <img src="assets/img/covid-protocols.66f43e8.svg" alt="">
          </div>
          <div class="baner-left">
            <img src="assets/img/covid-protocols.66f43e8.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->

<!--hotel-->
<section class="hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto hotel-parent">
          <div class="title-hotel-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>هتل های برگزیده شهر</h3>
                  <select [formControl]="hotelCityFC" name="" id="" (change)="hotelCityChanged()">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>

                  </select>
                </div>
              </div>
              <div class="parent-btn-slider">
                <button class="btn-next-slider" (click)="slideNext()">
                  <i class="icon-right-open"></i>
                </button>
                <button class="btn-prev-slider" (click)="slidePrev()">
                  <i class="icon-left-open"></i>
                </button>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <swiper #swiper class="swiper-hotel"
                  [slidesPerView]=" this.isMobile? 1 :(isTablet ? 2:4)"
                  [spaceBetween]="30">
            <ng-template swiperSlide *ngFor="let hotel of hotels">
              <div [style.background-image]="'url(' + hotel.thumbnail + ')'"
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h1> {{hotel.name}}</h1>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>{{hotel.city}} - {{hotel.location ? hotel.location : 'ثبت نشده'}}</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star" *ngFor="let star of getStars(hotel.stars)"></i>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </swiper>

        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--sort-city-->
<section class="sort-city">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto sort-city-parent">
          <div class="title-sort-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>نمایش تور بر اساس شهر</h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <swiper  class="swiper-sort-city"
                  [slidesPerView]=" this.isMobile? 2 :(isTablet ? 3:5)"
                  [navigation]="true"
                  [spaceBetween]="30">
            <ng-template swiperSlide *ngFor="let city of cities">
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city" routerLink="/tour/list/{{city.slug}}">
                  <div class="info-img-sort-tour-city animated fadeInDown">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img [src]="city.image" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور {{city.name}}</span>
                </div>
              </div>
            </ng-template>
          </swiper>

        </div>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--blog-->
<section class="blog">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>وبلاگ گردشگری همنواز</h3>

                  <span>هتل ها، مکان های دیدنی، پارک های آبی همه و همه در اینجا</span>
                </div>
              </div>
              <a class="view-all-tour" routerLink="/blog">مشاهده همه وبلاگ ها</a>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="box-blog-parent">
            <div class="right-blog" *ngIf="blogs.length > 0" routerLink="/blog/{{blogs[0].slug}}"
                 [style.background-image]="'url(' + blogs[0].thumbnail + ')'">
              <div class="info-blog">
                <h6>{{blogs[0].title}}</h6>
                <div class="date-info">
                  <img src="assets/img/Watch.svg" width="20" alt="">
                  <small>انتشار شده در {{calenderServices.convertDate(blogs[0].createdAt, 'fa')}}</small>
                </div>
              </div>
            </div>
            <div class="left-blog">
              <div class="top" *ngIf="blogs.length > 1" routerLink="/blog/{{blogs[1].slug}}"
                   [style.background-image]="'url(' + blogs[1].thumbnail + ')'">
                <div class="info-blog">
                  <h6>{{blogs[1].title}}</h6>
                  <div class="date-info">
                    <img src="assets/img/Watch.svg" width="20" alt="">
                    <small>انتشار شده در {{calenderServices.convertDate(blogs[1].createdAt, 'fa')}}</small>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="bottom-left-blog" *ngIf="blogs.length > 2" routerLink="/blog/{{blogs[2].slug}}"
                     [style.background-image]="'url(' + blogs[2].thumbnail + ')'">
                  <div class="info-blog">
                    <h6>{{blogs[2].title}}</h6>
                    <div class="date-info">
                      <img src="assets/img/Watch.svg" width="20" alt="">
                      <small>انتشار شده در {{calenderServices.convertDate(blogs[2].createdAt, 'fa')}}</small>
                    </div>
                  </div>
                </div>
                <div class="bottom-right-blog" *ngIf="blogs.length > 3" routerLink="/blog/{{blogs[3].slug}}"
                     [style.background-image]="'url(' + blogs[3].thumbnail + ')'">
                  <div class="info-blog">
                    <h6>{{blogs[3].title}}</h6>
                    <div class="date-info">
                      <img src="assets/img/Watch.svg" width="20" alt="">
                      <small>انتشار شده در {{calenderServices.convertDate(blogs[3].createdAt, 'fa')}}</small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->

<!--about-agency-->
<section class="about-agency">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto agency-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>درباره آژانس همنواز آسمان آبی</h3>
                  <span>#بفرمائید‌ـ سفر</span>
                </div>
              </div>
              <a class="view-all-tour" href="">درباره همنواز بیشتر بدانید</a>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="box-info-about-agency">
            <div class="right">
              <div class="text">
                <p>شرکت خدمات مسافرت هوایی و جهانگردی همنواز آسمان آبی با ۱۴ سال سابقه وبادارا بودن مجوز های بند الف و ب
                  از سازمان میراث فرهنگی و گردشگری و سازمان هواپیمایی کشوری همواره بر آن بوده است که بهترین خدمات فروش
                  بلیط هواپیما و تور مسافرتی را به مسافرین محترم و همکاران عزیز عرضه نماید .
                  وب‌سایت همنوازطبق قوانین جمهوری اسلامی ایران، قوانین جرایم اینترنتی و مجموعه‌ی قوانین و مقررات تجارت
                  الکترونیکی فعالیت می‌کند.
                  خدمات و محتوای عرضه شده توسط وب‌سایت همنوازجهت استفاده‌ در این وب‌سایت تولید می‌شوند. هر گونه
                  سوءاستفاده از اطلاعات، متن‌ها، عکس‌ها، نقشه‌ها، طرح‌ها، لوگو و… از این وب‌سایت پیگرد قانونی دارد و هیچ
                  فرد حقیقی یا حقوقی اجازه‌ی سوء استفاده از مطالب این وب‌سایت را ندارد. ذکر مطالب این وب‌سایت در
                  اینترنت، تنها با ذکر نام و نشانی اینترنتی وب‌سایت همنوازو لینک به مطلب ذکر شده مجاز است و در رسانه‌های
                  کاغذی، با کسب اجازه‌ی کتبی از مسئولان وب‌سایت امکان پذیر است . </p>
              </div>
              <div class="option-agency">
                <div class="box">
                  <img src="assets/img/Unlock.svg" width="50" alt="">
                  <span>امنیت در سفر</span>
                </div>
                <div class="box">
                  <img src="assets/img/Add%20Menu.svg" width="50" alt="">
                  <span>اپلیکیشن همراه</span>
                </div>
                <div class="box">
                  <img src="assets/img/Headphone.svg" width="50" alt="">
                  <span>پشتیبانی تا پایان سفر</span>
                </div>
              </div>
            </div>
            <div class="left">
              <div class="box-collapse">
                <div class="item">
                  <a class="parent-collapse collapse-1" data-toggle="collapse" href="#collapseExample">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-1"></i>
                  </a>
                  <div class="collapse" id="collapseExample">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
                <div class="item">
                  <a class="parent-collapse collapse-2" data-toggle="collapse" href="#collapseExample2">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-2"></i>
                  </a>
                  <div class="collapse" id="collapseExample2">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
                <div class="item">
                  <a class="parent-collapse collapse-3" data-toggle="collapse" href="#collapseExample3">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-3"></i>
                  </a>
                  <div class="collapse" id="collapseExample3">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
                <div class="item">
                  <a class="parent-collapse collapse-4" data-toggle="collapse" href="#collapseExample4">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-4"></i>
                  </a>
                  <div class="collapse" id="collapseExample4">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
                <div class="item">
                  <a class="parent-collapse collapse-5" data-toggle="collapse" href="#collapseExample5">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-5"></i>
                  </a>
                  <div class="collapse" id="collapseExample5">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
                <div class="item">
                  <a class="parent-collapse collapse-6" data-toggle="collapse" href="#collapseExample6">
                    <span>آیا تور خارجی هم دارید ؟</span>
                    <i class="icon-down-open icon-6"></i>
                  </a>
                  <div class="collapse" id="collapseExample6">
                    <div class="child-collapse">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--end-->
