<prs-header></prs-header>
<section class="section-one">
  <div class="bg-section-one"></div>
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-box-search">
          <h6>#بفرمائید ـ سفر</h6>
          <h2>انتخاب بهترین تور فقط با یک کلیک !</h2>
          <div class="box-search">
            <div class="inp-form">
              <select name="" id="">
                <option value="">شهر خود را انتخاب کنید *</option>
              </select>
            </div>
            <div class="inp-form">
              <select name="" id="">
                <option value="">چه ماهی می خواهید سفر کنید ؟</option>
              </select>
            </div>
            <button class="btn-search">جستجو کن !</button>
          </div>
          <span class="Continue-trip">سفر ادامه دارد (اسکرول کنید)</span>
          <a href="">
            <i class="icon-scroll-down icon-down-open"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="special-tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-slider-promo">
          <div class="slider-special-tour">
            <div class="title-tour-special-swiper">
              <div class="top">
                <div class="new-tour">
                  <img src="assets/img/Bookmark.svg" width="17" alt="">
                  <div class="text">
                    <h3>تور های ویژه</h3>
                    <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="border-right"></div>
                <div class="border-left"></div>
              </div>
            </div>
            <swiper class="swiper-tour-special"
                    [slidesPerView]="4"
                    [navigation]="true"
                    [spaceBetween]="30">
              <ng-template swiperSlide>
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>۶ شب و ۵ روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>ایران - کیش</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">تور آنتالیا ۰۳ مهر</h3>
                    <div class="date-special">
                      <span class="from">1400/07/04</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">1400/07/۱۰</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special">7,450,000 تومان</strong>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>۶ شب و ۵ روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>ایران - کیش</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">تور آنتالیا ۰۳ مهر</h3>
                    <div class="date-special">
                      <span class="from">1400/07/04</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">1400/07/۱۰</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special">7,450,000 تومان</strong>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>۶ شب و ۵ روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>ایران - کیش</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">تور آنتالیا ۰۳ مهر</h3>
                    <div class="date-special">
                      <span class="from">1400/07/04</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">1400/07/۱۰</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special">7,450,000 تومان</strong>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>۶ شب و ۵ روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>ایران - کیش</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">تور آنتالیا ۰۳ مهر</h3>
                    <div class="date-special">
                      <span class="from">1400/07/04</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">1400/07/۱۰</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special">7,450,000 تومان</strong>
                  </div>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="box-special-tour">
                  <div class="img-special-tour">
                    <div class="hover-info-img">
                      <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                      <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                    </div>
                    <img src="assets/img/Header-slider-tour90-num02.svg" alt="">
                  </div>
                  <div class="top-info-tour-special">
                    <div class="day">
                      <img src="assets/img/Moon%201.svg" width="17" alt="">
                      <span>۶ شب و ۵ روز</span>
                    </div>
                    <div class="location">
                      <img src="assets/img/Location-base-color.svg" width="17" alt="">
                      <span>ایران - کیش</span>
                    </div>
                  </div>
                  <div class="mid-info-tour-special">
                    <h3 class="title-tour-special">تور آنتالیا ۰۳ مهر</h3>
                    <div class="date-special">
                      <span class="from">1400/07/04</span>
                      <img src="assets/img/Up%20Down%201.svg" width="20" alt="">
                      <span class="to">1400/07/۱۰</span>
                    </div>
                  </div>
                  <div class="bottom-info-tour-special">
                    <div class="title-price">
                      <img src="assets/img/Ticket-index.svg" width="17" alt="">
                      <span>شروع قیمت از :</span>
                    </div>
                    <strong class="price-tour-special">7,450,000 تومان</strong>
                  </div>
                </div>
              </ng-template>

            </swiper>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="tour">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto tour-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>تور های جدید</h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
              <a class="view-all-tour" href="">مشاهده همه تور ها</a>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="tour-list">
            <div class="tour-item">
              <div class="tour-city">
                <img src="assets/img/Location.svg" width="40" alt="">
                <div class="info-tour-city">
                  <h6>تور آنتالیا ۰۳ مهر</h6>
                  <div class="text-price">
                    <small class="title-price">شروع قیمت از :</small>
                    <strong class="price-tour">
                      7,450,000 تومان
                    </strong>
                  </div>
                </div>
              </div>
              <div class="tour-days">
                <div class="night">
                  <img src="assets/img/Moon%201.svg" width="15" alt="">
                  <span>۶ شب</span>
                </div>
                <div class="day">
                  <img src="assets/img/Sun.svg" width="17" alt="">
                  <span> ۵ روز</span>
                </div>
              </div>
              <div class="date-tour">
                <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
                <div class="info-date">
                  <span class="from">1400/07/04</span>
                  <span class="to">1400/07/۱۰</span>
                </div>
              </div>
              <div class="type">
                <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
                <span>ایران ایر</span>
              </div>
              <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
            </div>
            <div class="tour-item">
              <div class="tour-city">
                <img src="assets/img/Location.svg" width="40" alt="">
                <div class="info-tour-city">
                  <h6>تور آنتالیا ۰۳ مهر</h6>
                  <div class="text-price">
                    <small class="title-price">شروع قیمت از :</small>
                    <strong class="price-tour">
                      7,450,000 تومان
                    </strong>
                  </div>
                </div>
              </div>
              <div class="tour-days">
                <div class="night">
                  <img src="assets/img/Moon%201.svg" width="15" alt="">
                  <span>۶ شب</span>
                </div>
                <div class="day">
                  <img src="assets/img/Sun.svg" width="17" alt="">
                  <span> ۵ روز</span>
                </div>
              </div>
              <div class="date-tour">
                <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
                <div class="info-date">
                  <span class="from">1400/07/04</span>
                  <span class="to">1400/07/۱۰</span>
                </div>
              </div>
              <div class="type">
                <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
                <span>ایران ایر</span>
              </div>
              <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
            </div>
            <div class="tour-item">
              <div class="tour-city">
                <img src="assets/img/Location.svg" width="40" alt="">
                <div class="info-tour-city">
                  <h6>تور آنتالیا ۰۳ مهر</h6>
                  <div class="text-price">
                    <small class="title-price">شروع قیمت از :</small>
                    <strong class="price-tour">
                      7,450,000 تومان
                    </strong>
                  </div>
                </div>
              </div>
              <div class="tour-days">
                <div class="night">
                  <img src="assets/img/Moon%201.svg" width="15" alt="">
                  <span>۶ شب</span>
                </div>
                <div class="day">
                  <img src="assets/img/Sun.svg" width="17" alt="">
                  <span> ۵ روز</span>
                </div>
              </div>
              <div class="date-tour">
                <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
                <div class="info-date">
                  <span class="from">1400/07/04</span>
                  <span class="to">1400/07/۱۰</span>
                </div>
              </div>
              <div class="type">
                <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
                <span>ایران ایر</span>
              </div>
              <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
            </div>
            <div class="tour-item">
              <div class="tour-city">
                <img src="assets/img/Location.svg" width="40" alt="">
                <div class="info-tour-city">
                  <h6>تور آنتالیا ۰۳ مهر</h6>
                  <div class="text-price">
                    <small class="title-price">شروع قیمت از :</small>
                    <strong class="price-tour">
                      7,450,000 تومان
                    </strong>
                  </div>
                </div>
              </div>
              <div class="tour-days">
                <div class="night">
                  <img src="assets/img/Moon%201.svg" width="15" alt="">
                  <span>۶ شب</span>
                </div>
                <div class="day">
                  <img src="assets/img/Sun.svg" width="17" alt="">
                  <span> ۵ روز</span>
                </div>
              </div>
              <div class="date-tour">
                <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
                <div class="info-date">
                  <span class="from">1400/07/04</span>
                  <span class="to">1400/07/۱۰</span>
                </div>
              </div>
              <div class="type">
                <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
                <span>ایران ایر</span>
              </div>
              <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
            </div>
            <div class="tour-item">
              <div class="tour-city">
                <img src="assets/img/Location.svg" width="40" alt="">
                <div class="info-tour-city">
                  <h6>تور آنتالیا ۰۳ مهر</h6>
                  <div class="text-price">
                    <small class="title-price">شروع قیمت از :</small>
                    <strong class="price-tour">
                      7,450,000 تومان
                    </strong>
                  </div>
                </div>
              </div>
              <div class="tour-days">
                <div class="night">
                  <img src="assets/img/Moon%201.svg" width="15" alt="">
                  <span>۶ شب</span>
                </div>
                <div class="day">
                  <img src="assets/img/Sun.svg" width="17" alt="">
                  <span> ۵ روز</span>
                </div>
              </div>
              <div class="date-tour">
                <img src="assets/img/Up%20Down%201.svg" width="22" alt="">
                <div class="info-date">
                  <span class="from">1400/07/04</span>
                  <span class="to">1400/07/۱۰</span>
                </div>
              </div>
              <div class="type">
                <img src="assets/img/Up%20Down%202.svg" width="17" alt="">
                <span>ایران ایر</span>
              </div>
              <a class="ino-tour-btn" href=""><img src="assets/img/Right%20Arrow%202.svg" width="30" alt=""></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="baner">
  <div class="prs-responsive h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-10 m-auto baner-parent h-100">
          <div class="baner-right">
            <img src="assets/img/covid-protocols.66f43e8.svg" alt="">
          </div>
          <div class="baner-left">
            <img src="assets/img/covid-protocols.66f43e8.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="hotel">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto hotel-parent">
          <div class="title-hotel-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>هتل های برگزیده شهر</h3>
                  <select name="" id="">
                    <option value="">انتخاب شهر</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <swiper class="swiper-hotel"
                  [slidesPerView]="4"
                  [navigation]="true"
                  [spaceBetween]="30">
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div style="background-image: url('assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png') "
                   class="box-hotel">
                <div class="opacity-bg-parent">
                  <div class="info-img"><img src="assets/img/Information.svg" width="22" alt=""></div>
                  <div class="info-hotel">
                    <h6> هتل اسپیناس پالاس</h6>
                    <div class="footer-hotel-info">
                      <div class="location-hotel">
                        <img src="assets/img/Location-white.svg" width="17" alt="">
                        <span>ایران - تهران</span>
                      </div>
                      <div class="rate">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>


          </swiper>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="sort-city">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto sort-city-parent">
          <div class="title-sort-swiper">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>نمایش تور بر اساس شهر</h3>
                  <span>مشاهده مناسب ترین تور های لحظه آخری برای شما</span>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <swiper class="swiper-sort-city"
                  [slidesPerView]="5"
                  [navigation]="true"
                  [spaceBetween]="30">
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="box-sort-tour-city">
                <div class="img-sort-tour-city">
                  <div class="info-img-sort-tour-city">
                    <img class="img-hover-child" src="assets/img/Attachment%201.svg" width="30" alt="">
                    <a class="view-details-more" href="">مشاهده جزئیات بیشتر</a>
                  </div>
                  <img src="assets/img/image_bd8cd2e2-bb81-44d0-82ea-0d0cc32435a3.png" alt="">
                </div>
                <div class="text-sort-tour-city">
                  <span>تور دبی</span>
                </div>
              </div>
            </ng-template>


          </swiper>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto blog-parent">
          <div class="title-tour-parent">
            <div class="top">
              <div class="new-tour">
                <img src="assets/img/Bookmark.svg" width="17" alt="">
                <div class="text">
                  <h3>وبلاگ گردشگری همنواز</h3>
                  <span>هتل ها، مکان های دیدنی، پارک های آبی همه و همه در اینجا</span>
                </div>
              </div>
              <a class="view-all-tour" href="">مشاهده همه وبلاگ ها</a>
            </div>
            <div class="bottom">
              <div class="border-right"></div>
              <div class="border-left"></div>
            </div>
          </div>
          <div class="box-blog-parent">
            <div class="right-blog">
              <div class="info-blog">
                <h6>راهنمای سفر با تور آنتالیا</h6>
                <div class="date-info">
                  <img src="assets/img/Watch.svg" width="20" alt="">
                  <small>انتشار شده در ۱۴۰۰/۰۷/۰۱</small>
                </div>
              </div>
            </div>
            <div class="left-blog">
              <div class="top">
                <div class="info-blog">
                  <h6>راهنمای سفر با تور آنتالیا</h6>
                  <div class="date-info">
                    <img src="assets/img/Watch.svg" width="20" alt="">
                    <small>انتشار شده در ۱۴۰۰/۰۷/۰۱</small>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="bottom-left-blog">
                  <div class="info-blog">
                    <h6>راهنمای سفر با تور آنتالیا</h6>
                    <div class="date-info">
                      <img src="assets/img/Watch.svg" width="20" alt="">
                      <small>انتشار شده در ۱۴۰۰/۰۷/۰۱</small>
                    </div>
                  </div>
                </div>
                <div class="bottom-right-blog">
                  <div class="info-blog">
                    <h6>راهنمای سفر با تور آنتالیا</h6>
                    <div class="date-info">
                      <img src="assets/img/Watch.svg" width="20" alt="">
                      <small>انتشار شده در ۱۴۰۰/۰۷/۰۱</small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<prs-footer></prs-footer>
