<prs-header></prs-header>


<section class="section-one">
  <div class="bg-section-one"></div>
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-box-search">
          <h6>#بفرمائید ـ سفر</h6>
          <h2>انتخاب بهترین تور فقط با یک کلیک !</h2>
          <div class="box-search">
            <div class="inp-form">
              <input type="text" placeholder="نام کاربری">
            </div>
            <div class="inp-form">
              <input type="text" placeholder="رمز عبور">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<prs-footer></prs-footer>
