<!-- <prs-loading *ngIf="infoLoading"></prs-loading> -->
<div class="add-tour">
    <div class="box-info-tour">

      <div class="info-tour-body">
        <h2 class="title mt-3">اطلاعات کاربر</h2>
        <div class="top">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام </label>
              <span>{{ info.name }}</span>
            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام خانوادگی</label>
              <span>{{ info.family }}</span>

            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>جنسیت</label>
              <span>{{ info.gender == '0' ? 'مرد' : 'زن' }}</span>

            </div>

          </div>
          <div class="item-info-2">
            <label>شهر</label>
            <span>{{ info.city?.name }}</span>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل</label>
              <span>{{ info.email }}</span>

            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>کدملی</label>
              <span>{{ info.id_code }}</span>
            </div>

          </div>
        </div>
        <h2 style="margin: 2rem 0 0 0 !important;" class="title">اطلاعات آژانس</h2>
        <div class="top">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام آژانس</label>
              <span>{{ info.agency.name }}</span>

            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>سایت</label>
              <span>{{ info.agency.site }}</span>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل شرکت</label>
              <span>{{ info.agency.email }}</span>
            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن اضطراری</label>

              <span>{{ info.agency.necessaryPhone }}</span>

            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن آژانس</label>
              <span>{{ info.agency.tell }}</span>
            </div>
          </div>
          <div class="address w-100 mx-auto">
            <div style="width: 100% !important;" class="item-info-2">
              <div class="item-info w-100 px-3">
                <label>آدرس آژانس</label>
                <span>{{ info.agency.address }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">

                  <span>لوگو</span>
                </div>
                <div class="single-img-upload-parent" *ngIf="info.agency.logo?.url !== ''">
                  <img [src]="info.agency.logo ? info.agency.logo.url : ''" width="100%" height="200" alt="">
                </div>
              </div>

            </div>

          </div>
          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند الف</span>
                </div>
                <div class="single-img-upload-parent" *ngIf="info.agency.LicenseFileA?.url !== ''">
                  <img [src]="info.agency.LicenseFileA ? info.agency.LicenseFileA.url : ''" width="100%" height="200" alt="">
                </div>
              </div>

            </div>
            <div style="margin-right: 15px" class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند ب</span>


                </div>
                <div class="single-img-upload-parent" *ngIf="info.agency.LicenseFileB?.url !==''">
                  <img [src]="info.agency.LicenseFileB ? info.agency.LicenseFileB.url : ''" width="100%" height="200" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>



</div>
