<div class="add-tour">
  <form>
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>جزییات آژانس</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label>نام</label>
            <span class="span-inp"  type="">{{info.name ? info.name : 'ثبت نشده'}}</span>

          </div>
          <div class="item-info">
            <label>نام و نام خانوادگی مدیر</label>
            <span class="span-inp"  type="text">{{info.user ? info.user.name + ' ' + info.user.family : 'ثبت نشده'}}</span>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>---</label>
              <span class="span-inp"   type="text">---</span>

            </div>
          </div>

          <div class="item-info-2">
            <div class="item-info w-100">
              <label>نام آژانس</label>
              <span class="span-inp"  type="text">{{info.name?info.name : 'ثبت نشده'}}</span>

            </div>

          </div>

        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>سایت</label>
              <span class="span-inp"  type="text">{{info.site? info.site : 'ثبت نشده'}}</span>

            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>آدرس</label>
              <span class="span-inp"  type="text">{{info.address? info.address : 'ثبت نشده'}}</span>

            </div>
          </div>

        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>ایمیل</label>
              <span class="span-inp"  type="text">{{info.email? info.email : 'ثبت نشده'}}</span>

            </div>

          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن اضطراری</label>
              <span class="span-inp"  type="text">{{info.necessaryPhone ? info.necessaryPhone : 'ثبت نشده'}}</span>

            </div>

          </div>
        </div>
        <div class="bottom">
          <div class="item-info-2">
            <div class="item-info w-100">
              <label>تلفن آژانس</label>
              <span class="span-inp"  type="text">{{info.tell ? info.tell : 'ثبت نشده'}}</span>

            </div>
          </div>
          <div class="item-info-2">
            <div class="item-info w-100">
              <label> گروه کمیسیون</label>
              <span class="span-inp" type="text" *ngFor="let co of info.commissions">{{co + 'درصدی' + ','}}</span>

            </div>
          </div>
        </div>
        <div class="numbers">
          <div class="item-info w-40">
            <label>تعداد کارمندان</label>
            <span class="span-inp w-50" type="text">{{info.crewCount ? info.crewCount : 'ثبت نشده'}}</span>

          </div>
        </div>
        <div class="bottom uploads-parent">
          <div class="item-info-upload">
            <div class="item-info w-100">
              <div class="top-one">
                <div class="item-info w-100">
                  <!--                  <button class="btn-upload-img" (click)="getLogo()">لوگو خود را آپلود کنید</button>-->
                  <span>لوگو</span>

                                </div>
                <span *ngIf="!info.logo">ثبت نشده</span>

                <div class="single-img-upload-parent" *ngIf="info.logo" >
                  <img [src]="publicService.setPrefix(info.logo)" width="100%" height="200" alt="">
                </div>
              </div>

            </div>

          </div>
          <div class="item-info-upload">
<!--            <div class="item-info">-->
<!--              <div class="top-one">-->
<!--                <div class="item-info">-->
<!--                  <span>مجوز بند الف</span>-->

<!--                </div>-->
<!--                <span *ngIf="!info.LicenseFileA">ثبت نشده</span>-->

<!--                <div class="single-img-upload-parent" *ngIf="info.LicenseFileA" >-->
<!--                  <img [src]="publicService.setPrefix(info.LicenseFileA)" width="100%" height="200" alt="">-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
            <div style="margin-right: 15px" class="item-info">
              <div class="top-one">
                <div class="item-info w-100">
                  <span>مجوز بند ب</span>

                </div>
                <span *ngIf="!info.LicenseFileB">ثبت نشده</span>
                <div class="single-img-upload-parent" *ngIf="info.LicenseFileB" >
                  <img [src]="publicService.setPrefix(info.LicenseFileB)" width="100%" height="200" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

</div>
