<div class="add-tour px-5">
  <form [formGroup]="settingForm">

    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>تنظیمات</h2>
        </div>
        <div class="left">

          <label for="isClose">اسنپ تریپ بسته است</label>
          <mat-checkbox id="isClose" formControlName="isClose"></mat-checkbox>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <!--          title-->
          <div class="item-info">
            <label for="">عنوان سایت</label>
            <div class="inp-form-setting">
              <input class="input" formControlName="title" type="text">

            </div>
            <span class="required f-10" *ngIf="settingForm.get('title')?.touched && settingForm.get('title')?.invalid">
              این فیلد الزامی است
            </span>
            <div *ngIf="errorService.hasError('title')">
              <span class="text-danger">{{errorService.getError('title')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">کد کنسول گوگل</label>
            <div class="inp-form-setting">

              <input formControlName="consoleGoogle" type="text">
            </div>
            <span class="required f-10"
              *ngIf="settingForm.get('consoleGoogle')?.touched && settingForm.get('consoleGoogle')?.invalid">
              این فیلد الزامی است
            </span>
            <div *ngIf="errorService.hasError('consoleGoogle')">
              <span class="text-danger">{{errorService.getError('consoleGoogle')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">ایمیل</label>
            <div class="inp-form-setting">

              <input formControlName="email" type="text">
            </div>
            <span class="required f-10" *ngIf="settingForm.get('email')?.touched && settingForm.get('email')?.invalid">
              این فیلد الزامی است
            </span>
            <div *ngIf="errorService.hasError('email')">
              <span class="text-danger">{{errorService.getError('email')}}</span>
            </div>
          </div>
        </div>
 
      </div>
    </div>

    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>مدیریت سوالات متداول</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <prs-faq style="width:100%" [inComingFaq]="settingForm.value.faq" (result)="getFaqResult($event)"></prs-faq>
        </div>
      </div>
    </div>

    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>مدیریت متاتگ ها</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <!-- title -->
          <div class="item-info">
            <label for="">عنوان متا</label>
            <div class="inp-form-setting">
              <select [formControl]="metaNameFC">
                <option *ngFor="let item of metaNames" [value]="item">{{ item }}</option>
              </select>
            </div>
            <span class="required f-10" *ngIf="metaNameFC.touched && metaNameFC.invalid">
              این فیلد الزامی است
            </span>
          </div>
          <!-- description -->
          <div class="item-info">
            <label for="">مقدار متا</label>
            <div class="inp-form-setting">

              <input [formControl]="metaValueFC" type="text">
            </div>
            <span class="required f-10" *ngIf="metaValueFC.touched && metaValueFC.invalid">
              این فیلد الزامی است
            </span>
          </div>

        </div>
        <div class="bottom">
          <div class="item-info" *ngFor="let item of metaTags; let i = index">
            <span>{{ item.name }}</span>
            <i class="icon-cancel" (click)="removeMetaItem(i)"></i>
          </div>
        </div>


        <prs-btn class="btn-submit-tour w-15 mt-3" [background]="'blue'" (click)="addMeta()" [isLoading]="isLoading"
          [label]="'ثبت'"></prs-btn>
      </div>
    </div>

    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>مدیریت فوتر</h2>
        </div>
      </div>
      <div class="info-tour-body">

        <div class="top">

          <editor apiKey="0vfc016on7f2xre1903tf40tayspe9cz66smd4qilzs0oc0z" formControlName="descriptionFooter"
            [init]="editorConfig"></editor>

        </div>

        <!--        <div class="bottom">-->

        <!--          <div class="item-info">-->
        <!--            <label for="">نماد 1</label>-->
        <!--            <input [formControl]="namad1FC" type="text">-->
        <!--          </div>-->

        <!--          <div class="item-info">-->
        <!--            <label for="">نماد 2</label>-->
        <!--            <input [formControl]="namad2FC" type="text">-->
        <!--          </div>-->

        <!--          <div class="item-info">-->
        <!--            <label for="">نماد 3</label>-->
        <!--            <input [formControl]="namad3FC" type="text">-->
        <!--          </div>-->

        <!--          <div class="item-info">-->
        <!--            <prs-btn class="btn-submit-tour" [background]="'blue'" (click)="setNamads()" [isLoading]="isLoading"-->
        <!--                     [label]="'ثبت نماد ها'"></prs-btn>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>

    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <h2>مدیریت بنر ها</h2>
        </div>
      </div>
      <div class="info-tour-body">

        <div class="top">
          <prs-upload-single [incommingFile]="{url :settingForm.value.banner1,path: ''}" [title]="'بنر اول'"
            (result)="getBanner1($event)"></prs-upload-single>
          <prs-upload-single [incommingFile]="{url :settingForm.value.banner2,path: ''}" [title]="'بنر دوم'"
            (result)="getBanner2($event)"></prs-upload-single>

        </div>

        <div class="bottom">
          <prs-upload-single [incommingFile]="{url :settingForm.value.mobileBanner,path: ''}" [title]="'بنر موبایل'"
            (result)="getMobileBanner($event)"></prs-upload-single>
          <prs-upload-single [incommingFile]="{url :settingForm.value.mobileBanner2,path: ''}"
            [title]="' بنر موبایل دوم'" (result)="getMobileBanner2($event)"></prs-upload-single>
        </div>
      </div>
    </div>

  <button class="btn-base w-15 mt-3" (click)="setSetting()">
  <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
  ثبت تنظیمات</button>

 

  </form>
</div>