<div class="add-tour">

  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن اتاق جدید</label>
          <h2>اطلاعات اتاق</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان انگلیسی اتاق</label>
            <input [formControl]="nameFC" type="text">
          </div>
          <div class="item-info">
            <label for="">عنوان اتاق</label>
            <input [formControl]="labelFC" type="text">
          </div>
          <div class="item-info">
            <label for="">ظرفیت اتاق</label>
            <input [formControl]="capacityPersonFC" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="btn-parent-submit">
      <button class="submit-tour" (click)="roomId === 0 ? add() : edit()">ثبت اتاق</button>
    </div>
  </form>

</div>


