<prs-address-bar></prs-address-bar>
<section class="contact-us">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto parent-contact-us">
          <div class="map-location">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2889932769044!2d51.43323711512511!3d35.719110535501315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03d96fbc3287%3A0xf6b4bf5ce7af7319!2z2YfZhdmG2YjYp9iyINii2LPZhdin2YYg2KLYqNuM!5e0!3m2!1sen!2s!4v1634458141490!5m2!1sen!2s"
              width="100%" height="170" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="info-contact">
            <div class="info-box-right">
              <div class="child">
                <img src="assets/img/008-maps.svg" width="20" alt="">
                <span>سهروردی جنوبی ، خیابان ابرار شرقی ، خیابان اقلیمی ، پلاک 12 ، واحد سوم</span>
              </div>
              <div class="child">
                <img src="assets/img/003-telephone.svg" width="20" alt="">
                <span>021-84278 - 021-84279000</span>
              </div>
              <div class="child">
                <img src="assets/img/002-speech%20bubble.svg" width="20" alt="">
                <span> واتساپ : 09102500025</span>
              </div>
              <div class="child">
                <img src="assets/img/001-mail%20inbox%20app.svg" width="20" alt="">
                <span>info@hamnavaz.com</span>
              </div>

            </div>
            <div class="wrapper">
              <div class="icon instagram">
                <div class="tooltip">https://instgram.com/hamnavaz.tour</div>
                <div class="span-margin"><i class=" icon-instagram"></i></div>
              </div>
              <div class="icon instagram">
                <div class="tooltip">mail:info@hamnavaz.com</div>
                <div class="span-margin"><i class="icon-mail-alt"></i></div>
              </div>
              <div class="icon instagram">
                <div class="tooltip">09102500025
                </div>
                <div class="span-margin"><i class="icon-whatsapp"></i></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
