<prs-address-bar></prs-address-bar>
<section class="contact">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 m-auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.2889932769044!2d51.43323711512511!3d35.719110535501315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03d96fbc3287%3A0xf6b4bf5ce7af7319!2z2YfZhdmG2YjYp9iyINii2LPZhdin2YYg2KLYqNuM!5e0!3m2!1sen!2s!4v1634458141490!5m2!1sen!2s"
            width="100%" height="170" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <div class="parent-contact">
            <div class="info-contact">
              <div class="box-info-contact">
                <h2 class="title-h2">اطلاعات تماس</h2>
                <small>جهت کسب اطلاعات بیشتر با ما در ارتباط باشید !</small>
                <div class="item-child-info">
                  <img class="tel-img" src="assets/img/Calling-header.svg" width="20" alt="">
                  <strong>تلفن تماس :</strong>
                  <span>77210100 - 77895229 </span>
                </div>
                <div class="item-child-info">
                  <img class="massage-img" src="assets/img/Document%20Align%20Center%201.svg" width="20" alt="">
                  <strong>ایمیل :</strong>
                  <span>shop@binicishop.ir </span>
                </div>
                <div class="item-child-info">
                  <img class="watch-img" src="assets/img/Watch.svg" width="20" alt="">
                  <strong>ساعات کاری :</strong>
                  <span> شنبه تا پنجشنبه 8 الي 13 - 14 الي 19 به جز ايام تعطيل </span>
                </div>
                <div class="item-child-info">
                  <img class="location-img" src="assets/img/Location.svg" width="20" alt="">
                  <strong>آدرس :</strong>
                  <span> تهران میدان رسالت انتهای بلوار دلاوران پلاک 30 </span>
                </div>
              </div>
              <div class="box-social-network">
                <h2 class="title">ما را در صفحات اجتماعی دنبال کنید :</h2>
                <div class="social">
                  <div class="wrapper">
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <div class="span-margin"><i class=" icon-instagram"></i></div>
                    </div>
                    <div class="icon facebook">
                      <div class="tooltip">li</div>
                      <div class="span-margin"><i class=" icon-telegram"></i></div>
                    </div>
                    <div class="icon twitter">
                      <div class="tooltip">Twitter</div>
                      <div class="span-margin"><i class="icon-mail-alt"></i></div>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">whatsapp
                      </div>
                      <div class="span-margin"><i class="icon-whatsapp"></i></div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="form-contact">
              <h2 class="title-h2">فرم ارتباط با ما</h2>
              <small>جهت ارتباط با کارشناسان ما فرم زیر را تکمیل و ارسال کنید !</small>
              <div class="box-form">
                <div class="item">
                  <input type="text" placeholder="نام">
                  <input type="text" placeholder="نام خانوادگی">
                </div>
                <div class="item">
                  <input type="text" placeholder="شماره موبایل">
                  <input type="text" placeholder="ایمیل">
                </div>
                <div class="item">
                  <textarea name="" id="" cols="30" rows="10" placeholder="متن پیام"></textarea>
                </div>
                <button class="send">ارسال پیام</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
